/*
Automation V4

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v4
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package automation_v4

import (
	"bytes"
	"context"
	"io"
	"net/http"
	
	"github.com/killean-johnson/go-hubspot"
"net/url"
	"reflect"
)


// EmailCampaignsAPIService EmailCampaignsAPI service
type EmailCampaignsAPIService service

type ApiGetAutomationV4FlowsEmailCampaignsRequest struct {
	ctx context.Context
	ApiService *EmailCampaignsAPIService
	after *string
	before *string
	limit *int32
	flowId *[]string
}

// The paging cursor token of the last successfully read resource will be returned as the &#x60;paging.next.after&#x60; JSON property of a paged response containing more results.
func (r ApiGetAutomationV4FlowsEmailCampaignsRequest) After(after string) ApiGetAutomationV4FlowsEmailCampaignsRequest {
	r.after = &after
	return r
}

func (r ApiGetAutomationV4FlowsEmailCampaignsRequest) Before(before string) ApiGetAutomationV4FlowsEmailCampaignsRequest {
	r.before = &before
	return r
}

// The maximum number of results to display per page.
func (r ApiGetAutomationV4FlowsEmailCampaignsRequest) Limit(limit int32) ApiGetAutomationV4FlowsEmailCampaignsRequest {
	r.limit = &limit
	return r
}

// The ID of the workflow.
func (r ApiGetAutomationV4FlowsEmailCampaignsRequest) FlowId(flowId []string) ApiGetAutomationV4FlowsEmailCampaignsRequest {
	r.flowId = &flowId
	return r
}

func (r ApiGetAutomationV4FlowsEmailCampaignsRequest) Execute() (*CollectionResponseApiFlowEmailCampaign, *http.Response, error) {
	return r.ApiService.GetAutomationV4FlowsEmailCampaignsExecute(r)
}

/*
GetAutomationV4FlowsEmailCampaigns Retrieve workflow emails

Retrieve emails sent by a workflow by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAutomationV4FlowsEmailCampaignsRequest
*/
func (a *EmailCampaignsAPIService) GetAutomationV4FlowsEmailCampaigns(ctx context.Context) ApiGetAutomationV4FlowsEmailCampaignsRequest {
	return ApiGetAutomationV4FlowsEmailCampaignsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionResponseApiFlowEmailCampaign
func (a *EmailCampaignsAPIService) GetAutomationV4FlowsEmailCampaignsExecute(r ApiGetAutomationV4FlowsEmailCampaignsRequest) (*CollectionResponseApiFlowEmailCampaign, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CollectionResponseApiFlowEmailCampaign
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmailCampaignsAPIService.GetAutomationV4FlowsEmailCampaigns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/automation/v4/flows/email-campaigns"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	if r.before != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "before", r.before, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.flowId != nil {
		t := *r.flowId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "flowId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "flowId", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(hubspot.ContextKey).(hubspot.Authorizer); ok {
			auth.Apply(hubspot.AuthorizationRequest{
				QueryParams: localVarQueryParams,
				FormParams:  localVarFormParams,
				Headers:     localVarHeaderParams,
			})
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
