openapi: 3.0.1
info:
  description: |-
    Pipelines represent distinct stages in a workflow, like closing a deal or servicing a support ticket. These endpoints provide access to read and modify pipelines in HubSpot. Pipelines support `deals` and `tickets` object types.

    ## Pipeline ID validation

    When calling endpoints that take pipelineId as a parameter, that ID must correspond to an existing, un-archived pipeline. Otherwise the request will fail with a `404 Not Found` response.
  title: Pipelines
  version: v3
  x-hubspot-product-tier-requirements:
    marketing: FREE
    sales: FREE
    service: FREE
    cms: STARTER
  x-hubspot-api-use-case: "To streamline customer support processes, use this API\
    \ to retrieve your existing ticket pipelines and add new stages based on your\
    \ business needs. Support reps can then assign tickets to those pipeline stages\
    \ to track progress on customer issues."
  x-hubspot-related-documentation:
  - name: Pipelines Guide
    url: https://developers.hubspot.com/docs/guides/api/crm/pipelines
  x-hubspot-introduction: "Use the pipelines API to create and manage deal and ticket\
    \ pipelines. Pipelines enable you to track the status or progress of deals and\
    \ tickets, such as closing deals and opening support tickets."
servers:
- url: https://api.hubapi.com
tags:
- name: Pipeline Stage Audits
- name: Pipelines
- name: Pipeline Audits
- name: Pipeline Stages
paths:
  /crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}/audit:
    get:
      description: "Return a reverse chronological list of all mutations that have\
        \ occurred on the pipeline stage identified by `{stageId}`."
      operationId: "get-/crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}/audit_getAudit"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: stageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicAuditInfoNoPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.orders.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.schemas.listings.read
      - private_apps:
        - crm.schemas.listings.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.sensitive.write
      - oauth2:
        - crm.schemas.carts.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - automation
      - private_apps:
        - crm.objects.contacts.sensitive.write.v2
      - private_apps:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.schemas.services.read
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.invoices.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.schemas.subscriptions.read
      - private_apps:
        - crm.schemas.companies.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.write
      - private_apps:
        - crm.objects.deals.sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.write
      - oauth2:
        - crm.objects.appointments.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.deals.sensitive.write.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.write
      - private_apps:
        - tickets.sensitive
      - private_apps:
        - crm.objects.feedback_submissions.read
      - oauth2:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.custom.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.appointments.sensitive.read
      - private_apps:
        - crm.objects.companies.sensitive.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.schemas.appointments.read
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.read
      - oauth2:
        - crm.schemas.courses.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.objects.leads.write
      - private_apps:
        - crm.schemas.contacts.read
      - private_apps:
        - tickets.highly_sensitive.v2
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.schemas.custom.read
      - oauth2:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.goals.write
      - private_apps:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.schemas.commercepayments.read
      - oauth2:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.schemas.custom.read
      - private_apps:
        - media_bridge.read
      - oauth2:
        - crm.schemas.commercepayments.read
      - private_apps:
        - timeline
      - private_apps:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.contacts.sensitive.read.v2
      - private_apps:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.custom.sensitive.write
      - private_apps:
        - crm.objects.contacts.sensitive.read
      - private_apps:
        - crm.schemas.invoices.read
      - private_apps:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.marketing_events.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.quotes.read
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.appointments.write
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.contacts.sensitive.write
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.read
      - private_apps:
        - automation
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.schemas.quotes.read
      - private_apps:
        - crm.schemas.quotes.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps:
        - crm.objects.companies.sensitive.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - private_apps:
        - crm.schemas.carts.read
      - private_apps:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.schemas.services.read
      - private_apps:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read
      - oauth2:
        - crm.schemas.subscriptions.read
      - oauth2:
        - crm.schemas.companies.read
      - private_apps:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - private_apps:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.feedback_submissions.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.deals.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - e-commerce
      - private_apps:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.schemas.deals.read
      - private_apps:
        - crm.objects.invoices.read
      - private_apps:
        - crm.schemas.orders.read
      - oauth2:
        - crm.schemas.deals.read
      - private_apps:
        - crm.schemas.appointments.read
      - oauth2:
        - crm.schemas.orders.read
      - private_apps:
        - crm.schemas.courses.read
      - private_apps:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.contacts.read
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.custom.sensitive.read
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - timeline
      - oauth2:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.schemas.invoices.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.services.read
      - private_apps:
        - crm.objects.deals.highly_sensitive.write
      - oauth2:
        - crm.objects.marketing_events.read
      summary: Return an audit of all changes to the pipeline stage
      tags:
      - Pipeline Stage Audits
  /crm/v3/pipelines/{objectType}/{pipelineId}:
    delete:
      description: "Delete the pipeline identified by `{pipelineId}`."
      operationId: "delete-/crm/v3/pipelines/{objectType}/{pipelineId}_archive"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pipelineId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: validateReferencesBeforeDelete
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: validateDealStageUsagesBeforeDelete
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.schemas.invoices.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.orders.write
      - oauth2:
        - crm.schemas.invoices.write
      - oauth2:
        - crm.schemas.orders.write
      - private_apps:
        - crm.schemas.orders.write
      - oauth2:
        - crm.objects.orders.write
      - private_apps:
        - tickets.sensitive
      - oauth2:
        - crm.schemas.contacts.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.schemas.appointments.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.write
      - oauth2:
        - crm.schemas.courses.write
      - private_apps:
        - crm.schemas.courses.write
      - oauth2:
        - crm.schemas.carts.write
      - private_apps:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.carts.write
      - private_apps:
        - crm.pipelines.orders.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - private_apps:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.services.write
      - oauth2:
        - crm.schemas.deals.write
      - oauth2:
        - crm.pipelines.orders.write
      - private_apps:
        - crm.schemas.services.write
      - oauth2:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.schemas.listings.write
      - private_apps:
        - crm.schemas.companies.write
      - oauth2:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.listings.write
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - private_apps:
        - crm.schemas.deals.write
      summary: Delete a pipeline
      tags:
      - Pipelines
    get:
      description: "Return a single pipeline object identified by its unique `{pipelineId}`."
      operationId: "get-/crm/v3/pipelines/{objectType}/{pipelineId}_getById"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pipelineId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.orders.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.schemas.listings.read
      - private_apps:
        - crm.schemas.listings.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.sensitive.write
      - oauth2:
        - crm.schemas.carts.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - automation
      - private_apps:
        - crm.objects.contacts.sensitive.write.v2
      - private_apps:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.schemas.services.read
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.invoices.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.schemas.subscriptions.read
      - private_apps:
        - crm.schemas.companies.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.write
      - private_apps:
        - crm.objects.deals.sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.write
      - oauth2:
        - crm.objects.appointments.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.deals.sensitive.write.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.write
      - private_apps:
        - tickets.sensitive
      - private_apps:
        - crm.objects.feedback_submissions.read
      - oauth2:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.custom.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.appointments.sensitive.read
      - private_apps:
        - crm.objects.companies.sensitive.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.schemas.appointments.read
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.read
      - oauth2:
        - crm.schemas.courses.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.objects.leads.write
      - private_apps:
        - crm.schemas.contacts.read
      - private_apps:
        - tickets.highly_sensitive.v2
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.schemas.custom.read
      - oauth2:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.goals.write
      - private_apps:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.schemas.commercepayments.read
      - oauth2:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.schemas.custom.read
      - private_apps:
        - media_bridge.read
      - oauth2:
        - crm.schemas.commercepayments.read
      - private_apps:
        - timeline
      - private_apps:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.contacts.sensitive.read.v2
      - private_apps:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.custom.sensitive.write
      - private_apps:
        - crm.objects.contacts.sensitive.read
      - private_apps:
        - crm.schemas.invoices.read
      - private_apps:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.marketing_events.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.quotes.read
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.appointments.write
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.contacts.sensitive.write
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.read
      - private_apps:
        - automation
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.schemas.quotes.read
      - private_apps:
        - crm.schemas.quotes.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps:
        - crm.objects.companies.sensitive.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - private_apps:
        - crm.schemas.carts.read
      - private_apps:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.schemas.services.read
      - private_apps:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read
      - oauth2:
        - crm.schemas.subscriptions.read
      - oauth2:
        - crm.schemas.companies.read
      - private_apps:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - private_apps:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.feedback_submissions.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.deals.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - e-commerce
      - private_apps:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.schemas.deals.read
      - private_apps:
        - crm.objects.invoices.read
      - private_apps:
        - crm.schemas.orders.read
      - oauth2:
        - crm.schemas.deals.read
      - private_apps:
        - crm.schemas.appointments.read
      - oauth2:
        - crm.schemas.orders.read
      - private_apps:
        - crm.schemas.courses.read
      - private_apps:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.contacts.read
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.custom.sensitive.read
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - timeline
      - oauth2:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.schemas.invoices.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.services.read
      - private_apps:
        - crm.objects.deals.highly_sensitive.write
      - oauth2:
        - crm.objects.marketing_events.read
      summary: Return a pipeline by ID
      tags:
      - Pipelines
    patch:
      description: "Perform a partial update of the pipeline identified by `{pipelineId}`.\
        \ The updated pipeline will be returned in the response."
      operationId: "patch-/crm/v3/pipelines/{objectType}/{pipelineId}_update"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pipelineId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: validateReferencesBeforeDelete
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: validateDealStageUsagesBeforeDelete
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelinePatchInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.schemas.invoices.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.orders.write
      - oauth2:
        - crm.schemas.invoices.write
      - oauth2:
        - crm.schemas.orders.write
      - private_apps:
        - crm.schemas.orders.write
      - oauth2:
        - crm.objects.orders.write
      - private_apps:
        - tickets.sensitive
      - oauth2:
        - crm.schemas.contacts.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.schemas.appointments.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.write
      - oauth2:
        - crm.schemas.courses.write
      - private_apps:
        - crm.schemas.courses.write
      - oauth2:
        - crm.schemas.carts.write
      - private_apps:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.carts.write
      - private_apps:
        - crm.pipelines.orders.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - private_apps:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.services.write
      - oauth2:
        - crm.schemas.deals.write
      - oauth2:
        - crm.pipelines.orders.write
      - private_apps:
        - crm.schemas.services.write
      - oauth2:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.schemas.listings.write
      - private_apps:
        - crm.schemas.companies.write
      - oauth2:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.listings.write
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - private_apps:
        - crm.schemas.deals.write
      summary: Update a pipeline
      tags:
      - Pipelines
    put:
      description: Replace all the properties of an existing pipeline with the values
        provided. This will overwrite any existing pipeline stages. The updated pipeline
        will be returned in the response.
      operationId: "put-/crm/v3/pipelines/{objectType}/{pipelineId}_replace"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pipelineId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: validateReferencesBeforeDelete
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: validateDealStageUsagesBeforeDelete
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.schemas.invoices.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.orders.write
      - oauth2:
        - crm.schemas.invoices.write
      - oauth2:
        - crm.schemas.orders.write
      - private_apps:
        - crm.schemas.orders.write
      - oauth2:
        - crm.objects.orders.write
      - private_apps:
        - tickets.sensitive
      - oauth2:
        - crm.schemas.contacts.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.schemas.appointments.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.write
      - oauth2:
        - crm.schemas.courses.write
      - private_apps:
        - crm.schemas.courses.write
      - oauth2:
        - crm.schemas.carts.write
      - private_apps:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.carts.write
      - private_apps:
        - crm.pipelines.orders.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - private_apps:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.services.write
      - oauth2:
        - crm.schemas.deals.write
      - oauth2:
        - crm.pipelines.orders.write
      - private_apps:
        - crm.schemas.services.write
      - oauth2:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.schemas.listings.write
      - private_apps:
        - crm.schemas.companies.write
      - oauth2:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.listings.write
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - private_apps:
        - crm.schemas.deals.write
      summary: Replace a pipeline
      tags:
      - Pipelines
  /crm/v3/pipelines/{objectType}/{pipelineId}/audit:
    get:
      description: "Return a reverse chronological list of all mutations that have\
        \ occurred on the pipeline identified by `{pipelineId}`."
      operationId: "get-/crm/v3/pipelines/{objectType}/{pipelineId}/audit_getAudit"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pipelineId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicAuditInfoNoPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.orders.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.schemas.listings.read
      - private_apps:
        - crm.schemas.listings.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.sensitive.write
      - oauth2:
        - crm.schemas.carts.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - automation
      - private_apps:
        - crm.objects.contacts.sensitive.write.v2
      - private_apps:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.schemas.services.read
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.invoices.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.schemas.subscriptions.read
      - private_apps:
        - crm.schemas.companies.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.write
      - private_apps:
        - crm.objects.deals.sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.write
      - oauth2:
        - crm.objects.appointments.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.deals.sensitive.write.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.write
      - private_apps:
        - tickets.sensitive
      - private_apps:
        - crm.objects.feedback_submissions.read
      - oauth2:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.custom.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.appointments.sensitive.read
      - private_apps:
        - crm.objects.companies.sensitive.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.schemas.appointments.read
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.read
      - oauth2:
        - crm.schemas.courses.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.objects.leads.write
      - private_apps:
        - crm.schemas.contacts.read
      - private_apps:
        - tickets.highly_sensitive.v2
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.schemas.custom.read
      - oauth2:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.goals.write
      - private_apps:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.schemas.commercepayments.read
      - oauth2:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.schemas.custom.read
      - private_apps:
        - media_bridge.read
      - oauth2:
        - crm.schemas.commercepayments.read
      - private_apps:
        - timeline
      - private_apps:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.contacts.sensitive.read.v2
      - private_apps:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.custom.sensitive.write
      - private_apps:
        - crm.objects.contacts.sensitive.read
      - private_apps:
        - crm.schemas.invoices.read
      - private_apps:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.marketing_events.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.quotes.read
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.appointments.write
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.contacts.sensitive.write
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.read
      - private_apps:
        - automation
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.schemas.quotes.read
      - private_apps:
        - crm.schemas.quotes.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps:
        - crm.objects.companies.sensitive.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - private_apps:
        - crm.schemas.carts.read
      - private_apps:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.schemas.services.read
      - private_apps:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read
      - oauth2:
        - crm.schemas.subscriptions.read
      - oauth2:
        - crm.schemas.companies.read
      - private_apps:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - private_apps:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.feedback_submissions.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.deals.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - e-commerce
      - private_apps:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.schemas.deals.read
      - private_apps:
        - crm.objects.invoices.read
      - private_apps:
        - crm.schemas.orders.read
      - oauth2:
        - crm.schemas.deals.read
      - private_apps:
        - crm.schemas.appointments.read
      - oauth2:
        - crm.schemas.orders.read
      - private_apps:
        - crm.schemas.courses.read
      - private_apps:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.contacts.read
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.custom.sensitive.read
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - timeline
      - oauth2:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.schemas.invoices.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.services.read
      - private_apps:
        - crm.objects.deals.highly_sensitive.write
      - oauth2:
        - crm.objects.marketing_events.read
      summary: Return an audit of all changes to the pipeline
      tags:
      - Pipeline Audits
  /crm/v3/pipelines/{objectType}/{pipelineId}/stages:
    get:
      description: "Return all the stages associated with the pipeline identified\
        \ by `{pipelineId}`."
      operationId: "get-/crm/v3/pipelines/{objectType}/{pipelineId}/stages_getAll"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pipelineId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePipelineStageNoPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.orders.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.schemas.listings.read
      - private_apps:
        - crm.schemas.listings.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.sensitive.write
      - oauth2:
        - crm.schemas.carts.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - automation
      - private_apps:
        - crm.objects.contacts.sensitive.write.v2
      - private_apps:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.schemas.services.read
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.invoices.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.schemas.subscriptions.read
      - private_apps:
        - crm.schemas.companies.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.write
      - private_apps:
        - crm.objects.deals.sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.write
      - oauth2:
        - crm.objects.appointments.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.deals.sensitive.write.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.write
      - private_apps:
        - tickets.sensitive
      - private_apps:
        - crm.objects.feedback_submissions.read
      - oauth2:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.custom.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.appointments.sensitive.read
      - private_apps:
        - crm.objects.companies.sensitive.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.schemas.appointments.read
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.read
      - oauth2:
        - crm.schemas.courses.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.objects.leads.write
      - private_apps:
        - crm.schemas.contacts.read
      - private_apps:
        - tickets.highly_sensitive.v2
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.schemas.custom.read
      - oauth2:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.goals.write
      - private_apps:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.schemas.commercepayments.read
      - oauth2:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.schemas.custom.read
      - private_apps:
        - media_bridge.read
      - oauth2:
        - crm.schemas.commercepayments.read
      - private_apps:
        - timeline
      - private_apps:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.contacts.sensitive.read.v2
      - private_apps:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.custom.sensitive.write
      - private_apps:
        - crm.objects.contacts.sensitive.read
      - private_apps:
        - crm.schemas.invoices.read
      - private_apps:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.marketing_events.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.quotes.read
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.appointments.write
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.contacts.sensitive.write
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.read
      - private_apps:
        - automation
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.schemas.quotes.read
      - private_apps:
        - crm.schemas.quotes.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps:
        - crm.objects.companies.sensitive.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - private_apps:
        - crm.schemas.carts.read
      - private_apps:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.schemas.services.read
      - private_apps:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read
      - oauth2:
        - crm.schemas.subscriptions.read
      - oauth2:
        - crm.schemas.companies.read
      - private_apps:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - private_apps:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.feedback_submissions.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.deals.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - e-commerce
      - private_apps:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.schemas.deals.read
      - private_apps:
        - crm.objects.invoices.read
      - private_apps:
        - crm.schemas.orders.read
      - oauth2:
        - crm.schemas.deals.read
      - private_apps:
        - crm.schemas.appointments.read
      - oauth2:
        - crm.schemas.orders.read
      - private_apps:
        - crm.schemas.courses.read
      - private_apps:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.contacts.read
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.custom.sensitive.read
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - timeline
      - oauth2:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.schemas.invoices.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.services.read
      - private_apps:
        - crm.objects.deals.highly_sensitive.write
      - oauth2:
        - crm.objects.marketing_events.read
      summary: Return all stages of a pipeline
      tags:
      - Pipeline Stages
    post:
      description: "Create a new stage associated with the pipeline identified by\
        \ `{pipelineId}`. The entire stage object, including its unique ID, will be\
        \ returned in the response."
      operationId: "post-/crm/v3/pipelines/{objectType}/{pipelineId}/stages_create"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pipelineId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineStageInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStage'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.schemas.invoices.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.orders.write
      - oauth2:
        - crm.schemas.invoices.write
      - oauth2:
        - crm.schemas.orders.write
      - private_apps:
        - crm.schemas.orders.write
      - oauth2:
        - crm.objects.orders.write
      - private_apps:
        - tickets.sensitive
      - oauth2:
        - crm.schemas.contacts.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.schemas.appointments.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.write
      - oauth2:
        - crm.schemas.courses.write
      - private_apps:
        - crm.schemas.courses.write
      - oauth2:
        - crm.schemas.carts.write
      - private_apps:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.carts.write
      - private_apps:
        - crm.pipelines.orders.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - private_apps:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.services.write
      - oauth2:
        - crm.schemas.deals.write
      - oauth2:
        - crm.pipelines.orders.write
      - private_apps:
        - crm.schemas.services.write
      - oauth2:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.schemas.listings.write
      - private_apps:
        - crm.schemas.companies.write
      - oauth2:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.listings.write
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - private_apps:
        - crm.schemas.deals.write
      summary: Create a pipeline stage
      tags:
      - Pipeline Stages
  /crm/v3/pipelines/{objectType}:
    get:
      description: "Return all pipelines for the object type specified by `{objectType}`."
      operationId: "get-/crm/v3/pipelines/{objectType}_getAll"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePipelineNoPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.orders.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.schemas.listings.read
      - private_apps:
        - crm.schemas.listings.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.sensitive.write
      - oauth2:
        - crm.schemas.carts.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - automation
      - private_apps:
        - crm.objects.contacts.sensitive.write.v2
      - private_apps:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.schemas.services.read
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.invoices.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.schemas.subscriptions.read
      - private_apps:
        - crm.schemas.companies.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.write
      - private_apps:
        - crm.objects.deals.sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.write
      - oauth2:
        - crm.objects.appointments.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.deals.sensitive.write.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.write
      - private_apps:
        - tickets.sensitive
      - private_apps:
        - crm.objects.feedback_submissions.read
      - oauth2:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.custom.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.appointments.sensitive.read
      - private_apps:
        - crm.objects.companies.sensitive.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.schemas.appointments.read
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.read
      - oauth2:
        - crm.schemas.courses.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.objects.leads.write
      - private_apps:
        - crm.schemas.contacts.read
      - private_apps:
        - tickets.highly_sensitive.v2
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.schemas.custom.read
      - oauth2:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.goals.write
      - private_apps:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.schemas.commercepayments.read
      - oauth2:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.schemas.custom.read
      - private_apps:
        - media_bridge.read
      - oauth2:
        - crm.schemas.commercepayments.read
      - private_apps:
        - timeline
      - private_apps:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.contacts.sensitive.read.v2
      - private_apps:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.custom.sensitive.write
      - private_apps:
        - crm.objects.contacts.sensitive.read
      - private_apps:
        - crm.schemas.invoices.read
      - private_apps:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.marketing_events.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.quotes.read
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.appointments.write
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.contacts.sensitive.write
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.read
      - private_apps:
        - automation
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.schemas.quotes.read
      - private_apps:
        - crm.schemas.quotes.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps:
        - crm.objects.companies.sensitive.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - private_apps:
        - crm.schemas.carts.read
      - private_apps:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.schemas.services.read
      - private_apps:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read
      - oauth2:
        - crm.schemas.subscriptions.read
      - oauth2:
        - crm.schemas.companies.read
      - private_apps:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - private_apps:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.feedback_submissions.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.deals.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - e-commerce
      - private_apps:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.schemas.deals.read
      - private_apps:
        - crm.objects.invoices.read
      - private_apps:
        - crm.schemas.orders.read
      - oauth2:
        - crm.schemas.deals.read
      - private_apps:
        - crm.schemas.appointments.read
      - oauth2:
        - crm.schemas.orders.read
      - private_apps:
        - crm.schemas.courses.read
      - private_apps:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.contacts.read
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.custom.sensitive.read
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - timeline
      - oauth2:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.schemas.invoices.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.services.read
      - private_apps:
        - crm.objects.deals.highly_sensitive.write
      - oauth2:
        - crm.objects.marketing_events.read
      summary: Retrieve all pipelines
      tags:
      - Pipelines
    post:
      description: "Create a new pipeline with the provided property values. The entire\
        \ pipeline object, including its unique ID, will be returned in the response."
      operationId: "post-/crm/v3/pipelines/{objectType}_create"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.schemas.invoices.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.orders.write
      - oauth2:
        - crm.schemas.invoices.write
      - oauth2:
        - crm.schemas.orders.write
      - private_apps:
        - crm.schemas.orders.write
      - oauth2:
        - crm.objects.orders.write
      - private_apps:
        - tickets.sensitive
      - oauth2:
        - crm.schemas.contacts.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.schemas.appointments.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.write
      - oauth2:
        - crm.schemas.courses.write
      - private_apps:
        - crm.schemas.courses.write
      - oauth2:
        - crm.schemas.carts.write
      - private_apps:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.carts.write
      - private_apps:
        - crm.pipelines.orders.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - private_apps:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.services.write
      - oauth2:
        - crm.schemas.deals.write
      - oauth2:
        - crm.pipelines.orders.write
      - private_apps:
        - crm.schemas.services.write
      - oauth2:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.schemas.listings.write
      - private_apps:
        - crm.schemas.companies.write
      - oauth2:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.listings.write
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - private_apps:
        - crm.schemas.deals.write
      summary: Create a pipeline
      tags:
      - Pipelines
  /crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}:
    delete:
      description: "Delete the pipeline stage identified by `{stageId}` associated\
        \ with the pipeline identified by `{pipelineId}`."
      operationId: "delete-/crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}_archive"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pipelineId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: stageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.schemas.invoices.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.orders.write
      - oauth2:
        - crm.schemas.invoices.write
      - oauth2:
        - crm.schemas.orders.write
      - private_apps:
        - crm.schemas.orders.write
      - oauth2:
        - crm.objects.orders.write
      - private_apps:
        - tickets.sensitive
      - oauth2:
        - crm.schemas.contacts.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.schemas.appointments.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.write
      - oauth2:
        - crm.schemas.courses.write
      - private_apps:
        - crm.schemas.courses.write
      - oauth2:
        - crm.schemas.carts.write
      - private_apps:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.carts.write
      - private_apps:
        - crm.pipelines.orders.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - private_apps:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.services.write
      - oauth2:
        - crm.schemas.deals.write
      - oauth2:
        - crm.pipelines.orders.write
      - private_apps:
        - crm.schemas.services.write
      - oauth2:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.schemas.listings.write
      - private_apps:
        - crm.schemas.companies.write
      - oauth2:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.listings.write
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - private_apps:
        - crm.schemas.deals.write
      summary: Delete a pipeline stage
      tags:
      - Pipeline Stages
    get:
      description: "Return the stage identified by `{stageId}` associated with the\
        \ pipeline identified by `{pipelineId}`."
      operationId: "get-/crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}_getById"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pipelineId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: stageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStage'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.orders.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.schemas.listings.read
      - private_apps:
        - crm.schemas.listings.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.sensitive.write
      - oauth2:
        - crm.schemas.carts.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - automation
      - private_apps:
        - crm.objects.contacts.sensitive.write.v2
      - private_apps:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.schemas.services.read
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.invoices.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.schemas.subscriptions.read
      - private_apps:
        - crm.schemas.companies.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.write
      - private_apps:
        - crm.objects.deals.sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.write
      - oauth2:
        - crm.objects.appointments.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.deals.sensitive.write.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.write
      - private_apps:
        - tickets.sensitive
      - private_apps:
        - crm.objects.feedback_submissions.read
      - oauth2:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.custom.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.appointments.sensitive.read
      - private_apps:
        - crm.objects.companies.sensitive.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.schemas.appointments.read
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.read
      - oauth2:
        - crm.schemas.courses.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.objects.leads.write
      - private_apps:
        - crm.schemas.contacts.read
      - private_apps:
        - tickets.highly_sensitive.v2
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.schemas.custom.read
      - oauth2:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.goals.write
      - private_apps:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.schemas.commercepayments.read
      - oauth2:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.schemas.custom.read
      - private_apps:
        - media_bridge.read
      - oauth2:
        - crm.schemas.commercepayments.read
      - private_apps:
        - timeline
      - private_apps:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.contacts.sensitive.read.v2
      - private_apps:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.custom.sensitive.write
      - private_apps:
        - crm.objects.contacts.sensitive.read
      - private_apps:
        - crm.schemas.invoices.read
      - private_apps:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.marketing_events.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.quotes.read
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.appointments.write
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.contacts.sensitive.write
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.read
      - private_apps:
        - automation
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.schemas.quotes.read
      - private_apps:
        - crm.schemas.quotes.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps:
        - crm.objects.companies.sensitive.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - private_apps:
        - crm.schemas.carts.read
      - private_apps:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.schemas.services.read
      - private_apps:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read
      - oauth2:
        - crm.schemas.subscriptions.read
      - oauth2:
        - crm.schemas.companies.read
      - private_apps:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - private_apps:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.feedback_submissions.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.deals.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - e-commerce
      - private_apps:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.schemas.deals.read
      - private_apps:
        - crm.objects.invoices.read
      - private_apps:
        - crm.schemas.orders.read
      - oauth2:
        - crm.schemas.deals.read
      - private_apps:
        - crm.schemas.appointments.read
      - oauth2:
        - crm.schemas.orders.read
      - private_apps:
        - crm.schemas.courses.read
      - private_apps:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.contacts.read
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.custom.sensitive.read
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - timeline
      - oauth2:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.schemas.invoices.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.services.read
      - private_apps:
        - crm.objects.deals.highly_sensitive.write
      - oauth2:
        - crm.objects.marketing_events.read
      summary: Return a pipeline stage by ID
      tags:
      - Pipeline Stages
    patch:
      description: "Perform a partial update of the pipeline stage identified by `{stageId}`\
        \ associated with the pipeline identified by `{pipelineId}`. Any properties\
        \ not included in this update will keep their existing values. The updated\
        \ stage will be returned in the response."
      operationId: "patch-/crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}_update"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pipelineId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: stageId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineStagePatchInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStage'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.schemas.invoices.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.orders.write
      - oauth2:
        - crm.schemas.invoices.write
      - oauth2:
        - crm.schemas.orders.write
      - private_apps:
        - crm.schemas.orders.write
      - oauth2:
        - crm.objects.orders.write
      - private_apps:
        - tickets.sensitive
      - oauth2:
        - crm.schemas.contacts.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.schemas.appointments.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.write
      - oauth2:
        - crm.schemas.courses.write
      - private_apps:
        - crm.schemas.courses.write
      - oauth2:
        - crm.schemas.carts.write
      - private_apps:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.carts.write
      - private_apps:
        - crm.pipelines.orders.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - private_apps:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.services.write
      - oauth2:
        - crm.schemas.deals.write
      - oauth2:
        - crm.pipelines.orders.write
      - private_apps:
        - crm.schemas.services.write
      - oauth2:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.schemas.listings.write
      - private_apps:
        - crm.schemas.companies.write
      - oauth2:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.listings.write
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - private_apps:
        - crm.schemas.deals.write
      summary: Update a pipeline stage
      tags:
      - Pipeline Stages
    put:
      description: Replace all the properties of an existing pipeline stage with the
        values provided. The updated stage will be returned in the response.
      operationId: "put-/crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}_replace"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pipelineId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: stageId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineStageInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStage'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.schemas.invoices.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.orders.write
      - oauth2:
        - crm.schemas.invoices.write
      - oauth2:
        - crm.schemas.orders.write
      - private_apps:
        - crm.schemas.orders.write
      - oauth2:
        - crm.objects.orders.write
      - private_apps:
        - tickets.sensitive
      - oauth2:
        - crm.schemas.contacts.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.schemas.appointments.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.write
      - oauth2:
        - crm.schemas.courses.write
      - private_apps:
        - crm.schemas.courses.write
      - oauth2:
        - crm.schemas.carts.write
      - private_apps:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.carts.write
      - private_apps:
        - crm.pipelines.orders.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - private_apps:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.services.write
      - oauth2:
        - crm.schemas.deals.write
      - oauth2:
        - crm.pipelines.orders.write
      - private_apps:
        - crm.schemas.services.write
      - oauth2:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.schemas.listings.write
      - private_apps:
        - crm.schemas.companies.write
      - oauth2:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.listings.write
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - private_apps:
        - crm.schemas.deals.write
      summary: Replace a pipeline stage
      tags:
      - Pipeline Stages
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    ErrorDetail:
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
      required:
      - message
      type: object
    PipelineStagePatchInput:
      description: An input used to update some properties on a pipeline definition.
      example:
        label: Done
        displayOrder: 1
        metadata:
          ticketState: CLOSED
      properties:
        archived:
          description: Whether the pipeline is archived.
          type: boolean
        metadata:
          additionalProperties:
            type: string
          description: |-
            A JSON object containing properties that are not present on all object pipelines.

            For `deals` pipelines, the `probability` field is required (`{ "probability": 0.5 }`), and represents the likelihood a deal will close. Possible values are between 0.0 and 1.0 in increments of 0.1.

            For `tickets` pipelines, the `ticketState` field is optional (`{ "ticketState": "OPEN" }`), and represents whether the ticket remains open or has been closed by a member of your Support team. Possible values are `OPEN` or `CLOSED`.
          example:
            ticketState: CLOSED
[...]
