openapi: 3.0.1
info:
  description: Use these endpoints for interacting with Landing Pages and Site Pages
  title: Pages
  version: v3
  x-hubspot-product-tier-requirements:
    marketing: FREE
    sales: FREE
    service: FREE
    cms: FREE
  x-hubspot-api-use-case: "After noticing that a website page was updated incorrectly,\
    \ use the API to view revisions of that page, then restore the page to a previous\
    \ version."
  x-hubspot-related-documentation:
  - name: Pages Guide
    url: https://developers.hubspot.com/docs/guides/api/cms/pages
  x-hubspot-introduction: Use the pages API to create and manage website pages.
servers:
- url: https://api.hubapi.com
tags:
- name: Site Pages
- name: Landing Pages
paths:
  /cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}:
    get:
      description: Retrieves a previous version of a Site Page
      operationId: "get-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}_getPreviousVersion"
      parameters:
      - description: The Site Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: The Site Page version id.
        explode: false
        in: path
        name: revisionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionPage'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Retrieves a previous version of a Site Page
      tags:
      - Site Pages
  /cms/v3/pages/landing-pages/{objectId}/revisions:
    get:
      description: Retrieves all the previous versions of a Landing Page.
      operationId: "get-/cms/v3/pages/landing-pages/{objectId}/revisions_getPreviousVersions"
      parameters:
      - description: The Landing Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: The cursor token value to get the next set of results. You can
          get this from the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to return. Default is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalVersionPage'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Retrieves all the previous versions of a Landing Page
      tags:
      - Landing Pages
  /cms/v3/pages/site-pages/batch/update:
    post:
      description: Update the Site Page objects identified in the request body.
      operationId: post-/cms/v3/pages/site-pages/batch/update_updateBatch
      parameters:
      - description: Specifies whether to update deleted Site Pages. Defaults to `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputJsonNode'
        description: The JSON representation of the updated Site Pages.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePage'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePageWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Update a batch of Site Pages
      tags:
      - Site Pages
  /cms/v3/pages/landing-pages/folders/{objectId}/revisions:
    get:
      description: Retrieves all the previous versions of a Folder.
      operationId: "get-/cms/v3/pages/landing-pages/folders/{objectId}/revisions_getFolderPreviousVersions"
      parameters:
      - description: The Folder id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: The cursor token value to get the next set of results. You can
          get this from the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to return. Default is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalVersionContentFolder'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Retrieves all the previous versions of a Folder
      tags:
      - Landing Pages
  /cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore:
    post:
      description: Takes a specified version of a Site Page and restores it.
      operationId: "post-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore_restorePreviousVersion"
      parameters:
      - description: The Site Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: The Site Page version id to restore.
        explode: false
        in: path
        name: revisionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Restore a previous version of a Site Page
      tags:
      - Site Pages
  /cms/v3/pages/landing-pages/folders:
    get:
      description: |
        Get the list of Landing Page Folders. Supports paging and filtering. This method would be useful for an integration that examined these models and used an external service to suggest edits.
      operationId: get-/cms/v3/pages/landing-pages/folders_getFoldersPage
      parameters:
      - description: Only return Folders created at exactly the specified time.
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Folders created after the specified time.
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Folders created before the specified time.
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Folders last updated at exactly the specified time.
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Folders last updated after the specified time.
        explode: true
        in: query
        name: updatedAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Folders last updated before the specified time.
        explode: true
        in: query
        name: updatedBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Specifies which fields to use for sorting results. Valid fields\
          \ are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt`\
          \ will be used by default."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The cursor token value to get the next set of results. You can
          get this from the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to return. Default is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Specifies whether to return deleted Folders. Defaults to `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: property
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalContentFolderForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Get all Landing Page Folders
      tags:
      - Landing Pages
    post:
      description: Create a new Folder
      operationId: post-/cms/v3/pages/landing-pages/folders_createFolder
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentFolder'
        description: The JSON representation of a new Folder.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentFolder'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Create a new Folder
      tags:
      - Landing Pages
  /cms/v3/pages/site-pages/multi-language/attach-to-lang-group:
    post:
      description: Attach a site page to a multi-language group.
      operationId: post-/cms/v3/pages/site-pages/multi-language/attach-to-lang-group_attachToLangGroup
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachToLangPrimaryRequestVNext'
        description: The JSON representation of the AttachToLangPrimaryRequest object.
        required: true
      responses:
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
        "200":
          content: {}
          description: successful operation
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Attach a site page to a multi-language group
      tags:
      - Site Pages
  /cms/v3/pages/site-pages/schedule:
    post:
      description: Schedule a Site Page to be Published
      operationId: post-/cms/v3/pages/site-pages/schedule_schedule
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentScheduleRequestVNext'
        description: The JSON representation of the ContentScheduleRequestVNext object.
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Schedule a Site Page to be Published
      tags:
      - Site Pages
  /cms/v3/pages/site-pages/multi-language/detach-from-lang-group:
    post:
      description: Detach a site page from a multi-language group.
      operationId: post-/cms/v3/pages/site-pages/multi-language/detach-from-lang-group_detachFromLangGroup
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachFromLangGroupRequestVNext'
        description: The JSON representation of the DetachFromLangGroupRequest object.
        required: true
      responses:
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
        "200":
          content: {}
          description: successful operation
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Detach a site page from a multi-language group
      tags:
      - Site Pages
  /cms/v3/pages/landing-pages/folders/batch/create:
    post:
      description: Create the Folder objects detailed in the request body.
      operationId: post-/cms/v3/pages/landing-pages/folders/batch/create_createFolders
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputContentFolder'
        description: The JSON array of new Folders to create.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseContentFolder'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseContentFolderWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Create a batch of Folders
      tags:
      - Landing Pages
  /cms/v3/pages/site-pages/{objectId}/revisions:
    get:
      description: Retrieves all the previous versions of a Site Page.
      operationId: "get-/cms/v3/pages/site-pages/{objectId}/revisions_getPreviousVersions"
      parameters:
      - description: The Site Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: The cursor token value to get the next set of results. You can
          get this from the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to return. Default is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalVersionPage'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Retrieves all the previous versions of a Site Page
      tags:
      - Site Pages
  /cms/v3/pages/landing-pages/{objectId}/draft:
    get:
      description: Retrieve the full draft version of the Landing Page.
      operationId: "get-/cms/v3/pages/landing-pages/{objectId}/draft_getDraftById"
      parameters:
      - description: The Landing Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Retrieve the full draft version of the Landing Page
      tags:
      - Landing Pages
    patch:
      description: |
        Sparse updates the draft version of a single Landing Page object identified by the id in the path.
        You only need to specify the column values that you are modifying.
      operationId: "patch-/cms/v3/pages/landing-pages/{objectId}/draft_updateDraft"
      parameters:
      - description: The Landing Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Page'
        description: The JSON representation of the updated Landing Page to be applied
          to the draft.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Update a Landing Page draft
      tags:
      - Landing Pages
  /cms/v3/pages/landing-pages:
    get:
      description: |
        Get the list of landing pages. Supports paging and filtering. This method would be useful for an integration that examined these models and used an external service to suggest edits.
      operationId: get-/cms/v3/pages/landing-pages_getPage
      parameters:
      - description: Only return Landing Pages created at exactly the specified time.
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Landing Pages created after the specified time.
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Landing Pages created before the specified time.
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Landing Pages last updated at exactly the specified
          time.
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Landing Pages last updated after the specified time.
        explode: true
        in: query
        name: updatedAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Landing Pages last updated before the specified time.
        explode: true
        in: query
        name: updatedBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Specifies which fields to use for sorting results. Valid fields\
          \ are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt`\
          \ will be used by default."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The cursor token value to get the next set of results. You can
          get this from the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to return. Default is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Specifies whether to return deleted Landing Pages. Defaults to
          `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: property
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalPageForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Get all Landing Pages
      tags:
      - Landing Pages
    post:
      description: Create a new Landing Page
      operationId: post-/cms/v3/pages/landing-pages_create
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Page'
        description: The JSON representation of a new Landing Page.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        "200":
          content: {}
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Create a new Landing Page
      tags:
      - Landing Pages
  /cms/v3/pages/site-pages/ab-test/end:
    post:
      description: End an active A/B test and designate a winner.
      operationId: post-/cms/v3/pages/site-pages/ab-test/end_endActiveABTest
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbTestEndRequestVNext'
        description: The JSON representation of the AbTestEndRequest object.
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: End an active A/B test
      tags:
      - Site Pages
  /cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore-to-draft:
    post:
      description: "Takes a specified version of a Site Page, sets it as the new draft\
        \ version of the Site Page."
      operationId: "post-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore-to-draft_restorePreviousVersionToDraft"
      parameters:
      - description: The Site Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: The Site Page version id to restore.
        explode: false
        in: path
        name: revisionId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: "Restore a previous version of a Site Page, to the draft version of\
        \ the Site Page"
      tags:
      - Site Pages
  /cms/v3/pages/landing-pages/batch/create:
    post:
      description: Create the Landing Page objects detailed in the request body.
      operationId: post-/cms/v3/pages/landing-pages/batch/create_createBatch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputPage'
        description: The JSON array of new Landing Pages to create.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePage'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePageWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Create a batch of Landing Pages
      tags:
      - Landing Pages
  /cms/v3/pages/landing-pages/batch/update:
    post:
      description: Update the Landing Page objects identified in the request body.
      operationId: post-/cms/v3/pages/landing-pages/batch/update_updateBatch
      parameters:
      - description: Specifies whether to update deleted Landing Pages. Defaults to
          `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputJsonNode'
        description: The JSON representation of the updated Landing Pages.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePage'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePageWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Update a batch of Landing Pages
      tags:
      - Landing Pages
  /cms/v3/pages/landing-pages/batch/read:
    post:
      description: Retrieve the Landing Page objects identified in the request body.
      operationId: post-/cms/v3/pages/landing-pages/batch/read_readBatch
      parameters:
      - description: Specifies whether to return deleted Landing Pages. Defaults to
          `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputString'
        description: The JSON array of Landing Page ids.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePage'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePageWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Retrieve a batch of Landing Pages
      tags:
      - Landing Pages
  /cms/v3/pages/landing-pages/clone:
    post:
      description: Clone a Landing Page
      operationId: post-/cms/v3/pages/landing-pages/clone_clone
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentCloneRequestVNext'
        description: The JSON representation of the ContentCloneRequest object.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Clone a Landing Page
      tags:
      - Landing Pages
  /cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}/restore:
    post:
      description: Takes a specified version of a Folder and restores it.
      operationId: "post-/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}/restore_restoreFolderPreviousVersion"
      parameters:
      - description: The Folder id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: The Folder version id to restore.
        explode: false
        in: path
        name: revisionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentFolder'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Restore a previous version of a Folder
      tags:
      - Landing Pages
  /cms/v3/pages/landing-pages/multi-language/set-new-lang-primary:
    put:
      description: Set a landing page as the primary language of a multi-language
        group.
      operationId: put-/cms/v3/pages/landing-pages/multi-language/set-new-lang-primary_setLangPrimary
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetNewLanguagePrimaryRequestVNext'
        description: The JSON representation of the SetNewLanguagePrimaryRequest object.
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Set a new primary language
      tags:
      - Landing Pages
  /cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore:
    post:
      description: Takes a specified version of a Landing Page and restores it.
      operationId: "post-/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore_restorePreviousVersion"
      parameters:
      - description: The Landing Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: The Landing Page version id to restore.
        explode: false
        in: path
        name: revisionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Restore a previous version of a Landing Page
      tags:
      - Landing Pages
  /cms/v3/pages/site-pages/{objectId}/draft:
    get:
      description: Retrieve the full draft version of the Site Page.
      operationId: "get-/cms/v3/pages/site-pages/{objectId}/draft_getDraftById"
      parameters:
      - description: The Site Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Retrieve the full draft version of the Site Page
      tags:
      - Site Pages
    patch:
      description: |
        Sparse updates the draft version of a single Site Page object identified by the id in the path.
        You only need to specify the column values that you are modifying.
      operationId: "patch-/cms/v3/pages/site-pages/{objectId}/draft_updateDraft"
      parameters:
      - description: The Site Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Page'
        description: The JSON representation of the updated Site Page to be applied
          to the draft.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Update a Site Page draft
      tags:
      - Site Pages
  /cms/v3/pages/landing-pages/folders/{objectId}:
    delete:
      description: Delete the Folder object identified by the id in the path.
      operationId: "delete-/cms/v3/pages/landing-pages/folders/{objectId}_archiveFolder"
      parameters:
      - description: The Folder id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Delete a Folder
      tags:
      - Landing Pages
    get:
      description: Retrieve the Folder object identified by the id in the path.
      operationId: "get-/cms/v3/pages/landing-pages/folders/{objectId}_getFolderById"
      parameters:
      - description: The Folder id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies whether to return deleted Folders. Defaults to `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: property
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentFolder'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Retrieve a Folder
      tags:
      - Landing Pages
    patch:
      description: |
        Sparse updates a single Folder object identified by the id in the path.
        You only need to specify the column values that you are modifying.
      operationId: "patch-/cms/v3/pages/landing-pages/folders/{objectId}_updateFolder"
      parameters:
      - description: The Folder id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies whether to update deleted Folders. Defaults to `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentFolder'
        description: The JSON representation of the updated Folder.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentFolder'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Update a Folder
      tags:
      - Landing Pages
  /cms/v3/pages/site-pages/batch/read:
    post:
      description: Retrieve the Site Page objects identified in the request body.
      operationId: post-/cms/v3/pages/site-pages/batch/read_readBatch
      parameters:
      - description: Specifies whether to return deleted Site Pages. Defaults to `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputString'
        description: The JSON array of Site Page ids.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePage'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePageWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Retrieve a batch of Site Pages
      tags:
      - Site Pages
  /cms/v3/pages/landing-pages/ab-test/create-variation:
    post:
      description: |
        Create a new A/B test variation based on the information provided in the request body.
      operationId: post-/cms/v3/pages/landing-pages/ab-test/create-variation_createABTestVariation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbTestCreateRequestVNext'
        description: The JSON representation of the AbTestCreateRequest object.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Create a new A/B test variation
      tags:
      - Landing Pages
  /cms/v3/pages/landing-pages/multi-language/attach-to-lang-group:
    post:
      description: Attach a landing page to a multi-language group.
      operationId: post-/cms/v3/pages/landing-pages/multi-language/attach-to-lang-group_attachToLangGroup
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachToLangPrimaryRequestVNext'
        description: The JSON representation of the AttachToLangPrimaryRequest object.
        required: true
      responses:
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
        "200":
          content: {}
          description: successful operation
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Attach a landing page to a multi-language group
      tags:
      - Landing Pages
  /cms/v3/pages/site-pages:
    get:
      description: |
        Get the list of site pages. Supports paging and filtering. This method would be useful for an integration that examined these models and used an external service to suggest edits.
      operationId: get-/cms/v3/pages/site-pages_getPage
      parameters:
      - description: Only return Site Pages created at exactly the specified time.
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Site Pages created after the specified time.
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Site Pages created before the specified time.
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Site Pages last updated at exactly the specified
          time.
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Site Pages last updated after the specified time.
        explode: true
        in: query
        name: updatedAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Site Pages last updated before the specified time.
        explode: true
        in: query
        name: updatedBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Specifies which fields to use for sorting results. Valid fields\
          \ are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt`\
          \ will be used by default."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The cursor token value to get the next set of results. You can
          get this from the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to return. Default is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Specifies whether to return deleted Site Pages. Defaults to `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: property
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalPageForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Get all Site Pages
      tags:
      - Site Pages
    post:
      description: Create a new Site Page
      operationId: post-/cms/v3/pages/site-pages_create
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Page'
        description: The JSON representation of a new Site Page.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        "200":
          content: {}
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Create a new Site Page
      tags:
      - Site Pages
  /cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}:
    get:
      description: Retrieves a previous version of a Landing Page
      operationId: "get-/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}_getPreviousVersion"
      parameters:
      - description: The Landing Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: The Landing Page version id.
        explode: false
        in: path
        name: revisionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionPage'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Retrieves a previous version of a Landing Page
      tags:
      - Landing Pages
  /cms/v3/pages/site-pages/multi-language/create-language-variation:
    post:
      description: Create a new language variation from an existing site page
      operationId: post-/cms/v3/pages/site-pages/multi-language/create-language-variation_createLangVariation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentLanguageCloneRequestVNext'
        description: The JSON representation of the ContentLanguageCloneRequest object.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Create a new language variation
      tags:
      - Site Pages
  /cms/v3/pages/landing-pages/ab-test/end:
    post:
      description: End an active A/B test and designate a winner.
      operationId: post-/cms/v3/pages/landing-pages/ab-test/end_endActiveABTest
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbTestEndRequestVNext'
        description: The JSON representation of the AbTestEndRequest object.
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: End an active A/B test
      tags:
      - Landing Pages
  /cms/v3/pages/landing-pages/{objectId}/draft/push-live:
    post:
      description: Take any changes from the draft version of the Landing Page and
        apply them to the live version.
      operationId: "post-/cms/v3/pages/landing-pages/{objectId}/draft/push-live_pushLive"
      parameters:
      - description: The id of the Landing Page for which it's draft will be pushed
          live.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Push Landing Page draft edits live
      tags:
      - Landing Pages
  /cms/v3/pages/landing-pages/multi-language/detach-from-lang-group:
    post:
      description: Detach a landing page from a multi-language group.
      operationId: post-/cms/v3/pages/landing-pages/multi-language/detach-from-lang-group_detachFromLangGroup
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachFromLangGroupRequestVNext'
        description: The JSON representation of the DetachFromLangGroupRequest object.
        required: true
      responses:
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
        "200":
          content: {}
          description: successful operation
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Detach a landing page from a multi-language group
      tags:
      - Landing Pages
  /cms/v3/pages/landing-pages/multi-language/update-languages:
    post:
      description: Explicitly set new languages for each landing page in a multi-language
        group.
      operationId: post-/cms/v3/pages/landing-pages/multi-language/update-languages_updateLangs
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLanguagesRequestVNext'
        description: The JSON representation of the UpdateLanguagesRequest object.
        required: true
      responses:
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
        "200":
          content: {}
          description: successful operation
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Update languages of multi-language group
      tags:
      - Landing Pages
  /cms/v3/pages/landing-pages/schedule:
    post:
      description: Schedule a Landing Page to be Published
      operationId: post-/cms/v3/pages/landing-pages/schedule_schedule
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentScheduleRequestVNext'
        description: The JSON representation of the ContentScheduleRequestVNext object.
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Schedule a Landing Page to be Published
      tags:
      - Landing Pages
  /cms/v3/pages/site-pages/ab-test/create-variation:
    post:
      description: |
        Create a new A/B test variation based on the information provided in the request body.
      operationId: post-/cms/v3/pages/site-pages/ab-test/create-variation_createABTestVariation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbTestCreateRequestVNext'
        description: The JSON representation of the AbTestCreateRequest object.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Create a new A/B test variation
      tags:
      - Site Pages
  /cms/v3/pages/site-pages/multi-language/update-languages:
    post:
      description: Explicitly set new languages for each site page in a multi-language
        group.
      operationId: post-/cms/v3/pages/site-pages/multi-language/update-languages_updateLangs
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLanguagesRequestVNext'
        description: The JSON representation of the UpdateLanguagesRequest object.
        required: true
      responses:
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
        "200":
          content: {}
          description: successful operation
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Update languages of multi-language group
      tags:
      - Site Pages
  /cms/v3/pages/landing-pages/ab-test/rerun:
    post:
      description: Rerun a previous A/B test.
      operationId: post-/cms/v3/pages/landing-pages/ab-test/rerun_rerunPreviousABTest
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbTestRerunRequestVNext'
        description: The JSON representation of the AbTestRerunRequest object.
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Rerun a previous A/B test
      tags:
      - Landing Pages
  /cms/v3/pages/landing-pages/folders/batch/archive:
    post:
      description: Delete the Folder objects identified in the request body.
      operationId: post-/cms/v3/pages/landing-pages/folders/batch/archive_archiveFolders
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputString'
        description: The JSON array of Folder ids.
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Delete a batch of Folders
      tags:
      - Landing Pages
  /cms/v3/pages/site-pages/batch/archive:
    post:
      description: |-
        Delete the Site Page objects identified in the request body.
        Note: This is not the same as the dashboard `archive` function. To perform a dashboard `archive` send an normal update with the `archivedInDashboard` field set to true.
      operationId: post-/cms/v3/pages/site-pages/batch/archive_archiveBatch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputString'
        description: The JSON array of Site Page ids.
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Delete a batch of Site Pages
      tags:
      - Site Pages
  /cms/v3/pages/site-pages/batch/create:
    post:
      description: Create the Site Page objects detailed in the request body.
      operationId: post-/cms/v3/pages/site-pages/batch/create_createBatch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputPage'
        description: The JSON array of new Site Pages to create.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePage'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePageWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Create a batch of Site Pages
      tags:
      - Site Pages
  /cms/v3/pages/landing-pages/folders/batch/update:
    post:
      description: Update the Folder objects identified in the request body.
      operationId: post-/cms/v3/pages/landing-pages/folders/batch/update_updateFolders
      parameters:
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputJsonNode'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseContentFolder'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseContentFolderWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Update a batch of Folders
      tags:
      - Landing Pages
  /cms/v3/pages/site-pages/clone:
    post:
      description: Clone a Site Page
      operationId: post-/cms/v3/pages/site-pages/clone_clone
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentCloneRequestVNext'
        description: The JSON representation of the ContentCloneRequest object.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Clone a Site Page
      tags:
      - Site Pages
  /cms/v3/pages/site-pages/multi-language/set-new-lang-primary:
    put:
      description: Set a site page as the primary language of a multi-language group.
      operationId: put-/cms/v3/pages/site-pages/multi-language/set-new-lang-primary_setLangPrimary
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetNewLanguagePrimaryRequestVNext'
        description: The JSON representation of the SetNewLanguagePrimaryRequest object.
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Set a new primary language
      tags:
      - Site Pages
  /cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}:
    get:
      description: Retrieves a previous version of a Folder
      operationId: "get-/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}_getFolderPreviousVersion"
      parameters:
      - description: The Folder id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: The Folder version id.
        explode: false
        in: path
        name: revisionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionContentFolder'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Retrieves a previous version of a Folder
      tags:
      - Landing Pages
  /cms/v3/pages/landing-pages/{objectId}/draft/reset:
    post:
      description: Discards any edits and resets the draft to the live version.
      operationId: "post-/cms/v3/pages/landing-pages/{objectId}/draft/reset_resetDraft"
      parameters:
      - description: The id of the Landing Page for which it's draft will be reset.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Reset the Landing Page draft to the live version
      tags:
      - Landing Pages
  /cms/v3/pages/landing-pages/{objectId}:
    delete:
      description: Delete the Landing Page object identified by the id in the path.
      operationId: "delete-/cms/v3/pages/landing-pages/{objectId}_archive"
      parameters:
      - description: The Landing Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Delete a Landing Page
      tags:
      - Landing Pages
    get:
      description: Retrieve the Landing Page object identified by the id in the path.
      operationId: "get-/cms/v3/pages/landing-pages/{objectId}_getById"
      parameters:
      - description: The Landing Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies whether to return deleted Landing Pages. Defaults to
          `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: property
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Retrieve a Landing Page
      tags:
      - Landing Pages
    patch:
      description: |
        Sparse updates a single Landing Page object identified by the id in the path.
        You only need to specify the column values that you are modifying.
      operationId: "patch-/cms/v3/pages/landing-pages/{objectId}_update"
      parameters:
      - description: The Landing Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies whether to update deleted Landing Pages. Defaults to
          `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Page'
        description: The JSON representation of the updated Landing Page.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Update a Landing Page
      tags:
      - Landing Pages
  /cms/v3/pages/landing-pages/multi-language/create-language-variation:
    post:
      description: Create a new language variation from an existing landing page
      operationId: post-/cms/v3/pages/landing-pages/multi-language/create-language-variation_createLangVariation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentLanguageCloneRequestVNext'
        description: The JSON representation of the ContentLanguageCloneRequest object.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Create a new language variation
      tags:
      - Landing Pages
  /cms/v3/pages/site-pages/{objectId}/draft/push-live:
    post:
      description: Take any changes from the draft version of the Site Page and apply
        them to the live version.
      operationId: "post-/cms/v3/pages/site-pages/{objectId}/draft/push-live_pushLive"
      parameters:
      - description: The id of the Site Page for which it's draft will be pushed live.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Push Site Page draft edits live
      tags:
      - Site Pages
  /cms/v3/pages/landing-pages/batch/archive:
    post:
      description: |-
        Delete the Landing Page objects identified in the request body.
        Note: This is not the same as the dashboard `archive` function. To perform a dashboard `archive` send an normal update with the `archivedInDashboard` field set to true.
      operationId: post-/cms/v3/pages/landing-pages/batch/archive_archiveBatch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputString'
        description: The JSON array of Landing Page ids.
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Delete a batch of Landing Pages
      tags:
      - Landing Pages
  /cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore-to-draft:
    post:
      description: "Takes a specified version of a Landing Page, sets it as the new\
        \ draft version of the Landing Page."
      operationId: "post-/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore-to-draft_restorePreviousVersionToDraft"
      parameters:
      - description: The Landing Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: The Landing Page version id to restore.
        explode: false
        in: path
        name: revisionId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: "Restore a previous version of a Landing Page, to the draft version\
        \ of the Landing Page"
      tags:
      - Landing Pages
  /cms/v3/pages/site-pages/ab-test/rerun:
    post:
      description: Rerun a previous A/B test.
      operationId: post-/cms/v3/pages/site-pages/ab-test/rerun_rerunPreviousABTest
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbTestRerunRequestVNext'
        description: The JSON representation of the AbTestRerunRequest object.
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Rerun a previous A/B test
      tags:
      - Site Pages
  /cms/v3/pages/site-pages/{objectId}/draft/reset:
    post:
      description: Discards any edits and resets the draft to the live version.
      operationId: "post-/cms/v3/pages/site-pages/{objectId}/draft/reset_resetDraft"
      parameters:
      - description: The id of the Site Page for which it's draft will be reset.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Reset the Site Page draft to the live version
      tags:
      - Site Pages
  /cms/v3/pages/site-pages/{objectId}:
    delete:
      description: Delete the Site Page object identified by the id in the path.
      operationId: "delete-/cms/v3/pages/site-pages/{objectId}_archive"
      parameters:
      - description: The Site Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Delete a Site Page
      tags:
      - Site Pages
    get:
      description: Retrieve the Site Page object identified by the id in the path.
      operationId: "get-/cms/v3/pages/site-pages/{objectId}_getById"
      parameters:
      - description: The Site Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies whether to return deleted Site Pages. Defaults to `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: property
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Retrieve a Site Page
      tags:
      - Site Pages
    patch:
      description: |
        Sparse updates a single Site Page object identified by the id in the path.
        You only need to specify the column values that you are modifying.
      operationId: "patch-/cms/v3/pages/site-pages/{objectId}_update"
      parameters:
      - description: The Site Page id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies whether to update deleted Site Pages. Defaults to `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Page'
        description: The JSON representation of the updated Site Page.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Update a Site Page
      tags:
      - Site Pages
  /cms/v3/pages/landing-pages/folders/batch/read:
    post:
      description: Update the Folder objects identified in the request body.
      operationId: post-/cms/v3/pages/landing-pages/folders/batch/read_readFolders
      parameters:
      - description: Specifies whether to return deleted Folders. Defaults to `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputString'
        description: The JSON array of Folder ids.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseContentFolder'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseContentFolderWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - content
      - private_apps:
        - content
      summary: Retrieve a batch of Folders
      tags:
      - Landing Pages
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    BatchInputString:
      description: Wrapper for providing an array of strings as inputs.
      example:
        inputs:
        - inputs
        - inputs
      properties:
        inputs:
          description: Strings to input.
          items:
            type: string
          type: array
      required:
      - inputs
      type: object
    ContentLanguageCloneRequestVNext:
      description: Request body object for creating new language variant content.
      example:
        language: language
        id: id
        primaryLanguage: primaryLanguage
      properties:
        language:
          description: Target language of new variant.
          type: string
        id:
          description: ID of content to clone.
          type: string
        primaryLanguage:
          description: Language of primary content to clone.
          type: string
      required:
      - id
      type: object
    StandardError:
      description: Model definition for a standard error.
      example:
        subCategory: "{}"
        context:
          key:
          - context
          - context
        links:
          key: links
        id: id
        category: category
        message: message
        errors:
        - subCategory: subCategory
          code: code
          in: in
          context:
            missingScopes:
            - scope1
            - scope2
          message: message
        - subCategory: subCategory
          code: code
          in: in
          context:
            missingScopes:
            - scope1
            - scope2
          message: message
        status: status
      properties:
        subCategory:
          description: Error subcategory.
          properties: {}
          type: object
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Error context.
          type: object
        links:
          additionalProperties:
            type: string
          description: Error links.
          type: object
        id:
          description: Error ID.
          type: string
        category:
          description: Error category.
          type: string
        message:
          description: Error message.
          type: string
        errors:
          description: List of error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        status:
          description: Error status.
          type: string
      required:
      - category
      - context
      - errors
      - links
      - message
      - status
      type: object
    BatchInputJsonNode:
      description: Wrapper for providing an array of JSON nodes as inputs.
      example:
        inputs:
        - "{}"
        - "{}"
      properties:
        inputs:
          description: JSON nodes to input.
          items:
            properties: {}
            type: object
          type: array
      required:
      - inputs
      type: object
    BatchResponsePageWithErrors:
      description: Response object for batch operations on pages with errors.
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        numErrors: 0
        requestedAt: 2000-01-23T04:56:07.000+00:00
        startedAt: 2000-01-23T04:56:07.000+00:00
        links:
          key: links
        results:
        - publishDate: 2000-01-23T04:56:07.000+00:00
          language: af
          enableLayoutStylesheets: true
          metaDescription: metaDescription
          attachedStylesheets:
          - key: "{}"
          - key: "{}"
          password: password
          publishImmediately: true
          htmlTitle: htmlTitle
          translations:
            key:
              archivedInDashboard: true
              created: 2000-01-23T04:56:07.000+00:00
              tagIds:
              - 0
              - 0
              publishDate: 2000-01-23T04:56:07.000+00:00
              publicAccessRules:
              - {}
              - {}
              password: password
              authorName: authorName
              publicAccessRulesEnabled: true
              name: name
              campaign: campaign
              id: 6
              state: state
              updated: 2000-01-23T04:56:07.000+00:00
              slug: slug
          id: id
          state: state
          slug: slug
          createdById: createdById
          currentlyPublished: true
          archivedInDashboard: true
          created: 2000-01-23T04:56:07.000+00:00
          contentTypeCategory: "0"
          mabExperimentId: mabExperimentId
          updatedById: updatedById
          translatedFromId: translatedFromId
          folderId: folderId
          widgetContainers:
            key: "{}"
          pageExpiryRedirectId: 1
          dynamicPageDataSourceType: 5
          featuredImage: featuredImage
          authorName: authorName
          domain: domain
          name: name
          dynamicPageHubDbTableId: dynamicPageHubDbTableId
          campaign: campaign
          dynamicPageDataSourceId: dynamicPageDataSourceId
          enableDomainStylesheets: true
          includeDefaultCustomCss: true
          subcategory: subcategory
          layoutSections:
            key:
              cssStyle: cssStyle
              label: label
              type: type
              params:
                key: "{}"
              rows:
              - key: null
              - key: null
              rowMetaData:
              - cssClass: cssClass
                styles:
                  backgroundColor:
                    a: 5.637376656633329
                    r: 2
                    b: 7
                    g: 9
                  flexboxPositioning: flexboxPositioning
                  backgroundImage:
                    imageUrl: imageUrl
                    backgroundSize: backgroundSize
                    backgroundPosition: backgroundPosition
                  forceFullWidthSection: true
                  verticalAlignment: verticalAlignment
                  maxWidthSectionCentering: 3
                  backgroundGradient:
                    angle:
                      units: units
                      value: 2.027123023002322
                    sideOrCorner:
                      horizontalSide: horizontalSide
                      verticalSide: verticalSide
                    colors:
                    - color:
                        a: 5.637376656633329
                        r: 2
                        b: 7
                        g: 9
                    - color:
                        a: 5.637376656633329
                        r: 2
                        b: 7
                        g: 9
              - cssClass: cssClass
                styles:
                  backgroundColor:
                    a: 5.637376656633329
                    r: 2
                    b: 7
                    g: 9
                  flexboxPositioning: flexboxPositioning
                  backgroundImage:
                    imageUrl: imageUrl
                    backgroundSize: backgroundSize
                    backgroundPosition: backgroundPosition
                  forceFullWidthSection: true
                  verticalAlignment: verticalAlignment
                  maxWidthSectionCentering: 3
                  backgroundGradient:
                    angle:
                      units: units
                      value: 2.027123023002322
                    sideOrCorner:
                      horizontalSide: horizontalSide
                      verticalSide: verticalSide
                    colors:
                    - color:
                        a: 5.637376656633329
                        r: 2
                        b: 7
                        g: 9
                    - color:
                        a: 5.637376656633329
                        r: 2
                        b: 7
                        g: 9
              cells:
              - null
              - null
              cssClass: cssClass
              w: 4
              cssId: cssId
              x: 7
              name: name
              styles:
                backgroundColor:
                  a: 5.637376656633329
                  r: 2
                  b: 7
                  g: 9
                flexboxPositioning: flexboxPositioning
                backgroundImage:
                  imageUrl: imageUrl
                  backgroundSize: backgroundSize
                  backgroundPosition: backgroundPosition
                forceFullWidthSection: true
                verticalAlignment: verticalAlignment
                maxWidthSectionCentering: 3
                backgroundGradient:
                  angle:
                    units: units
                    value: 2.027123023002322
                  sideOrCorner:
                    horizontalSide: horizontalSide
                    verticalSide: verticalSide
                  colors:
                  - color:
                      a: 5.637376656633329
                      r: 2
                      b: 7
                      g: 9
                  - color:
                      a: 5.637376656633329
                      r: 2
                      b: 7
                      g: 9
          updated: 2000-01-23T04:56:07.000+00:00
          footerHtml: footerHtml
          widgets:
            key: "{}"
          headHtml: headHtml
          pageExpiryRedirectUrl: pageExpiryRedirectUrl
          abStatus: master
          useFeaturedImage: true
          abTestId: abTestId
          featuredImageAltText: featuredImageAltText
          contentGroupId: contentGroupId
          pageExpiryEnabled: true
          templatePath: templatePath
          url: url
          publicAccessRules:
          - {}
          - {}
          archivedAt: 2000-01-23T04:56:07.000+00:00
          themeSettingsValues:
            key: "{}"
          pageExpiryDate: 1
          publicAccessRulesEnabled: true
          pageRedirected: true
          currentState: AUTOMATED
          categoryId: 1
          linkRelCanonicalUrl: linkRelCanonicalUrl
        - publishDate: 2000-01-23T04:56:07.000+00:00
          language: af
          enableLayoutStylesheets: true
          metaDescription: metaDescription
          attachedStylesheets:
          - key: "{}"
          - key: "{}"
          password: password
          publishImmediately: true
          htmlTitle: htmlTitle
          translations:
            key:
              archivedInDashboard: true
              created: 2000-01-23T04:56:07.000+00:00
              tagIds:
              - 0
              - 0
              publishDate: 2000-01-23T04:56:07.000+00:00
              publicAccessRules:
              - {}
              - {}
              password: password
              authorName: authorName
              publicAccessRulesEnabled: true
              name: name
              campaign: campaign
              id: 6
              state: state
              updated: 2000-01-23T04:56:07.000+00:00
              slug: slug
          id: id
          state: state
          slug: slug
          createdById: createdById
          currentlyPublished: true
          archivedInDashboard: true
          created: 2000-01-23T04:56:07.000+00:00
          contentTypeCategory: "0"
          mabExperimentId: mabExperimentId
          updatedById: updatedById
          translatedFromId: translatedFromId
          folderId: folderId
          widgetContainers:
            key: "{}"
          pageExpiryRedirectId: 1
          dynamicPageDataSourceType: 5
          featuredImage: featuredImage
          authorName: authorName
          domain: domain
          name: name
          dynamicPageHubDbTableId: dynamicPageHubDbTableId
          campaign: campaign
          dynamicPageDataSourceId: dynamicPageDataSourceId
          enableDomainStylesheets: true
          includeDefaultCustomCss: true
          subcategory: subcategory
          layoutSections:
            key:
              cssStyle: cssStyle
              label: label
              type: type
              params:
                key: "{}"
              rows:
              - key: null
              - key: null
              rowMetaData:
              - cssClass: cssClass
                styles:
                  backgroundColor:
                    a: 5.637376656633329
                    r: 2
                    b: 7
                    g: 9
                  flexboxPositioning: flexboxPositioning
                  backgroundImage:
                    imageUrl: imageUrl
                    backgroundSize: backgroundSize
                    backgroundPosition: backgroundPosition
                  forceFullWidthSection: true
                  verticalAlignment: verticalAlignment
                  maxWidthSectionCentering: 3
                  backgroundGradient:
                    angle:
                      units: units
                      value: 2.027123023002322
                    sideOrCorner:
                      horizontalSide: horizontalSide
                      verticalSide: verticalSide
                    colors:
                    - color:
                        a: 5.637376656633329
                        r: 2
                        b: 7
                        g: 9
                    - color:
                        a: 5.637376656633329
                        r: 2
                        b: 7
                        g: 9
              - cssClass: cssClass
                styles:
                  backgroundColor:
                    a: 5.637376656633329
                    r: 2
                    b: 7
                    g: 9
                  flexboxPositioning: flexboxPositioning
                  backgroundImage:
                    imageUrl: imageUrl
                    backgroundSize: backgroundSize
                    backgroundPosition: backgroundPosition
                  forceFullWidthSection: true
                  verticalAlignment: verticalAlignment
                  maxWidthSectionCentering: 3
                  backgroundGradient:
                    angle:
                      units: units
                      value: 2.027123023002322
                    sideOrCorner:
                      horizontalSide: horizontalSide
                      verticalSide: verticalSide
                    colors:
                    - color:
                        a: 5.637376656633329
                        r: 2
                        b: 7
                        g: 9
                    - color:
                        a: 5.637376656633329
                        r: 2
[...]
