openapi: 3.0.1
info:
  title: Events Events
  version: v3
  x-hubspot-product-tier-requirements:
    marketing: ENTERPRISE
    sales: ENTERPRISE
    service: ENTERPRISE
    cms: ENTERPRISE
  x-hubspot-api-use-case: You want to view a timeline of the interactions that a contact
    has had with your content. You can then use this timeline to build a dataset for
    custom analytics or present a contact timeline in an external application.
  x-hubspot-related-documentation:
  - name: Web Analytics Guide
    url: https://developers.hubspot.com/docs/guides/api/analytics-and-events/event-analytics
  x-hubspot-introduction: "Use the web analytics API to fetch events associated with\
    \ CRM records of any type. This includes standard events, such as website page\
    \ views and email opens, as well as custom events."
servers:
- url: https://api.hubapi.com
tags:
- name: Events
paths:
  /events/v3/events/:
    get:
      description: "Retrieve instances of event completion data. For example, retrieve\
        \ all event completions associated with a specific contact."
      operationId: get-/events/v3/events/_getPage
      parameters:
      - description: "The type of CRM object to filter event instances on (e.g., `contact`).\
          \ To retrieve event data for a specific CRM record, include the additional\
          \ `objectId` query parameter (below). "
        explode: true
        in: query
        name: objectType
        required: false
        schema:
          type: string
        style: form
      - description: "The event type name. You can retrieve available event types\
          \ using the [event types endpoint](#get-%2Fevents%2Fv3%2Fevents%2Fevent-types)."
        explode: true
        in: query
        name: eventType
        required: false
        schema:
          type: string
        style: form
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to display per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Sort direction based on the timestamp of the event instance,\
          \ `ASCENDING` or `DESCENDING`."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter for event data that occurred after a specific datetime.
        explode: true
        in: query
        name: occurredAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter for event data that occurred before a specific datetime.
        explode: true
        in: query
        name: occurredBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "The ID of the CRM Object to filter event instances on. When\
          \ including this parameter, you must also include the `objectType` parameter."
        explode: true
        in: query
        name: objectId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "Instead of retrieving event data for a specific object by its\
          \ ID, you can specify a unique identifier property. For contacts, you can\
          \ use the `email` property. (e.g., `objectProperty.email=name@domain.com`)."
        explode: true
        in: query
        name: "objectProperty.{propname}"
        required: false
        schema:
          type: object
        style: form
      - description: "Filter for event completions that contain a specific value for\
          \ an event property (e.g., `property.hs_city=portland`). For properties\
          \ values with spaces, replaces spaces with `%20` or `+` (e.g., `property.hs_city=new+york`)."
        explode: true
        in: query
        name: "property.{propname}"
        required: false
        schema:
          type: object
        style: form
      - description: "ID of an event instance. IDs are 1:1 with event instances. If\
          \ you provide this filter and additional filters, the other filters must\
          \ match the values on the event instance to yield results."
        explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseExternalUnifiedEvent'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - oauth
      - private_apps:
        - oauth
      summary: Retrieve event data
      tags:
      - Events
  /events/v3/events/event-types:
    get:
      description: "This endpoint returns a list of event type names which are visible\
        \ to you. You may use these event type names to query the API for specific\
        \ event instances of a desired type.\n\nNote: the `get_types` method is only\
        \ supported in the Python SDK version `12.0.0-beta.1` or later. "
      operationId: get-/events/v3/events/event-types_getTypes
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisibleExternalEventTypeNames'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - oauth
      - private_apps:
        - oauth
      summary: Event Types
      tags:
      - Events
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    ErrorDetail:
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
      required:
      - message
      type: object
    CollectionResponseExternalUnifiedEvent:
      example:
        paging:
          next:
            link: link
            after: after
          prev:
            before: before
            link: link
        results:
        - occurredAt: 2000-01-23T04:56:07.000+00:00
          eventType: eventType
          id: id
          objectId: objectId
          properties:
            key: properties
          objectType: objectType
        - occurredAt: 2000-01-23T04:56:07.000+00:00
          eventType: eventType
          id: id
          objectId: objectId
          properties:
            key: properties
          objectType: objectType
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        results:
          description: ""
          items:
            $ref: '#/components/schemas/ExternalUnifiedEvent'
          type: array
      required:
      - results
      type: object
    ExternalUnifiedEvent:
      example:
        occurredAt: 2000-01-23T04:56:07.000+00:00
        eventType: eventType
        id: id
        objectId: objectId
        properties:
          key: properties
        objectType: objectType
      properties:
        occurredAt:
          description: An ISO 8601 timestamp when the event occurred.
          format: date-time
          type: string
        eventType:
          description: "The format of the `eventType` string is `ae{appId}_{eventTypeLabel}`,\
            \ `pe{portalId}_{eventTypeLabel}`, or just `e_{eventTypeLabel}` for HubSpot\
            \ events."
          type: string
        id:
          description: A unique identifier for the event.
          type: string
        objectId:
          description: The objectId of the object which did the event.
          type: string
        properties:
          additionalProperties:
            type: string
          type: object
        objectType:
          description: The objectType for the object which did the event.
          type: string
      required:
      - eventType
      - id
      - objectId
      - objectType
      - occurredAt
      type: object
    PreviousPage:
      example:
        before: before
        link: link
      properties:
        before:
          type: string
        link:
          type: string
      required:
      - before
      type: object
    Paging:
      example:
        next:
          link: link
          after: after
        prev:
          before: before
          link: link
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
        prev:
          $ref: '#/components/schemas/PreviousPage'
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
            invalidPropertyName:
            - propertyValue
          type: object
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          example:
            knowledge-base: https://www.hubspot.com/products/service/knowledge-base
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: Invalid input (details will vary based on the error)
          type: string
        category:
          description: The error category
          example: VALIDATION_ERROR
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
      required:
      - category
      - correlationId
      - message
      type: object
    VisibleExternalEventTypeNames:
      example:
        eventTypes:
        - eventTypes
        - eventTypes
      properties:
        eventTypes:
          description: List of event type names.
          items:
            type: string
          type: array
      required:
      - eventTypes
      type: object
    NextPage:
      example:
        link: link
        after: after
      properties:
        link:
          description: ""
          type: string
        after:
          description: ""
          type: string
      required:
      - after
      type: object
  securitySchemes:
    oauth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            oauth: User and Account Information
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    private_apps:
      in: header
      name: private-app
      type: apiKey
x-hubspot-available-client-libraries:
- PHP
- Node
- Ruby
- Python
x-hubspot-product-tier-requirements:
  marketing: ENTERPRISE
  sales: ENTERPRISE
  service: ENTERPRISE
  cms: ENTERPRISE
