openapi: 3.0.1
info:
  description: Get information about a HubSpot account and its API usage.
  title: Account Account Info
  version: v3
  x-hubspot-product-tier-requirements:
    marketing: FREE
    sales: FREE
    service: FREE
    cms: FREE
  x-hubspot-api-use-case: Your security team wants deeper insight into which internal
    users are accessing your HubSpot account data and you need to provide the associated
    activity data.
  x-hubspot-related-documentation:
  - name: Account information API guide
    url: https://developers.hubspot.com/docs/guides/api/settings/account-information-api
  x-hubspot-introduction: "Use the account information API to retrieve login and security\
    \ history for your account, as well as usage data for a public app."
servers:
- url: https://api.hubapi.com
tags:
- name: Usage
- name: Details
paths:
  /account-info/v3/api-usage/daily/private-apps:
    get:
      description: "Retrieve the daily API usage for private apps in the account,\
        \ along with information about usage limits."
      operationId: get-/account-info/v3/api-usage/daily/private-apps
      parameters: []
      responses:
        "200":
          content:
            application/json:
              example:
                results:
                - collectedAt: 2020-04-10T06:46:40.789Z
                  currentUsage: 1
                  fetchStatus: SUCCESS
                  name: private-apps-api-calls-daily
                  resetsAt: 2020-04-10T04:00:00Z
                  usageLimit: 500000
              schema:
                $ref: '#/components/schemas/CollectionResponseApiUsageNoPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - oauth
      - private_apps:
        - oauth
      summary: Retrieve private app daily API usage
      tags:
      - Usage
  /account-info/v3/details:
    get:
      description: "Retrieve account details such as the account type, time zone,\
        \ currencies, and data hosting location. "
      operationId: get-/account-info/v3/details
      parameters: []
      responses:
        "200":
          content:
            application/json:
              example:
                additionalCurrencies:
                - NZD
                - AUD
                - EUR
                companyCurrency: USD
                dataHostingLocation: eu1
                portalId: 12345678
                timeZone: US/Eastern
                uiDomain: app-eu1.hubspot.com
                utcOffset: -04:00
                utcOffsetMilliseconds: -14400000
              schema:
                $ref: '#/components/schemas/PortalInformationResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - oauth
      - private_apps:
        - oauth
      summary: Retrieve account details
      tags:
      - Details
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    ErrorDetail:
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
      required:
      - message
      type: object
    ApiUsage:
      description: API usage and limits information for a HubSpot account.
      example:
        collectedAt: 2000-01-23T04:56:07.000+00:00
        usageLimit: 0
        fetchStatus: SUCCESS
        name: name
        currentUsage: 6
        resetsAt: 2000-01-23T04:56:07.000+00:00
      properties:
        collectedAt:
          description: Indicates when the cache was last updated.
          format: date-time
          type: string
        usageLimit:
          description: Limits by which a single integration can consume the HubSpot
            public APIs.
          format: int32
          type: integer
        fetchStatus:
          description: "Status of fetching the information, including if the data\
            \ came from the cache."
          enum:
          - SUCCESS
          - TIMEOUT
          - FAILURE
          - CACHED
          - NOTFOUND
          type: string
        name:
          description: Name of the limit type.
          type: string
        currentUsage:
          description: How many API calls an account has made for the current day.
          format: int32
          type: integer
        resetsAt:
          description: Time that the limit will reset.
          format: date-time
          type: string
      required:
      - collectedAt
      - currentUsage
      - fetchStatus
      - name
      - usageLimit
      type: object
    PortalInformationResponse:
      example:
        additionalCurrencies:
        - additionalCurrencies
        - additionalCurrencies
        utcOffset: utcOffset
        companyCurrency: companyCurrency
        portalId: 0
        accountType: STANDARD
        uiDomain: uiDomain
        timeZone: timeZone
        dataHostingLocation: dataHostingLocation
        utcOffsetMilliseconds: 6
      properties:
        additionalCurrencies:
          items:
            type: string
          type: array
        utcOffset:
          type: string
        companyCurrency:
          type: string
        portalId:
          format: int32
          type: integer
        accountType:
          enum:
          - STANDARD
          - DEVELOPER_TEST
          - SANDBOX
          - APP_DEVELOPER
          type: string
        uiDomain:
          type: string
        timeZone:
          type: string
        dataHostingLocation:
          type: string
        utcOffsetMilliseconds:
          format: int64
          type: integer
      required:
      - accountType
      - additionalCurrencies
      - companyCurrency
      - dataHostingLocation
      - portalId
      - timeZone
      - uiDomain
      - utcOffset
      - utcOffsetMilliseconds
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
            invalidPropertyName:
            - propertyValue
          type: object
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          example:
            knowledge-base: https://www.hubspot.com/products/service/knowledge-base
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: Invalid input (details will vary based on the error)
          type: string
        category:
          description: The error category
          example: VALIDATION_ERROR
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
      required:
      - category
      - correlationId
      - message
      type: object
    CollectionResponseApiUsageNoPaging:
      example:
        results:
        - collectedAt: 2000-01-23T04:56:07.000+00:00
          usageLimit: 0
          fetchStatus: SUCCESS
          name: name
          currentUsage: 6
          resetsAt: 2000-01-23T04:56:07.000+00:00
        - collectedAt: 2000-01-23T04:56:07.000+00:00
          usageLimit: 0
          fetchStatus: SUCCESS
          name: name
          currentUsage: 6
          resetsAt: 2000-01-23T04:56:07.000+00:00
      properties:
        results:
          items:
            $ref: '#/components/schemas/ApiUsage'
          type: array
      required:
      - results
      type: object
  securitySchemes:
    oauth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            account-info.security.read: Allows reading of account security information
            oauth: User and Account Information
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    private_apps:
      in: header
      name: private-app
      type: apiKey
