openapi: 3.0.1
info:
  title: Imports
  version: v3
  x-hubspot-product-tier-requirements:
    marketing: FREE
    sales: FREE
    service: FREE
    cms: FREE
  x-hubspot-api-use-case: "After a successful in-person webinar, use this API to import\
    \ a set of contacts based on who signed up during the event."
  x-hubspot-related-documentation:
  - name: Import CRM Guide
    url: https://developers.hubspot.com/docs/guides/api/crm/imports
  x-hubspot-introduction: "Use the imports API to import CRM records and activities,\
    \ such as contacts, companies, and notes, into your HubSpot account."
servers:
- url: https://api.hubapi.com
tags:
- name: Core
- name: Public_Imports
paths:
  /crm/v3/imports/{importId}/cancel:
    post:
      description: This allows a developer to cancel an active import.
      operationId: "post-/crm/v3/imports/{importId}/cancel_cancel"
      parameters:
      - explode: false
        in: path
        name: importId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.import
      - oauth2:
        - crm.import
      summary: Cancel an active import
      tags:
      - Core
  /crm/v3/imports/{importId}:
    get:
      description: "A complete summary of an import record, including any updates."
      operationId: "get-/crm/v3/imports/{importId}_getById"
      parameters:
      - explode: false
        in: path
        name: importId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicImportResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.import
      - oauth2:
        - crm.import
      summary: Get the information on any import
      tags:
      - Core
  /crm/v3/imports/{importId}/errors:
    get:
      operationId: "get-/crm/v3/imports/{importId}/errors_getErrors"
      parameters:
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to display per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: false
        in: path
        name: importId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Set to True to receive a message explaining the error.
        explode: true
        in: query
        name: includeErrorMessage
        required: false
        schema:
          type: boolean
        style: form
      - description: Set to True to receive the data values for the errored row.
        explode: true
        in: query
        name: includeRowData
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicImportErrorForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.import
      - oauth2:
        - crm.import
      tags:
      - Public_Imports
  /crm/v3/imports/:
    get:
      description: Returns a paged list of active imports for this account.
      operationId: get-/crm/v3/imports/_getPage
      parameters:
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to display per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicImportResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.import
      - oauth2:
        - crm.import
      summary: Get active imports
      tags:
      - Core
    post:
      description: Begins importing data from the specified file resources. This uploads
        the corresponding file and uses the import request object to convert rows
        in the files to objects.
      operationId: post-/crm/v3/imports/_create
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/post__crm_v3_imports__create_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicImportResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.import
      - oauth2:
        - crm.import
      summary: Start a new import
      tags:
      - Core
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    CollectionResponsePublicImportResponse:
      example:
        paging:
          next:
            link: link
            after: after
          prev:
            before: before
            link: link
        results:
        - importTemplate:
            templateType: admin_defined
            templateId: 0
          createdAt: 2000-01-23T04:56:07.000+00:00
          metadata:
            counters:
              TOTAL_ROWS: 2
              CREATED_OBJECTS: 1
              UPDATED_OBJECTS: 1
              UNIQUE_OBJECTS_WRITTEN: 2
              PROPERTY_VALUES_EMITTED: 2
            fileIds:
            - "3579849"
            objectLists:
            - listId: "3"
              objectType: contacts
          importRequestJson: "{}"
          importSource: API
          importName: importName
          state: DONE
          id: "1471"
          optOutImport: false
          mappedObjectTypeIds:
          - mappedObjectTypeIds
          - mappedObjectTypeIds
          updatedAt: 2000-01-23T04:56:07.000+00:00
        - importTemplate:
            templateType: admin_defined
            templateId: 0
          createdAt: 2000-01-23T04:56:07.000+00:00
          metadata:
            counters:
              TOTAL_ROWS: 2
              CREATED_OBJECTS: 1
              UPDATED_OBJECTS: 1
              UNIQUE_OBJECTS_WRITTEN: 2
              PROPERTY_VALUES_EMITTED: 2
            fileIds:
            - "3579849"
            objectLists:
            - listId: "3"
              objectType: contacts
          importRequestJson: "{}"
          importSource: API
          importName: importName
          state: DONE
          id: "1471"
          optOutImport: false
          mappedObjectTypeIds:
          - mappedObjectTypeIds
          - mappedObjectTypeIds
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        results:
          items:
            $ref: '#/components/schemas/PublicImportResponse'
          type: array
      required:
      - results
      type: object
    Paging:
      example:
        next:
          link: link
          after: after
        prev:
          before: before
          link: link
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
        prev:
          $ref: '#/components/schemas/PreviousPage'
      type: object
    PublicObjectListRecord:
      properties:
        listId:
          description: The ID of the list containing the imported objects.
          example: "3"
          type: string
        objectType:
          description: The type of object contained in the list.
          example: contacts
          type: string
      required:
      - listId
      - objectType
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
            invalidPropertyName:
            - propertyValue
          type: object
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          example:
            knowledge-base: https://www.hubspot.com/products/service/knowledge-base
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: Invalid input (details will vary based on the error)
          type: string
        category:
          description: The error category
          example: VALIDATION_ERROR
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
      required:
      - category
      - correlationId
      - message
      type: object
    PropertyValue:
      example:
        sourceId: sourceId
        selectedByUser: true
        sourceLabel: sourceLabel
        source: UNKNOWN
        updatedByUserId: 6
        persistenceTimestamp: 1
        sourceMetadata: sourceMetadata
        dataSensitivity: none
        sourceVid:
        - 5
        - 5
        unit: unit
        requestId: requestId
        isEncrypted: true
        name: name
        useTimestampAsPersistenceTimestamp: true
        value: value
        selectedByUserTimestamp: 5
        timestamp: 2
        isLargeValue: true
      properties:
        sourceId:
          type: string
        selectedByUser:
          type: boolean
        sourceLabel:
          type: string
        source:
          enum:
          - UNKNOWN
          - IMPORT
          - API
          - FORM
          - ANALYTICS
          - MIGRATION
          - SALESFORCE
          - INTEGRATION
          - CONTACTS_WEB
          - WAL_INCREMENTAL
          - TASK
          - EMAIL
          - WORKFLOWS
          - CALCULATED
          - SOCIAL
          - BATCH_UPDATE
          - SIGNALS
          - BIDEN
          - DEFAULT
          - COMPANIES
          - DEALS
          - ASSISTS
          - PRESENTATIONS
          - TALLY
          - SIDEKICK
          - CRM_UI
          - MERGE_CONTACTS
          - PORTAL_USER_ASSOCIATOR
          - INTEGRATIONS_PLATFORM
          - BCC_TO_CRM
          - FORWARD_TO_CRM
          - ENGAGEMENTS
          - SALES
          - HEISENBERG
          - LEADIN
          - GMAIL_INTEGRATION
          - ACADEMY
          - SALES_MESSAGES
          - AVATARS_SERVICE
          - MERGE_COMPANIES
          - SEQUENCES
          - COMPANY_FAMILIES
          - MOBILE_IOS
          - MOBILE_ANDROID
          - CONTACTS
          - ASSOCIATIONS
          - EXTENSION
          - SUCCESS
          - BOT
          - INTEGRATIONS_SYNC
          - AUTOMATION_PLATFORM
          - CONVERSATIONS
          - EMAIL_INTEGRATION
          - CONTENT_MEMBERSHIP
          - QUOTES
          - BET_ASSIGNMENT
          - QUOTAS
          - BET_CRM_CONNECTOR
          - MEETINGS
          - MERGE_OBJECTS
          - RECYCLING_BIN
          - ADS
          - AI_GROUP
          - COMMUNICATOR
          - SETTINGS
          - PROPERTY_SETTINGS
          - PIPELINE_SETTINGS
          - COMPANY_INSIGHTS
          - BEHAVIORAL_EVENTS
          - PAYMENTS
          - GOALS
          - PORTAL_OBJECT_SYNC
          - APPROVALS
          - FILE_MANAGER
          - MARKETPLACE
          - INTERNAL_PROCESSING
          - FORECASTING
          - SLACK_INTEGRATION
          - CRM_UI_BULK_ACTION
          - WORKFLOW_CONTACT_DELETE_ACTION
          - ACCEPTANCE_TEST
          - PLAYBOOKS
          - CHATSPOT
          - FLYWHEEL_PRODUCT_DATA_SYNC
          - HELP_DESK
          - BILLING
          - DATA_ENRICHMENT
          - AUTOMATION_JOURNEY
          - MICROAPPS
          - INTENT
          - PROSPECTING_AGENT
          type: string
        updatedByUserId:
          format: int32
          type: integer
        persistenceTimestamp:
          format: int64
          type: integer
        sourceMetadata:
          type: string
        dataSensitivity:
          enum:
          - none
          - standard
          - high
          type: string
        sourceVid:
          items:
            format: int64
            type: integer
          type: array
        unit:
          type: string
        requestId:
          type: string
        isEncrypted:
          type: boolean
        name:
          type: string
        useTimestampAsPersistenceTimestamp:
          type: boolean
        value:
          type: string
        selectedByUserTimestamp:
          format: int64
          type: integer
        timestamp:
          format: int64
          type: integer
        isLargeValue:
          type: boolean
      required:
      - dataSensitivity
      - isEncrypted
      - isLargeValue
      - name
      - persistenceTimestamp
      - requestId
      - selectedByUser
      - selectedByUserTimestamp
      - source
      - sourceId
      - sourceLabel
      - sourceMetadata
      - sourceVid
      - timestamp
      - unit
      - updatedByUserId
      - useTimestampAsPersistenceTimestamp
      - value
      type: object
    ImportRowCore:
      example:
        rowData:
        - rowData
        - rowData
        containsEncryptedProperties: true
        lineNumber: 9
        pageName: pageName
        fileId: 3
      properties:
        rowData:
          items:
            type: string
          type: array
        containsEncryptedProperties:
          type: boolean
        lineNumber:
          format: int32
          type: integer
        pageName:
          type: string
        fileId:
          format: int32
          type: integer
      required:
      - containsEncryptedProperties
      - fileId
      - lineNumber
      - rowData
      type: object
    ImportTemplate:
      example:
        templateType: admin_defined
        templateId: 0
      properties:
        templateType:
          enum:
          - admin_defined
          - previous_import
          - user_file
          type: string
        templateId:
          format: int32
          type: integer
      required:
      - templateId
      - templateType
      type: object
    ActionResponse:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        requestedAt: 2000-01-23T04:56:07.000+00:00
        startedAt: 2000-01-23T04:56:07.000+00:00
        links:
          key: links
        status: PENDING
      properties:
        completedAt:
          format: date-time
          type: string
        requestedAt:
          format: date-time
          type: string
        startedAt:
          format: date-time
          type: string
        links:
          additionalProperties:
            type: string
          type: object
        status:
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
      required:
      - completedAt
      - startedAt
      - status
      type: object
    ErrorDetail:
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
      required:
      - message
      type: object
    ForwardPaging:
      example:
        next:
          link: link
          after: after
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      type: object
    PublicImportError:
      example:
        createdAt: 0
        extraContext: extraContext
        objectTypeId: objectTypeId
        errorType: INCORRECT_NUMBER_OF_COLUMNS
        invalidPropertyValue:
          sourceId: sourceId
          selectedByUser: true
          sourceLabel: sourceLabel
          source: UNKNOWN
          updatedByUserId: 6
          persistenceTimestamp: 1
          sourceMetadata: sourceMetadata
          dataSensitivity: none
          sourceVid:
          - 5
          - 5
          unit: unit
          requestId: requestId
          isEncrypted: true
          name: name
          useTimestampAsPersistenceTimestamp: true
          value: value
          selectedByUserTimestamp: 5
          timestamp: 2
          isLargeValue: true
        errorMessage: errorMessage
        knownColumnNumber: 7
        invalidValueToDisplay: invalidValueToDisplay
        id: id
        sourceData:
          rowData:
          - rowData
          - rowData
          containsEncryptedProperties: true
          lineNumber: 9
          pageName: pageName
          fileId: 3
        objectType: CONTACT
        invalidValue: invalidValue
      properties:
        createdAt:
          format: int32
          type: integer
        extraContext:
          type: string
        objectTypeId:
          type: string
        errorType:
          enum:
          - INCORRECT_NUMBER_OF_COLUMNS
          - INVALID_OBJECT_ID
          - INVALID_ASSOCIATION_IDENTIFIER
          - NO_OBJECT_ID_FROM_ASSOCIATION_IDENTIFIER
          - MULTIPLE_COMPANIES_WITH_THIS_DOMAIN
          - PROPERTY_DEFINITION_NOT_FOUND
          - PROPERTY_VALUE_NOT_FOUND
          - COULD_NOT_FIND_OWNER
          - MULTIPLE_OWNERS_FOUND
          - COULD_NOT_FIND_BUSINESS_UNIT
          - COULD_NOT_PARSE_NUMBER
          - COULD_NOT_PARSE_DATE
          - COULD_NOT_PARSE_TERM
          - OUTSIDE_VALID_TIME_RANGE
          - OUTSIDE_VALID_TERM_RANGE
          - COULD_NOT_PARSE_ROW
          - INVALID_ENUMERATION_OPTION
          - AMBIGUOUS_ENUMERATION_OPTION
          - FAILED_VALIDATION
          - FAILED_TO_CREATE_ASSOCIATION
          - ASSOCIATION_LIMIT_EXCEEDED
          - FILE_NOT_FOUND
          - INVALID_COLUMN_CONFIGURATION
          - INVALID_FILE_TYPE
          - INVALID_SPREADSHEET
          - INVALID_SHEET_COUNT
          - FAILED_TO_PROCESS_OBJECT_WITH_EMPTY_PROPERTY_VALUES
          - UNKNOWN_BAD_REQUEST
          - GDPR_BLACKLISTED_EMAIL
          - DUPLICATE_ASSOCIATION_ID
          - LIMIT_EXCEEDED
          - PORTAL_WIDE_CUSTOM_OBJECT_LIMIT_EXCEEDED
          - INVALID_ALTERNATE_ID
          - INVALID_EMAIL
          - SECONDARY_EMAIL_WRITE_FAILURE
          - INVALID_DOMAIN
          - DUPLICATE_ROW_CONTENT
          - INVALID_NUMBER_SIZE
          - UNKNOWN_ERROR
          - FAILED_TO_OPT_OUT_CONTACT
          - INVALID_REQUIRED_PROPERTY
          - MISSING_REQUIRED_PROPERTY
          - DUPLICATE_ALTERNATE_ID
          - DUPLICATE_OBJECT_ID
          - DUPLICATE_UNIQUE_PROPERTY_VALUE
          - UNKNOWN_ASSOCIATION_RECORD_ID
          - INVALID_RECORD_ID
          - DUPLICATE_RECORD_ID
          - INVALID_CUSTOM_PROPERTY_VALIDATION
          - CREATE_ONLY_IMPORT
          - UPDATE_ONLY_IMPORT
          - COLUMN_TOO_LARGE
          - ROW_DATA_TOO_LARGE
          - MISSING_EVENT_TIMESTAMP
          - INVALID_EVENT_TIMESTAMP
          - INVALID_EVENT
          - DUPLICATE_EVENT
          - MISSING_EVENT_DEFINITION
          - INVALID_ASSOCIATION_KEY
          - ASSOCIATION_RECORD_NOT_FOUND
          - MISSING_OBJECT_DEFINITION
          - ASSOCIATION_LABEL_NOT_FOUND
          - MANY_ERRORS_IN_ROW
          type: string
        invalidPropertyValue:
          $ref: '#/components/schemas/PropertyValue'
        errorMessage:
          type: string
        knownColumnNumber:
          format: int32
          type: integer
        invalidValueToDisplay:
          type: string
        id:
          type: string
        sourceData:
          $ref: '#/components/schemas/ImportRowCore'
        objectType:
          enum:
          - CONTACT
          - COMPANY
          - DEAL
          - ENGAGEMENT
          - TICKET
          - OWNER
          - PRODUCT
          - LINE_ITEM
          - BET_DELIVERABLE_SERVICE
          - CONTENT
          - CONVERSATION
          - BET_ALERT
          - PORTAL
          - QUOTE
          - FORM_SUBMISSION_INBOUNDDB
          - QUOTA
          - UNSUBSCRIBE
          - COMMUNICATION
          - FEEDBACK_SUBMISSION
          - ATTRIBUTION
          - SALESFORCE_SYNC_ERROR
          - RESTORABLE_CRM_OBJECT
          - HUB
          - LANDING_PAGE
          - PRODUCT_OR_FOLDER
          - TASK
          - FORM
          - MARKETING_EMAIL
          - AD_ACCOUNT
          - AD_CAMPAIGN
          - AD_GROUP
          - AD
          - KEYWORD
          - CAMPAIGN
          - SOCIAL_CHANNEL
          - SOCIAL_POST
          - SITE_PAGE
          - BLOG_POST
          - IMPORT
          - EXPORT
          - CTA
          - TASK_TEMPLATE
          - AUTOMATION_PLATFORM_FLOW
          - OBJECT_LIST
          - NOTE
          - MEETING_EVENT
          - CALL
          - EMAIL
          - PUBLISHING_TASK
          - CONVERSATION_SESSION
          - CONTACT_CREATE_ATTRIBUTION
          - INVOICE
          - MARKETING_EVENT
          - CONVERSATION_INBOX
          - CHATFLOW
          - MEDIA_BRIDGE
          - SEQUENCE
          - SEQUENCE_STEP
          - FORECAST
          - SNIPPET
          - TEMPLATE
          - DEAL_CREATE_ATTRIBUTION
          - QUOTE_TEMPLATE
          - QUOTE_MODULE
          - QUOTE_MODULE_FIELD
          - QUOTE_FIELD
          - SEQUENCE_ENROLLMENT
          - SUBSCRIPTION
          - ACCEPTANCE_TEST
          - SOCIAL_BROADCAST
          - DEAL_SPLIT
          - DEAL_REGISTRATION
          - GOAL_TARGET
          - GOAL_TARGET_GROUP
          - PORTAL_OBJECT_SYNC_MESSAGE
          - FILE_MANAGER_FILE
          - FILE_MANAGER_FOLDER
          - SEQUENCE_STEP_ENROLLMENT
          - APPROVAL
          - APPROVAL_STEP
          - CTA_VARIANT
          - SALES_DOCUMENT
          - DISCOUNT
          - FEE
          - TAX
          - MARKETING_CALENDAR
          - PERMISSIONS_TESTING
          - PRIVACY_SCANNER_COOKIE
          - DATA_SYNC_STATE
          - WEB_INTERACTIVE
          - PLAYBOOK
          - FOLDER
          - PLAYBOOK_QUESTION
          - PLAYBOOK_SUBMISSION
          - PLAYBOOK_SUBMISSION_ANSWER
          - COMMERCE_PAYMENT
          - GSC_PROPERTY
          - SOX_PROTECTED_DUMMY_TYPE
          - BLOG_LISTING_PAGE
          - QUARANTINED_SUBMISSION
          - PAYMENT_SCHEDULE
          - PAYMENT_SCHEDULE_INSTALLMENT
          - MARKETING_CAMPAIGN_UTM
          - DISCOUNT_TEMPLATE
          - DISCOUNT_CODE
          - FEEDBACK_SURVEY
          - CMS_URL
          - SALES_TASK
          - SALES_WORKLOAD
          - USER
          - POSTAL_MAIL
          - SCHEMAS_BACKEND_TEST
          - PAYMENT_LINK
          - SUBMISSION_TAG
          - CAMPAIGN_STEP
          - SCHEDULING_PAGE
          - SOX_PROTECTED_TEST_TYPE
          - ORDER
          - MARKETING_SMS
          - PARTNER_ACCOUNT
          - CAMPAIGN_TEMPLATE
          - CAMPAIGN_TEMPLATE_STEP
          - PLAYLIST
          - CLIP
          - CAMPAIGN_BUDGET_ITEM
          - CAMPAIGN_SPEND_ITEM
          - MIC
          - CONTENT_AUDIT
          - CONTENT_AUDIT_PAGE
          - PLAYLIST_FOLDER
          - LEAD
          - ABANDONED_CART
          - EXTERNAL_WEB_URL
          - VIEW
          - VIEW_BLOCK
          - ROSTER
          - CART
          - AUTOMATION_PLATFORM_FLOW_ACTION
          - SOCIAL_PROFILE
          - PARTNER_CLIENT
          - ROSTER_MEMBER
          - MARKETING_EVENT_ATTENDANCE
          - ALL_PAGES
          - AI_FORECAST
          - CRM_PIPELINES_DUMMY_TYPE
          - KNOWLEDGE_ARTICLE
          - PROPERTY_INFO
          - DATA_PRIVACY_CONSENT
          - GOAL_TEMPLATE
          - SCORE_CONFIGURATION
          - AUDIENCE
          - PARTNER_CLIENT_REVENUE
          - AUTOMATION_JOURNEY
          - COMBO_EVENT_CONFIGURATION
          - CRM_OBJECTS_DUMMY_TYPE
          - CASE_STUDY
          - SERVICE
          - PODCAST_EPISODE
          - PARTNER_SERVICE
          - PROSPECTING_AGENT_CONTACT_ASSIGNMENT
          - UNKNOWN
          type: string
        invalidValue:
          type: string
      required:
      - createdAt
      - errorType
      - id
      - sourceData
      type: object
    PreviousPage:
      example:
        before: before
        link: link
      properties:
        before:
          type: string
        link:
          type: string
      required:
      - before
      type: object
    PublicImportMetadata:
      example:
        counters:
          TOTAL_ROWS: 2
          CREATED_OBJECTS: 1
          UPDATED_OBJECTS: 1
          UNIQUE_OBJECTS_WRITTEN: 2
          PROPERTY_VALUES_EMITTED: 2
        fileIds:
        - "3579849"
        objectLists:
        - listId: "3"
          objectType: contacts
      properties:
        counters:
          additionalProperties:
            format: int32
            type: integer
          description: Summarized outcomes of each row a developer attempted to import
            into HubSpot.
          example:
            TOTAL_ROWS: 2
            CREATED_OBJECTS: 1
            UPDATED_OBJECTS: 1
            UNIQUE_OBJECTS_WRITTEN: 2
            PROPERTY_VALUES_EMITTED: 2
          type: object
        fileIds:
          description: The IDs of files uploaded in the File Manager API.
          example:
          - "3579849"
          items:
            type: string
          type: array
        objectLists:
          description: The lists containing the imported objects.
          example:
          - listId: "3"
            objectType: contacts
          items:
            $ref: '#/components/schemas/PublicObjectListRecord'
          type: array
      required:
      - counters
      - fileIds
      - objectLists
      type: object
    CollectionResponsePublicImportErrorForwardPaging:
      example:
        paging:
          next:
            link: link
            after: after
        results:
        - createdAt: 0
          extraContext: extraContext
          objectTypeId: objectTypeId
          errorType: INCORRECT_NUMBER_OF_COLUMNS
          invalidPropertyValue:
            sourceId: sourceId
            selectedByUser: true
            sourceLabel: sourceLabel
            source: UNKNOWN
            updatedByUserId: 6
            persistenceTimestamp: 1
            sourceMetadata: sourceMetadata
            dataSensitivity: none
            sourceVid:
            - 5
            - 5
            unit: unit
            requestId: requestId
            isEncrypted: true
            name: name
            useTimestampAsPersistenceTimestamp: true
            value: value
            selectedByUserTimestamp: 5
            timestamp: 2
            isLargeValue: true
          errorMessage: errorMessage
          knownColumnNumber: 7
          invalidValueToDisplay: invalidValueToDisplay
          id: id
          sourceData:
            rowData:
            - rowData
            - rowData
            containsEncryptedProperties: true
            lineNumber: 9
            pageName: pageName
            fileId: 3
          objectType: CONTACT
          invalidValue: invalidValue
        - createdAt: 0
          extraContext: extraContext
          objectTypeId: objectTypeId
          errorType: INCORRECT_NUMBER_OF_COLUMNS
          invalidPropertyValue:
            sourceId: sourceId
            selectedByUser: true
            sourceLabel: sourceLabel
            source: UNKNOWN
            updatedByUserId: 6
            persistenceTimestamp: 1
            sourceMetadata: sourceMetadata
            dataSensitivity: none
            sourceVid:
            - 5
            - 5
            unit: unit
            requestId: requestId
            isEncrypted: true
            name: name
            useTimestampAsPersistenceTimestamp: true
            value: value
            selectedByUserTimestamp: 5
            timestamp: 2
            isLargeValue: true
          errorMessage: errorMessage
          knownColumnNumber: 7
          invalidValueToDisplay: invalidValueToDisplay
          id: id
          sourceData:
            rowData:
            - rowData
            - rowData
            containsEncryptedProperties: true
            lineNumber: 9
            pageName: pageName
            fileId: 3
          objectType: CONTACT
          invalidValue: invalidValue
      properties:
        paging:
          $ref: '#/components/schemas/ForwardPaging'
        results:
          items:
            $ref: '#/components/schemas/PublicImportError'
          type: array
      required:
      - results
      type: object
    PublicImportResponse:
      example:
        importTemplate:
          templateType: admin_defined
          templateId: 0
        createdAt: 2000-01-23T04:56:07.000+00:00
        metadata:
          counters:
            TOTAL_ROWS: 2
            CREATED_OBJECTS: 1
            UPDATED_OBJECTS: 1
            UNIQUE_OBJECTS_WRITTEN: 2
            PROPERTY_VALUES_EMITTED: 2
          fileIds:
          - "3579849"
          objectLists:
          - listId: "3"
            objectType: contacts
        importRequestJson: "{}"
        importSource: API
        importName: importName
        state: DONE
        id: "1471"
        optOutImport: false
        mappedObjectTypeIds:
        - mappedObjectTypeIds
        - mappedObjectTypeIds
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        importTemplate:
          $ref: '#/components/schemas/ImportTemplate'
        createdAt:
          format: date-time
          type: string
        metadata:
          $ref: '#/components/schemas/PublicImportMetadata'
        importRequestJson:
          properties: {}
          type: object
        importSource:
          enum:
          - API
          - CRM_UI
          - IMPORT
          - MOBILE_ANDROID
          - MOBILE_IOS
          - SALESFORCE
          type: string
        importName:
          type: string
        state:
          description: The status of the import.
          enum:
          - STARTED
          - PROCESSING
          - DONE
          - FAILED
          - CANCELED
          - DEFERRED
          - REVERTED
          example: DONE
          type: string
        id:
          example: "1471"
          type: string
        optOutImport:
          description: Whether or not the import is a list of people disqualified
            from receiving emails.
          example: false
          type: boolean
        mappedObjectTypeIds:
          items:
            type: string
          type: array
        updatedAt:
          format: date-time
          type: string
      required:
      - createdAt
      - id
      - mappedObjectTypeIds
      - metadata
      - optOutImport
      - state
      - updatedAt
      type: object
    NextPage:
      example:
        link: link
        after: after
      properties:
        link:
          type: string
        after:
          type: string
      required:
      - after
      type: object
    post__crm_v3_imports__create_request:
      properties:
        files:
          format: binary
          type: string
        importRequest:
          type: string
      type: object
  securitySchemes:
    oauth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            crm.import: Create or modify all your CRM data through bulk imports
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    private_apps:
      in: header
      name: private-app
      type: apiKey
x-hubspot-available-client-libraries:
- PHP
- Node
- Ruby
- Python
x-hubspot-product-tier-requirements:
  marketing: FREE
  sales: FREE
  service: FREE
  cms: FREE
