openapi: 3.0.1
info:
  title: Events Manage Event Definitions
  version: v3
  x-hubspot-product-tier-requirements:
    marketing: ENTERPRISE
    sales: ENTERPRISE
    service: ENTERPRISE
    cms: ENTERPRISE
  x-hubspot-api-use-case: You want to track more complex interactions that visitors
    perform when they navigate to your website and engage with your content.
  x-hubspot-related-documentation:
  - name: Custom Events Definitions Guide
    url: https://developers.hubspot.com/docs/guides/api/analytics-and-events/custom-events/custom-event-definitions
  x-hubspot-introduction: Use the custom events API to define events that you can
    later create and associate with records in your HubSpot CRM.
servers:
- url: https://api.hubapi.com
tags:
- name: Event definition
paths:
  /events/v3/event-definitions:
    get:
      description: Retrieve existing custom event definitions.
      operationId: get-/events/v3/event-definitions
      parameters:
      - description: "Characters in the event name that the user is searching for.\
          \ This search is a naive “contains” search, no fuzzy matching is done."
        explode: true
        in: query
        name: searchString
        required: false
        schema:
          type: string
        style: form
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to display per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: includeProperties
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalExternalBehavioralEventTypeDefinitionForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - behavioral_events.event_definitions.read_write
      - oauth2:
        - behavioral_events.event_definitions.read_write
      summary: Retrieve event definitions
      tags:
      - Event definition
    post:
      description: Create a custom event definition.
      operationId: post-/events/v3/event-definitions
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalBehavioralEventTypeDefinitionEgg'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalBehavioralEventTypeDefinition'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - behavioral_events.event_definitions.read_write
      - oauth2:
        - behavioral_events.event_definitions.read_write
      summary: Create custom event definition
      tags:
      - Event definition
  /events/v3/event-definitions/{eventName}:
    delete:
      description: Delete a custom event definition by name.
      operationId: "delete-/events/v3/event-definitions/{eventName}"
      parameters:
      - description: The name of the event definition.
        explode: false
        in: path
        name: eventName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - behavioral_events.event_definitions.read_write
      - oauth2:
        - behavioral_events.event_definitions.read_write
      summary: Delete an event definition
      tags:
      - Event definition
    get:
      description: Fetch a single custom event definition by name.
      operationId: "get-/events/v3/event-definitions/{eventName}"
      parameters:
      - description: The internal name of the custom event.
        explode: false
        in: path
        name: eventName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalBehavioralEventTypeDefinition'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - behavioral_events.event_definitions.read_write
      - oauth2:
        - behavioral_events.event_definitions.read_write
      summary: Retrieve a custom event definition
      tags:
      - Event definition
    patch:
      description: Update a specific custom event definition by name.
      operationId: "patch-/events/v3/event-definitions/{eventName}"
      parameters:
      - description: The internal name of the custom event.
        explode: false
        in: path
        name: eventName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalBehavioralEventTypeDefinitionPatch'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalBehavioralEventTypeDefinition'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - behavioral_events.event_definitions.read_write
      - oauth2:
        - behavioral_events.event_definitions.read_write
      summary: Update a custom event definition
      tags:
      - Event definition
  /events/v3/event-definitions/{eventName}/property:
    post:
      description: Create a new property for an existing event definition.
      operationId: "post-/events/v3/event-definitions/{eventName}/property"
      parameters:
      - description: The internal name of the custom event.
        explode: false
        in: path
        name: eventName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalBehavioralEventPropertyCreate'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - behavioral_events.event_definitions.read_write
      - oauth2:
        - behavioral_events.event_definitions.read_write
      summary: Create a property for an event definition
      tags:
      - Event definition
  /events/v3/event-definitions/{eventName}/property/{propertyName}:
    delete:
      description: Delete an existing property from a custom event definition.
      operationId: "delete-/events/v3/event-definitions/{eventName}/property/{propertyName}"
      parameters:
      - description: The internal name of the custom event.
        explode: false
        in: path
        name: eventName
        required: true
        schema:
          type: string
        style: simple
      - description: The internal name of the property to delete.
        explode: false
        in: path
        name: propertyName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - behavioral_events.event_definitions.read_write
      - oauth2:
        - behavioral_events.event_definitions.read_write
      summary: Delete a property from a custom event definition
      tags:
      - Event definition
    patch:
      description: Update an existing property in a custom event definition.
      operationId: "patch-/events/v3/event-definitions/{eventName}/property/{propertyName}"
      parameters:
      - description: The internal name of the custom event.
        explode: false
        in: path
        name: eventName
        required: true
        schema:
          type: string
        style: simple
      - description: The internal name of the property to update.
        explode: false
        in: path
        name: propertyName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalBehavioralEventPropertyDefinitionPatch'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - behavioral_events.event_definitions.read_write
      - oauth2:
        - behavioral_events.event_definitions.read_write
      summary: Update an existing custom event property
      tags:
      - Event definition
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    RollingPropertyUpdatedOperation:
      properties:
        includeObjectsWithNoValueSet:
          type: boolean
        defaultValue:
          type: string
        propertyType:
          default: rolling-property-updated
          enum:
          - rolling-property-updated
          type: string
        operationType:
          type: string
        numberOfDays:
          format: int32
          type: integer
        operatorName:
          type: string
        operator:
          enum:
          - UPDATED_IN_LAST_X_DAYS
          - NOT_UPDATED_IN_LAST_X_DAYS
          type: string
      required:
      - includeObjectsWithNoValueSet
      - numberOfDays
      - operationType
      - operator
      - operatorName
      - propertyType
      title: rolling-property-updated
      type: object
    TodayReference:
      properties:
        hour:
          format: int32
          type: integer
        millisecond:
          format: int32
          type: integer
        referenceType:
          default: TODAY
          enum:
          - TODAY
          type: string
        minute:
          format: int32
          type: integer
        second:
          format: int32
          type: integer
      required:
      - referenceType
      title: TODAY
      type: object
    NowReference:
      properties:
        hour:
          format: int32
          type: integer
        millisecond:
          format: int32
          type: integer
        referenceType:
          default: NOW
          enum:
          - NOW
          type: string
        minute:
          format: int32
          type: integer
        second:
          format: int32
          type: integer
      required:
      - referenceType
      title: NOW
      type: object
    RangedTimeOperation:
      properties:
        upperBoundEndpointBehavior:
          enum:
          - INCLUSIVE
          - EXCLUSIVE
          type: string
        includeObjectsWithNoValueSet:
          type: boolean
        upperBoundTimePoint:
          $ref: '#/components/schemas/RangedTimeOperation_upperBoundTimePoint'
        defaultValue:
          type: string
        propertyType:
          default: rangedtime
          enum:
          - rangedtime
          type: string
        propertyParser:
          enum:
          - VALUE
          - UPDATED_AT
          - ANNIVERSARY
          - VALUE_WITH_ZONE_SAME_LOCAL_CONVERSION
          - ANNIVERSARY_WITH_ZONE_SAME_LOCAL_CONVERSION
          type: string
        operationType:
          type: string
        lowerBoundEndpointBehavior:
          enum:
          - INCLUSIVE
          - EXCLUSIVE
          type: string
        type:
          type: string
        operatorName:
          type: string
        operator:
          enum:
          - IS_BETWEEN
          - IS_NOT_BETWEEN
          type: string
        lowerBoundTimePoint:
          $ref: '#/components/schemas/RangedTimeOperation_upperBoundTimePoint'
      required:
      - includeObjectsWithNoValueSet
      - lowerBoundEndpointBehavior
      - lowerBoundTimePoint
      - operationType
      - operator
      - operatorName
      - propertyParser
      - propertyType
      - type
      - upperBoundEndpointBehavior
      - upperBoundTimePoint
      title: rangedtime
      type: object
    ErrorDetail:
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
      required:
      - message
      type: object
    ForwardPaging:
      example:
        next:
          link: link
          after: after
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      type: object
    QuarterReference:
      properties:
        hour:
          format: int32
          type: integer
        month:
          format: int32
          type: integer
        millisecond:
          format: int32
          type: integer
        referenceType:
          default: QUARTER
          enum:
          - QUARTER
          type: string
        day:
          format: int32
          type: integer
        minute:
          format: int32
          type: integer
        second:
          format: int32
          type: integer
      required:
      - day
      - month
      - referenceType
      title: QUARTER
      type: object
    RelativeComparativeTimestampRefineBy:
      properties:
        comparison:
          enum:
          - BEFORE
          - AFTER
          type: string
        timeOffset:
          $ref: '#/components/schemas/TimeOffset'
        type:
          default: RelativeComparativeTimestampRefineBy
          enum:
          - RelativeComparativeTimestampRefineBy
          type: string
      required:
      - comparison
      - timeOffset
      - type
      title: RelativeComparativeTimestampRefineBy
      type: object
    CalendarDatePropertyOperation:
      properties:
        useFiscalYear:
          type: boolean
        fiscalYearStart:
          enum:
          - JANUARY
          - FEBRUARY
          - MARCH
          - APRIL
          - MAY
          - JUNE
          - JULY
          - AUGUST
          - SEPTEMBER
          - OCTOBER
          - NOVEMBER
          - DECEMBER
          type: string
        includeObjectsWithNoValueSet:
          type: boolean
        defaultValue:
          type: string
        propertyType:
          default: calendar-date
          enum:
          - calendar-date
          type: string
        timeUnitCount:
          format: int32
          type: integer
        operationType:
          type: string
        operatorName:
          type: string
        operator:
          enum:
          - IN_THIS_TIME_UNIT
          - IN_THIS_TIME_UNIT_SO_FAR
          - IN_NEXT_TIME_UNIT
          - IN_LAST_TIME_UNIT
          type: string
        timeUnit:
          enum:
          - DAY
          - WEEK
          - MONTH
          - QUARTER
          - YEAR
          type: string
      required:
      - includeObjectsWithNoValueSet
      - operationType
      - operator
      - operatorName
      - propertyType
      - timeUnit
      - timeUnitCount
      - useFiscalYear
      title: calendar-date
      type: object
    ExternalBehavioralEventTypeDefinitionPatch:
      example:
        description: description
        label: label
      properties:
        description:
          description: A description of the event that will be shown as help text
            in HubSpot.
          type: string
        label:
          description: Human readable label for the event. Used in HubSpot UI
          type: string
      type: object
    StringPropertyOperation:
      properties:
        includeObjectsWithNoValueSet:
          type: boolean
        defaultValue:
          type: string
        propertyType:
          default: string
          enum:
          - string
          type: string
        operationType:
          type: string
        value:
          type: string
        operatorName:
          type: string
        operator:
          enum:
          - IS_EQUAL_TO
          - IS_NOT_EQUAL_TO
          - CONTAINS
          - DOES_NOT_CONTAIN
          - STARTS_WITH
          - ENDS_WITH
          - HAS_EVER_BEEN_EQUAL_TO
          - HAS_NEVER_BEEN_EQUAL_TO
          - HAS_EVER_CONTAINED
          - HAS_NEVER_CONTAINED
          type: string
      required:
      - includeObjectsWithNoValueSet
      - operationType
      - operator
      - operatorName
      - propertyType
      - value
      title: string
      type: object
    TimeOffset:
      properties:
        amount:
          format: int32
          type: integer
        offsetDirection:
          enum:
          - PAST
          - FUTURE
          type: string
        timeUnit:
          enum:
          - WEEKS
          - DAYS
          - HOURS
          - MINUTES
          type: string
      required:
      - amount
      - offsetDirection
      - timeUnit
      type: object
    ExternalBehavioralEventPropertyCreate:
      example:
        name: name
        options:
        - hidden: true
          displayOrder: 0
          description: description
          label: label
          value: value
        - hidden: true
          displayOrder: 0
          description: description
          label: label
          value: value
        description: description
        label: label
        type: type
      properties:
        name:
          description: "Internal property name, which must be used when referencing\
            \ the property from the API"
          type: string
        options:
          description: "A list of available options for the property if it is an enumeration.\
            \ NOTE: This field is only applicable for enumerated properties."
          items:
            $ref: '#/components/schemas/OptionInput'
          type: array
        description:
          description: A description of the property that will be shown as help text
            in HubSpot.
          type: string
        label:
          description: Human readable label for the property. Used in HubSpot UI
          type: string
        type:
          description: "The data type of the property. Can be one of the following:\
            \ [string, number, enumeration, datetime]"
          type: string
      required:
      - label
      - type
      type: object
    ExternalBehavioralEventTypeDefinitionEgg:
      example:
        propertyDefinitions:
        - name: name
          options:
          - hidden: true
            displayOrder: 0
            description: description
            label: label
            value: value
          - hidden: true
            displayOrder: 0
            description: description
            label: label
            value: value
          description: description
          label: label
          type: type
        - name: name
          options:
          - hidden: true
            displayOrder: 0
            description: description
            label: label
            value: value
          - hidden: true
            displayOrder: 0
            description: description
            label: label
            value: value
          description: description
          label: label
          type: type
        name: name
        description: description
        label: label
        primaryObject: primaryObject
      properties:
        propertyDefinitions:
          description: List of custom properties on event
          items:
            $ref: '#/components/schemas/ExternalBehavioralEventPropertyCreate'
          type: array
        name:
          description: "Internal event name, which must be used when referencing the\
            \ event from this event definitions API. If a name is not supplied, one\
            \ will be generated based on the label. The `name` value will also be\
            \ used to automatically generate a `fullyQualifiedName` for the event\
            \ definition, which you'll use when sending event completions to this\
            \ event. "
          type: string
        description:
          description: A description of the event that will be shown as help text
            in HubSpot.
          type: string
        label:
          description: Human readable label for the event. Used in HubSpot UI
          type: string
        primaryObject:
          description: "The object type to associate this event to. Can be one of\
            \ CONTACT, COMPANY, DEAL, TICKET. If no primaryObject is supplied, we\
            \ will default to associating the event to CONTACT objects."
          type: string
      required:
      - label
      - propertyDefinitions
      type: object
    FiscalQuarter:
      properties:
        hour:
          format: int32
          type: integer
        month:
          format: int32
          type: integer
        millisecond:
          format: int32
          type: integer
        referenceType:
          default: FISCAL_QUARTER
          enum:
          - FISCAL_QUARTER
          type: string
        day:
          format: int32
          type: integer
        minute:
          format: int32
          type: integer
        second:
          format: int32
          type: integer
      required:
      - day
      - month
      - referenceType
      title: FISCAL_QUARTER
      type: object
    YearReference:
      properties:
        hour:
          format: int32
          type: integer
        month:
          format: int32
          type: integer
        millisecond:
          format: int32
          type: integer
        referenceType:
          default: YEAR
          enum:
          - YEAR
          type: string
        day:
          format: int32
          type: integer
        minute:
          format: int32
          type: integer
        second:
          format: int32
          type: integer
      required:
      - day
      - month
      - referenceType
      title: YEAR
      type: object
    DatePoint:
      properties:
        month:
          format: int32
          type: integer
        hour:
          format: int32
          type: integer
        year:
          format: int32
          type: integer
        timezoneSource:
          enum:
          - CUSTOM
          - USER
          - PORTAL
          type: string
        millisecond:
          format: int32
          type: integer
        timeType:
          default: DATE
          enum:
          - DATE
          type: string
        zoneId:
          type: string
        day:
          format: int32
          type: integer
        minute:
          format: int32
          type: integer
        second:
          format: int32
          type: integer
      required:
      - day
      - month
      - timeType
      - timezoneSource
      - year
      - zoneId
      title: DATE
      type: object
    AbsoluteRangedTimestampRefineBy:
      properties:
        rangeType:
          enum:
          - BETWEEN
          - NOT_BETWEEN
          type: string
        upperTimestamp:
          format: int32
          type: integer
        lowerTimestamp:
          format: int32
          type: integer
        type:
          default: AbsoluteRangedTimestampRefineBy
          enum:
          - AbsoluteRangedTimestampRefineBy
          type: string
      required:
      - lowerTimestamp
      - rangeType
      - type
      - upperTimestamp
      title: AbsoluteRangedTimestampRefineBy
      type: object
    AllPropertyTypesOperation:
      properties:
        coalescingRefineBy:
          $ref: '#/components/schemas/AllPropertyTypesOperation_coalescingRefineBy'
        includeObjectsWithNoValueSet:
          type: boolean
        defaultValue:
          type: string
        pruningRefineBy:
          $ref: '#/components/schemas/AllPropertyTypesOperation_pruningRefineBy'
        propertyType:
          default: alltypes
          enum:
          - alltypes
          type: string
        operationType:
          type: string
        operatorName:
          type: string
        operator:
          enum:
          - IS_KNOWN
          - IS_UNKNOWN
          - IS_BLANK
          - IS_NOT_BLANK
          type: string
      required:
      - coalescingRefineBy
      - includeObjectsWithNoValueSet
      - operationType
      - operator
      - operatorName
      - propertyType
      title: alltypes
      type: object
    DateTimePropertyOperation:
      properties:
        includeObjectsWithNoValueSet:
          type: boolean
        defaultValue:
          type: string
        propertyType:
          default: datetime
          enum:
          - datetime
          type: string
        requiresTimeZoneConversion:
          type: boolean
        operationType:
          type: string
        operatorName:
          type: string
        operator:
          enum:
          - IS_BEFORE
          - IS_AFTER
          - IS_EQUAL_TO
          - IS_BEFORE_DATE
          - IS_AFTER_DATE
          type: string
        timestamp:
          format: int32
          type: integer
      required:
      - includeObjectsWithNoValueSet
      - operationType
      - operator
      - operatorName
      - propertyType
      - requiresTimeZoneConversion
      - timestamp
      title: datetime
      type: object
    ComparativeDatePropertyOperation:
      properties:
        includeObjectsWithNoValueSet:
          type: boolean
        defaultValue:
          type: string
        propertyType:
          default: datetime-comparative
          enum:
          - datetime-comparative
          type: string
        defaultComparisonValue:
          type: string
        operationType:
          type: string
        comparisonPropertyName:
          type: string
        operatorName:
          type: string
        operator:
          enum:
          - IS_BEFORE
          - IS_AFTER
          type: string
      required:
      - comparisonPropertyName
      - includeObjectsWithNoValueSet
      - operationType
      - operator
      - operatorName
      - propertyType
      title: datetime-comparative
      type: object
    ExternalBehavioralEventPropertyDefinitionPatch:
      example:
        options:
        - hidden: true
          displayOrder: 0
          description: description
          label: label
          value: value
        - hidden: true
          displayOrder: 0
          description: description
          label: label
          value: value
        description: description
        label: label
      properties:
        options:
          description: "A list of available options for the property if it is an enumeration.\
            \ NOTE: This field is only applicable for enumerated properties."
          items:
            $ref: '#/components/schemas/OptionInput'
          type: array
        description:
          description: A description of the property that will be shown as help text
            in HubSpot.
          type: string
        label:
          description: Human readable label for the property. Used in HubSpot UI
          type: string
      type: object
    PropertyModificationMetadata:
      example:
        readOnlyOptions: true
        readOnlyValue: true
        readOnlyDefinition: true
        archivable: true
      properties:
        readOnlyOptions:
          type: boolean
        readOnlyValue:
          type: boolean
        readOnlyDefinition:
          type: boolean
        archivable:
          type: boolean
      required:
      - archivable
      - readOnlyDefinition
      - readOnlyValue
      type: object
    ExternalBehavioralEventTypeDefinition:
      example:
        associations:
        - inverseLabel: inverseLabel
          hidden: true
          allowsCustomLabels: true
          maxFromObjectIds: 6
          inverseAllowsCustomLabels: true
          isPrimary: true
          hasUserEnforcedMaxToObjectIds: true
          hasUserEnforcedMaxFromObjectIds: true
          id: 1
          toObjectTypeId: toObjectTypeId
          inverseCardinality: ONE_TO_ONE
          maxToObjectIds: 5
          hasCascadingDeletes: true
          fromObjectType: CONTACT
          toObjectType: CONTACT
          label: label
          inverseId: 5
          cardinality: ONE_TO_ONE
          inverseName: inverseName
          hasAllAssociatedObjects: true
          inverseHasAllAssociatedObjects: true
          fromObjectTypeId: fromObjectTypeId
          portalUniqueIdentifier: portalUniqueIdentifier
          isInversePrimary: true
          name: name
          category: HUBSPOT_DEFINED
        - inverseLabel: inverseLabel
          hidden: true
          allowsCustomLabels: true
          maxFromObjectIds: 6
          inverseAllowsCustomLabels: true
          isPrimary: true
          hasUserEnforcedMaxToObjectIds: true
          hasUserEnforcedMaxFromObjectIds: true
          id: 1
          toObjectTypeId: toObjectTypeId
          inverseCardinality: ONE_TO_ONE
          maxToObjectIds: 5
          hasCascadingDeletes: true
          fromObjectType: CONTACT
          toObjectType: CONTACT
          label: label
          inverseId: 5
          cardinality: ONE_TO_ONE
          inverseName: inverseName
          hasAllAssociatedObjects: true
          inverseHasAllAssociatedObjects: true
          fromObjectTypeId: fromObjectTypeId
          portalUniqueIdentifier: portalUniqueIdentifier
          isInversePrimary: true
          name: name
          category: HUBSPOT_DEFINED
        objectTypeId: objectTypeId
        createdUserId: 2
        trackingType: VISITED_URL
        description: description
        primaryObjectId: primaryObjectId
        comboEventRules:
          operationType: AND
          composingRules:
          - lookbackWindowDays: 7
            eventTypeId: eventTypeId
            propertyFilters:
            - frameworkFilterId: 9
              property: property
              filterType: PROPERTY
              operation:
                includeObjectsWithNoValueSet: true
                defaultValue: defaultValue
                propertyType: bool
                operationType: operationType
                value: true
                operatorName: operatorName
                operator: IS_EQUAL_TO
            - frameworkFilterId: 9
              property: property
              filterType: PROPERTY
              operation:
                includeObjectsWithNoValueSet: true
                defaultValue: defaultValue
                propertyType: bool
                operationType: operationType
                value: true
                operatorName: operatorName
                operator: IS_EQUAL_TO
            count: 3
          - lookbackWindowDays: 7
            eventTypeId: eventTypeId
            propertyFilters:
            - frameworkFilterId: 9
              property: property
              filterType: PROPERTY
              operation:
                includeObjectsWithNoValueSet: true
                defaultValue: defaultValue
                propertyType: bool
                operationType: operationType
                value: true
                operatorName: operatorName
                operator: IS_EQUAL_TO
            - frameworkFilterId: 9
              property: property
              filterType: PROPERTY
              operation:
                includeObjectsWithNoValueSet: true
                defaultValue: defaultValue
                propertyType: bool
                operationType: operationType
                value: true
                operatorName: operatorName
                operator: IS_EQUAL_TO
            count: 3
          ruleBranches:
          - null
          - null
        fullyQualifiedName: fullyQualifiedName
        primaryObject: primaryObject
        labels:
          plural: plural
          singular: singular
        archived: true
        createdAt: 2000-01-23T04:56:07.000+00:00
        name: name
        id: id
        properties:
        - hidden: true
          displayOrder: 2
          description: description
          showCurrencySymbol: true
          type: type
          hubspotDefined: true
          createdAt: 2000-01-23T04:56:07.000+00:00
          archived: true
          options:
          - hidden: true
            displayOrder: 4
            description: description
            label: label
            value: value
          - hidden: true
            displayOrder: 4
            description: description
            label: label
            value: value
          hasUniqueValue: true
          calculated: true
          externalOptions: true
          updatedAt: 2000-01-23T04:56:07.000+00:00
          createdUserId: createdUserId
          modificationMetadata:
            readOnlyOptions: true
            readOnlyValue: true
            readOnlyDefinition: true
            archivable: true
          sensitiveDataCategories:
          - sensitiveDataCategories
          - sensitiveDataCategories
          label: label
          formField: true
          dataSensitivity: non_sensitive
          archivedAt: 2000-01-23T04:56:07.000+00:00
          groupName: groupName
          referencedObjectType: referencedObjectType
          name: name
          calculationFormula: calculationFormula
          fieldType: fieldType
          updatedUserId: updatedUserId
        - hidden: true
          displayOrder: 2
          description: description
          showCurrencySymbol: true
          type: type
          hubspotDefined: true
          createdAt: 2000-01-23T04:56:07.000+00:00
          archived: true
          options:
          - hidden: true
            displayOrder: 4
            description: description
            label: label
            value: value
          - hidden: true
            displayOrder: 4
            description: description
            label: label
            value: value
          hasUniqueValue: true
          calculated: true
          externalOptions: true
          updatedAt: 2000-01-23T04:56:07.000+00:00
          createdUserId: createdUserId
          modificationMetadata:
            readOnlyOptions: true
            readOnlyValue: true
            readOnlyDefinition: true
            archivable: true
          sensitiveDataCategories:
          - sensitiveDataCategories
          - sensitiveDataCategories
          label: label
          formField: true
          dataSensitivity: non_sensitive
          archivedAt: 2000-01-23T04:56:07.000+00:00
          groupName: groupName
          referencedObjectType: referencedObjectType
          name: name
          calculationFormula: calculationFormula
          fieldType: fieldType
          updatedUserId: updatedUserId
      properties:
        associations:
          items:
            $ref: '#/components/schemas/AssociationDefinition'
          type: array
        objectTypeId:
          type: string
        createdUserId:
          format: int32
          type: integer
        trackingType:
          enum:
          - VISITED_URL
          - CLICKED_ELEMENT
          - CUSTOM_SCRIPT
          - MANUAL
          - IMPORT
          - PROPERTY_CHANGE
          - COMBO_EVENT
          - WEBHOOK
          type: string
        description:
          type: string
        primaryObjectId:
          type: string
        comboEventRules:
          $ref: '#/components/schemas/ComboEventRuleBranch'
        fullyQualifiedName:
          type: string
        primaryObject:
          type: string
        labels:
          $ref: '#/components/schemas/BehavioralEventTypeDefinitionLabels'
        archived:
          type: boolean
        createdAt:
          format: date-time
          type: string
        name:
          type: string
        id:
          type: string
        properties:
          items:
            $ref: '#/components/schemas/Property'
          type: array
      required:
      - archived
      - associations
      - fullyQualifiedName
      - id
      - labels
      - name
      - objectTypeId
      - properties
      type: object
    MultiStringPropertyOperation:
      properties:
        coalescingRefineBy:
          $ref: '#/components/schemas/AllPropertyTypesOperation_coalescingRefineBy'
        includeObjectsWithNoValueSet:
          type: boolean
        defaultValue:
          type: string
        pruningRefineBy:
          $ref: '#/components/schemas/AllPropertyTypesOperation_pruningRefineBy'
        propertyType:
          default: multistring
          enum:
          - multistring
          type: string
        values:
          items:
            type: string
          type: array
        operationType:
          type: string
        operatorName:
          type: string
        operator:
          enum:
          - IS_EQUAL_TO
          - IS_NOT_EQUAL_TO
          - CONTAINS
          - DOES_NOT_CONTAIN
          - STARTS_WITH
          - ENDS_WITH
          type: string
      required:
      - coalescingRefineBy
      - includeObjectsWithNoValueSet
      - operationType
      - operator
      - operatorName
      - propertyType
      - values
      title: multistring
      type: object
    IndexOffset:
      properties:
        milliseconds:
          format: int32
          type: integer
        hours:
          format: int32
          type: integer
        seconds:
          format: int32
          type: integer
        months:
          format: int32
          type: integer
        weeks:
          format: int32
          type: integer
        minutes:
          format: int32
          type: integer
        quarters:
          format: int32
          type: integer
        days:
          format: int32
          type: integer
        years:
          format: int32
          type: integer
      type: object
    Option:
      example:
        hidden: true
        displayOrder: 4
        description: description
        label: label
        value: value
      properties:
        hidden:
          type: boolean
        displayOrder:
          format: int32
          type: integer
        description:
          type: string
        label:
          type: string
        value:
          type: string
      required:
      - hidden
      - label
      - value
      type: object
    PropertyFilter:
      example:
        frameworkFilterId: 9
        property: property
        filterType: PROPERTY
        operation:
          includeObjectsWithNoValueSet: true
          defaultValue: defaultValue
          propertyType: bool
          operationType: operationType
          value: true
          operatorName: operatorName
          operator: IS_EQUAL_TO
      properties:
        frameworkFilterId:
          format: int64
          type: integer
        property:
          type: string
        filterType:
          default: PROPERTY
          enum:
          - PROPERTY
          type: string
        operation:
          $ref: '#/components/schemas/PropertyFilter_operation'
      required:
      - filterType
      - operation
      - property
      title: PROPERTY
      type: object
    EnumerationPropertyOperation:
      properties:
        includeObjectsWithNoValueSet:
          type: boolean
        defaultValue:
          type: string
        propertyType:
          default: enumeration
          enum:
          - enumeration
          type: string
        values:
          items:
            type: string
          type: array
        operationType:
          type: string
        operatorName:
          type: string
        operator:
          enum:
          - IS_ANY_OF
          - IS_NONE_OF
          - IS_EXACTLY
          - IS_NOT_EXACTLY
          - CONTAINS_ALL
          - DOES_NOT_CONTAIN_ALL
          - HAS_EVER_BEEN_ANY_OF
          - HAS_NEVER_BEEN_ANY_OF
          - HAS_EVER_BEEN_EXACTLY
          - HAS_NEVER_BEEN_EXACTLY
          - HAS_EVER_CONTAINED_ALL
          - HAS_NEVER_CONTAINED_ALL
          type: string
      required:
      - includeObjectsWithNoValueSet
      - operationType
      - operator
      - operatorName
      - propertyType
      - values
      title: enumeration
      type: object
    WeekReference:
      properties:
        dayOfWeek:
          enum:
          - MONDAY
          - TUESDAY
          - WEDNESDAY
          - THURSDAY
          - FRIDAY
          - SATURDAY
          - SUNDAY
          type: string
        hour:
          format: int32
          type: integer
        millisecond:
          format: int32
          type: integer
        referenceType:
          default: WEEK
          enum:
          - WEEK
          type: string
        minute:
          format: int32
          type: integer
        second:
          format: int32
          type: integer
      required:
      - dayOfWeek
      - referenceType
      title: WEEK
      type: object
    RangedDatePropertyOperation:
      properties:
        lowerBoundTimestamp:
          format: int32
          type: integer
        includeObjectsWithNoValueSet:
          type: boolean
        defaultValue:
          type: string
        propertyType:
          default: datetime-ranged
          enum:
          - datetime-ranged
          type: string
        upperBoundTimestamp:
          format: int32
          type: integer
        requiresTimeZoneConversion:
          type: boolean
        operationType:
          type: string
        operatorName:
          type: string
        operator:
          enum:
          - IS_BETWEEN
          - IS_NOT_BETWEEN
          type: string
      required:
      - includeObjectsWithNoValueSet
      - lowerBoundTimestamp
      - operationType
      - operator
      - operatorName
      - propertyType
      - requiresTimeZoneConversion
      - upperBoundTimestamp
      title: datetime-ranged
      type: object
    IndexedTimePoint:
      properties:
        offset:
          $ref: '#/components/schemas/IndexOffset'
        timezoneSource:
          enum:
          - CUSTOM
          - USER
          - PORTAL
          type: string
        indexReference:
          $ref: '#/components/schemas/IndexedTimePoint_indexReference'
        timeType:
          default: INDEXED
          enum:
          - INDEXED
          type: string
        zoneId:
          type: string
      required:
      - indexReference
      - timeType
      - timezoneSource
      - zoneId
      title: INDEXED
      type: object
    RangedNumberPropertyOperation:
      properties:
        includeObjectsWithNoValueSet:
          type: boolean
        upperBound:
          format: int32
          type: integer
        defaultValue:
          type: string
        propertyType:
          default: number-ranged
          enum:
          - number-ranged
          type: string
        lowerBound:
          format: int32
          type: integer
        operationType:
          type: string
        operatorName:
          type: string
        operator:
          enum:
          - IS_BETWEEN
          - IS_NOT_BETWEEN
          type: string
      required:
      - includeObjectsWithNoValueSet
      - lowerBound
      - operationType
      - operator
      - operatorName
      - propertyType
      - upperBound
      title: number-ranged
      type: object
    FiscalYear:
      properties:
        hour:
          format: int32
          type: integer
        month:
          format: int32
          type: integer
        millisecond:
          format: int32
          type: integer
        referenceType:
          default: FISCAL_YEAR
          enum:
          - FISCAL_YEAR
          type: string
        day:
          format: int32
          type: integer
        minute:
          format: int32
          type: integer
        second:
          format: int32
          type: integer
      required:
      - day
      - month
      - referenceType
      title: FISCAL_YEAR
      type: object
    RollingDateRangePropertyOperation:
      properties:
        includeObjectsWithNoValueSet:
          type: boolean
        defaultValue:
          type: string
        propertyType:
          default: datetime-rolling
          enum:
          - datetime-rolling
          type: string
        requiresTimeZoneConversion:
          type: boolean
        operationType:
          type: string
        numberOfDays:
          format: int32
          type: integer
        operatorName:
          type: string
        operator:
          enum:
          - IS_LESS_THAN_X_DAYS_AGO
          - IS_MORE_THAN_X_DAYS_AGO
          - IS_LESS_THAN_X_DAYS_FROM_NOW
          - IS_MORE_THAN_X_DAYS_FROM_NOW
          type: string
      required:
      - includeObjectsWithNoValueSet
      - numberOfDays
      - operationType
      - operator
      - operatorName
      - propertyType
      - requiresTimeZoneConversion
      title: datetime-rolling
      type: object
    BoolPropertyOperation:
      example:
        includeObjectsWithNoValueSet: true
        defaultValue: defaultValue
        propertyType: bool
        operationType: operationType
        value: true
        operatorName: operatorName
        operator: IS_EQUAL_TO
      properties:
        includeObjectsWithNoValueSet:
          type: boolean
        defaultValue:
          type: string
        propertyType:
          default: bool
          enum:
          - bool
          type: string
        operationType:
          type: string
        value:
          type: boolean
        operatorName:
          type: string
        operator:
          enum:
          - IS_EQUAL_TO
          - IS_NOT_EQUAL_TO
          - HAS_EVER_BEEN_EQUAL_TO
          - HAS_NEVER_BEEN_EQUAL_TO
          type: string
      required:
      - includeObjectsWithNoValueSet
      - operationType
      - operator
      - operatorName
      - propertyType
      - value
      title: bool
      type: object
    NumberPropertyOperation:
      properties:
        includeObjectsWithNoValueSet:
          type: boolean
        defaultValue:
          type: string
        propertyType:
          default: number
          enum:
          - number
          type: string
        operationType:
          type: string
        value:
          type: number
        operatorName:
          type: string
        operator:
          enum:
          - IS_EQUAL_TO
          - IS_NOT_EQUAL_TO
          - IS_GREATER_THAN
          - IS_GREATER_THAN_OR_EQUAL_TO
          - IS_LESS_THAN
          - IS_LESS_THAN_OR_EQUAL_TO
          - HAS_EVER_BEEN_EQUAL_TO
          - HAS_NEVER_BEEN_EQUAL_TO
          type: string
      required:
      - includeObjectsWithNoValueSet
      - operationType
      - operator
      - operatorName
      - propertyType
      - value
      title: number
      type: object
    TimePointOperation:
      properties:
        endpointBehavior:
          enum:
          - INCLUSIVE
          - EXCLUSIVE
          type: string
        includeObjectsWithNoValueSet:
          type: boolean
        defaultValue:
          type: string
        propertyType:
          default: timepoint
          enum:
          - timepoint
          type: string
        propertyParser:
          enum:
          - VALUE
          - UPDATED_AT
          - ANNIVERSARY
          - VALUE_WITH_ZONE_SAME_LOCAL_CONVERSION
          - ANNIVERSARY_WITH_ZONE_SAME_LOCAL_CONVERSION
          type: string
        timePoint:
          $ref: '#/components/schemas/RangedTimeOperation_upperBoundTimePoint'
        operationType:
          type: string
        type:
          type: string
        operatorName:
          type: string
        operator:
          enum:
          - IS_BEFORE
          - IS_AFTER
          type: string
      required:
      - endpointBehavior
      - includeObjectsWithNoValueSet
      - operationType
      - operator
      - operatorName
      - propertyParser
      - propertyType
      - timePoint
      - type
      title: timepoint
      type: object
    NumOccurrencesRefineBy:
      properties:
        maxOccurrences:
          format: int32
          type: integer
        type:
          default: NumOccurrencesRefineBy
          enum:
          - NumOccurrencesRefineBy
          type: string
        minOccurrences:
          format: int32
          type: integer
      required:
      - type
      title: NumOccurrencesRefineBy
      type: object
    MonthReference:
      properties:
        hour:
          format: int32
          type: integer
        millisecond:
          format: int32
          type: integer
        referenceType:
          default: MONTH
          enum:
          - MONTH
          type: string
        day:
          format: int32
          type: integer
        minute:
          format: int32
          type: integer
        second:
          format: int32
          type: integer
      required:
      - day
      - referenceType
      title: MONTH
      type: object
    ComboEventRule:
      example:
        lookbackWindowDays: 7
        eventTypeId: eventTypeId
        propertyFilters:
        - frameworkFilterId: 9
          property: property
          filterType: PROPERTY
          operation:
            includeObjectsWithNoValueSet: true
            defaultValue: defaultValue
            propertyType: bool
            operationType: operationType
            value: true
            operatorName: operatorName
            operator: IS_EQUAL_TO
        - frameworkFilterId: 9
          property: property
          filterType: PROPERTY
          operation:
            includeObjectsWithNoValueSet: true
            defaultValue: defaultValue
            propertyType: bool
            operationType: operationType
            value: true
            operatorName: operatorName
            operator: IS_EQUAL_TO
        count: 3
      properties:
        lookbackWindowDays:
          format: int32
          type: integer
        eventTypeId:
          type: string
        propertyFilters:
          items:
            $ref: '#/components/schemas/PropertyFilter'
          type: array
        count:
          format: int32
          type: integer
      required:
      - count
      - eventTypeId
      - propertyFilters
      type: object
    Property:
      example:
        hidden: true
        displayOrder: 2
        description: description
        showCurrencySymbol: true
        type: type
        hubspotDefined: true
        createdAt: 2000-01-23T04:56:07.000+00:00
        archived: true
        options:
        - hidden: true
          displayOrder: 4
          description: description
          label: label
          value: value
        - hidden: true
          displayOrder: 4
          description: description
          label: label
          value: value
        hasUniqueValue: true
        calculated: true
        externalOptions: true
        updatedAt: 2000-01-23T04:56:07.000+00:00
        createdUserId: createdUserId
        modificationMetadata:
          readOnlyOptions: true
          readOnlyValue: true
          readOnlyDefinition: true
          archivable: true
        sensitiveDataCategories:
        - sensitiveDataCategories
        - sensitiveDataCategories
        label: label
        formField: true
        dataSensitivity: non_sensitive
        archivedAt: 2000-01-23T04:56:07.000+00:00
        groupName: groupName
        referencedObjectType: referencedObjectType
        name: name
        calculationFormula: calculationFormula
        fieldType: fieldType
        updatedUserId: updatedUserId
      properties:
        hidden:
          type: boolean
        displayOrder:
          format: int32
          type: integer
        description:
          type: string
        showCurrencySymbol:
          type: boolean
        type:
          type: string
        hubspotDefined:
          type: boolean
        createdAt:
          format: date-time
          type: string
        archived:
          type: boolean
        options:
          items:
            $ref: '#/components/schemas/Option'
          type: array
        hasUniqueValue:
          type: boolean
        calculated:
          type: boolean
        externalOptions:
          type: boolean
        updatedAt:
          format: date-time
          type: string
        createdUserId:
          type: string
        modificationMetadata:
          $ref: '#/components/schemas/PropertyModificationMetadata'
        sensitiveDataCategories:
          items:
            type: string
          type: array
        label:
          type: string
        formField:
          type: boolean
        dataSensitivity:
          enum:
          - non_sensitive
          - sensitive
          - highly_sensitive
          type: string
        archivedAt:
          format: date-time
          type: string
        groupName:
          type: string
        referencedObjectType:
          type: string
        name:
          type: string
        calculationFormula:
          type: string
        fieldType:
          type: string
        updatedUserId:
          type: string
      required:
      - description
      - fieldType
      - groupName
      - label
      - name
      - options
      - type
      type: object
    RelativeRangedTimestampRefineBy:
      properties:
        upperBoundOffset:
          $ref: '#/components/schemas/TimeOffset'
        lowerBoundOffset:
          $ref: '#/components/schemas/TimeOffset'
        rangeType:
          enum:
          - BETWEEN
          - NOT_BETWEEN
          type: string
        type:
          default: RelativeRangedTimestampRefineBy
          enum:
          - RelativeRangedTimestampRefineBy
          type: string
      required:
      - lowerBoundOffset
      - rangeType
      - type
      - upperBoundOffset
      title: RelativeRangedTimestampRefineBy
      type: object
    PropertyReferencedTime:
      properties:
        timezoneSource:
          enum:
          - CUSTOM
          - USER
          - PORTAL
          type: string
        property:
          type: string
        timeType:
          default: PROPERTY_REFERENCED
          enum:
          - PROPERTY_REFERENCED
          type: string
        zoneId:
          type: string
        referenceType:
          enum:
          - VALUE
          - UPDATED_AT
          - ANNIVERSARY
          - VALUE_WITH_ZONE_SAME_LOCAL_CONVERSION
          - ANNIVERSARY_WITH_ZONE_SAME_LOCAL_CONVERSION
          type: string
      required:
      - property
      - referenceType
      - timeType
      - timezoneSource
      - zoneId
      title: PROPERTY_REFERENCED
      type: object
    OptionInput:
      example:
        hidden: true
        displayOrder: 0
        description: description
        label: label
        value: value
      properties:
        hidden:
          type: boolean
        displayOrder:
          format: int32
          type: integer
        description:
          description: "null"
          type: string
        label:
          description: "null"
          type: string
        value:
          description: "null"
          type: string
      required:
      - displayOrder
      - hidden
      - label
      - value
      type: object
    BehavioralEventTypeDefinitionLabels:
      example:
        plural: plural
        singular: singular
      properties:
        plural:
          type: string
        singular:
          type: string
      required:
      - singular
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
            invalidPropertyName:
            - propertyValue
          type: object
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          example:
            knowledge-base: https://www.hubspot.com/products/service/knowledge-base
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: Invalid input (details will vary based on the error)
          type: string
        category:
          description: The error category
          example: VALIDATION_ERROR
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
      required:
      - category
      - correlationId
      - message
      type: object
    AllHistoryRefineBy:
      properties:
        type:
          default: AllHistoryRefineBy
          enum:
          - AllHistoryRefineBy
          type: string
      required:
      - type
      title: AllHistoryRefineBy
      type: object
    ComparativePropertyUpdatedOperation:
      properties:
        includeObjectsWithNoValueSet:
          type: boolean
        defaultValue:
          type: string
        propertyType:
          default: property-updated-comparative
          enum:
          - property-updated-comparative
          type: string
        defaultComparisonValue:
          type: string
        operationType:
          type: string
        comparisonPropertyName:
          type: string
        operatorName:
          type: string
        operator:
          enum:
          - IS_BEFORE
          - IS_AFTER
          type: string
      required:
      - comparisonPropertyName
      - includeObjectsWithNoValueSet
      - operationType
      - operator
      - operatorName
      - propertyType
      title: property-updated-comparative
      type: object
    SetOccurrencesRefineBy:
      properties:
        type:
          default: SetOccurrencesRefineBy
          enum:
          - SetOccurrencesRefineBy
          type: string
        setType:
          enum:
          - ALL
          - ALL_INCLUDE_EMPTY
          - ANY
          - NONE
          - NONE_EXCLUDE_EMPTY
          - ANY_INCLUDE_EMPTY
          type: string
      required:
      - setType
      - type
      title: SetOccurrencesRefineBy
      type: object
    ComboEventRuleBranch:
      example:
        operationType: AND
        composingRules:
        - lookbackWindowDays: 7
          eventTypeId: eventTypeId
          propertyFilters:
          - frameworkFilterId: 9
            property: property
            filterType: PROPERTY
            operation:
              includeObjectsWithNoValueSet: true
              defaultValue: defaultValue
              propertyType: bool
              operationType: operationType
              value: true
              operatorName: operatorName
              operator: IS_EQUAL_TO
          - frameworkFilterId: 9
            property: property
            filterType: PROPERTY
            operation:
              includeObjectsWithNoValueSet: true
              defaultValue: defaultValue
              propertyType: bool
              operationType: operationType
              value: true
              operatorName: operatorName
              operator: IS_EQUAL_TO
          count: 3
        - lookbackWindowDays: 7
          eventTypeId: eventTypeId
          propertyFilters:
          - frameworkFilterId: 9
            property: property
            filterType: PROPERTY
            operation:
              includeObjectsWithNoValueSet: true
              defaultValue: defaultValue
              propertyType: bool
              operationType: operationType
              value: true
              operatorName: operatorName
              operator: IS_EQUAL_TO
          - frameworkFilterId: 9
            property: property
            filterType: PROPERTY
            operation:
              includeObjectsWithNoValueSet: true
              defaultValue: defaultValue
              propertyType: bool
              operationType: operationType
              value: true
              operatorName: operatorName
              operator: IS_EQUAL_TO
          count: 3
        ruleBranches:
        - null
        - null
      properties:
        operationType:
          enum:
          - AND
          - OR
          type: string
        composingRules:
          items:
            $ref: '#/components/schemas/ComboEventRule'
          type: array
        ruleBranches:
          items:
            $ref: '#/components/schemas/ComboEventRuleBranch'
          type: array
      required:
      - composingRules
      - operationType
      - ruleBranches
      type: object
    CollectionResponseWithTotalExternalBehavioralEventTypeDefinitionForwardPaging:
      example:
        total: 0
        paging:
          next:
            link: link
            after: after
        results:
        - associations:
          - inverseLabel: inverseLabel
            hidden: true
            allowsCustomLabels: true
            maxFromObjectIds: 6
            inverseAllowsCustomLabels: true
            isPrimary: true
            hasUserEnforcedMaxToObjectIds: true
            hasUserEnforcedMaxFromObjectIds: true
            id: 1
            toObjectTypeId: toObjectTypeId
            inverseCardinality: ONE_TO_ONE
            maxToObjectIds: 5
            hasCascadingDeletes: true
            fromObjectType: CONTACT
            toObjectType: CONTACT
            label: label
            inverseId: 5
            cardinality: ONE_TO_ONE
            inverseName: inverseName
            hasAllAssociatedObjects: true
            inverseHasAllAssociatedObjects: true
            fromObjectTypeId: fromObjectTypeId
            portalUniqueIdentifier: portalUniqueIdentifier
            isInversePrimary: true
            name: name
            category: HUBSPOT_DEFINED
          - inverseLabel: inverseLabel
            hidden: true
            allowsCustomLabels: true
            maxFromObjectIds: 6
            inverseAllowsCustomLabels: true
            isPrimary: true
            hasUserEnforcedMaxToObjectIds: true
            hasUserEnforcedMaxFromObjectIds: true
            id: 1
            toObjectTypeId: toObjectTypeId
            inverseCardinality: ONE_TO_ONE
            maxToObjectIds: 5
            hasCascadingDeletes: true
            fromObjectType: CONTACT
            toObjectType: CONTACT
            label: label
            inverseId: 5
            cardinality: ONE_TO_ONE
            inverseName: inverseName
            hasAllAssociatedObjects: true
            inverseHasAllAssociatedObjects: true
            fromObjectTypeId: fromObjectTypeId
            portalUniqueIdentifier: portalUniqueIdentifier
            isInversePrimary: true
            name: name
            category: HUBSPOT_DEFINED
          objectTypeId: objectTypeId
          createdUserId: 2
          trackingType: VISITED_URL
          description: description
          primaryObjectId: primaryObjectId
          comboEventRules:
            operationType: AND
            composingRules:
            - lookbackWindowDays: 7
              eventTypeId: eventTypeId
              propertyFilters:
              - frameworkFilterId: 9
                property: property
                filterType: PROPERTY
                operation:
                  includeObjectsWithNoValueSet: true
                  defaultValue: defaultValue
                  propertyType: bool
                  operationType: operationType
                  value: true
                  operatorName: operatorName
                  operator: IS_EQUAL_TO
              - frameworkFilterId: 9
                property: property
                filterType: PROPERTY
                operation:
                  includeObjectsWithNoValueSet: true
                  defaultValue: defaultValue
                  propertyType: bool
                  operationType: operationType
                  value: true
                  operatorName: operatorName
                  operator: IS_EQUAL_TO
              count: 3
            - lookbackWindowDays: 7
              eventTypeId: eventTypeId
              propertyFilters:
              - frameworkFilterId: 9
                property: property
                filterType: PROPERTY
                operation:
                  includeObjectsWithNoValueSet: true
                  defaultValue: defaultValue
                  propertyType: bool
                  operationType: operationType
                  value: true
                  operatorName: operatorName
                  operator: IS_EQUAL_TO
              - frameworkFilterId: 9
                property: property
                filterType: PROPERTY
                operation:
                  includeObjectsWithNoValueSet: true
                  defaultValue: defaultValue
                  propertyType: bool
                  operationType: operationType
                  value: true
                  operatorName: operatorName
                  operator: IS_EQUAL_TO
              count: 3
            ruleBranches:
            - null
            - null
          fullyQualifiedName: fullyQualifiedName
          primaryObject: primaryObject
          labels:
            plural: plural
            singular: singular
          archived: true
          createdAt: 2000-01-23T04:56:07.000+00:00
          name: name
          id: id
          properties:
          - hidden: true
            displayOrder: 2
            description: description
            showCurrencySymbol: true
            type: type
            hubspotDefined: true
            createdAt: 2000-01-23T04:56:07.000+00:00
            archived: true
            options:
            - hidden: true
              displayOrder: 4
              description: description
              label: label
              value: value
            - hidden: true
              displayOrder: 4
              description: description
              label: label
              value: value
            hasUniqueValue: true
            calculated: true
            externalOptions: true
            updatedAt: 2000-01-23T04:56:07.000+00:00
            createdUserId: createdUserId
            modificationMetadata:
              readOnlyOptions: true
              readOnlyValue: true
              readOnlyDefinition: true
              archivable: true
            sensitiveDataCategories:
            - sensitiveDataCategories
            - sensitiveDataCategories
            label: label
            formField: true
            dataSensitivity: non_sensitive
            archivedAt: 2000-01-23T04:56:07.000+00:00
            groupName: groupName
            referencedObjectType: referencedObjectType
            name: name
            calculationFormula: calculationFormula
            fieldType: fieldType
            updatedUserId: updatedUserId
          - hidden: true
            displayOrder: 2
            description: description
            showCurrencySymbol: true
            type: type
            hubspotDefined: true
            createdAt: 2000-01-23T04:56:07.000+00:00
            archived: true
            options:
            - hidden: true
              displayOrder: 4
              description: description
              label: label
              value: value
            - hidden: true
              displayOrder: 4
              description: description
              label: label
              value: value
            hasUniqueValue: true
            calculated: true
            externalOptions: true
            updatedAt: 2000-01-23T04:56:07.000+00:00
            createdUserId: createdUserId
            modificationMetadata:
              readOnlyOptions: true
              readOnlyValue: true
              readOnlyDefinition: true
              archivable: true
            sensitiveDataCategories:
            - sensitiveDataCategories
            - sensitiveDataCategories
            label: label
            formField: true
            dataSensitivity: non_sensitive
            archivedAt: 2000-01-23T04:56:07.000+00:00
            groupName: groupName
            referencedObjectType: referencedObjectType
            name: name
            calculationFormula: calculationFormula
            fieldType: fieldType
            updatedUserId: updatedUserId
        - associations:
          - inverseLabel: inverseLabel
            hidden: true
            allowsCustomLabels: true
            maxFromObjectIds: 6
            inverseAllowsCustomLabels: true
            isPrimary: true
            hasUserEnforcedMaxToObjectIds: true
            hasUserEnforcedMaxFromObjectIds: true
            id: 1
            toObjectTypeId: toObjectTypeId
            inverseCardinality: ONE_TO_ONE
            maxToObjectIds: 5
            hasCascadingDeletes: true
            fromObjectType: CONTACT
            toObjectType: CONTACT
            label: label
            inverseId: 5
            cardinality: ONE_TO_ONE
            inverseName: inverseName
            hasAllAssociatedObjects: true
            inverseHasAllAssociatedObjects: true
            fromObjectTypeId: fromObjectTypeId
            portalUniqueIdentifier: portalUniqueIdentifier
            isInversePrimary: true
            name: name
            category: HUBSPOT_DEFINED
          - inverseLabel: inverseLabel
            hidden: true
            allowsCustomLabels: true
            maxFromObjectIds: 6
            inverseAllowsCustomLabels: true
            isPrimary: true
            hasUserEnforcedMaxToObjectIds: true
            hasUserEnforcedMaxFromObjectIds: true
            id: 1
            toObjectTypeId: toObjectTypeId
            inverseCardinality: ONE_TO_ONE
            maxToObjectIds: 5
            hasCascadingDeletes: true
            fromObjectType: CONTACT
            toObjectType: CONTACT
            label: label
            inverseId: 5
            cardinality: ONE_TO_ONE
            inverseName: inverseName
            hasAllAssociatedObjects: true
            inverseHasAllAssociatedObjects: true
            fromObjectTypeId: fromObjectTypeId
            portalUniqueIdentifier: portalUniqueIdentifier
            isInversePrimary: true
            name: name
            category: HUBSPOT_DEFINED
          objectTypeId: objectTypeId
          createdUserId: 2
          trackingType: VISITED_URL
          description: description
          primaryObjectId: primaryObjectId
          comboEventRules:
            operationType: AND
            composingRules:
            - lookbackWindowDays: 7
              eventTypeId: eventTypeId
              propertyFilters:
              - frameworkFilterId: 9
                property: property
                filterType: PROPERTY
                operation:
                  includeObjectsWithNoValueSet: true
                  defaultValue: defaultValue
                  propertyType: bool
                  operationType: operationType
                  value: true
                  operatorName: operatorName
                  operator: IS_EQUAL_TO
              - frameworkFilterId: 9
                property: property
                filterType: PROPERTY
                operation:
                  includeObjectsWithNoValueSet: true
                  defaultValue: defaultValue
                  propertyType: bool
                  operationType: operationType
                  value: true
                  operatorName: operatorName
                  operator: IS_EQUAL_TO
              count: 3
            - lookbackWindowDays: 7
              eventTypeId: eventTypeId
              propertyFilters:
              - frameworkFilterId: 9
                property: property
                filterType: PROPERTY
                operation:
                  includeObjectsWithNoValueSet: true
                  defaultValue: defaultValue
                  propertyType: bool
                  operationType: operationType
                  value: true
                  operatorName: operatorName
                  operator: IS_EQUAL_TO
              - frameworkFilterId: 9
                property: property
                filterType: PROPERTY
                operation:
                  includeObjectsWithNoValueSet: true
                  defaultValue: defaultValue
                  propertyType: bool
                  operationType: operationType
                  value: true
                  operatorName: operatorName
                  operator: IS_EQUAL_TO
              count: 3
            ruleBranches:
            - null
            - null
          fullyQualifiedName: fullyQualifiedName
          primaryObject: primaryObject
          labels:
            plural: plural
            singular: singular
          archived: true
          createdAt: 2000-01-23T04:56:07.000+00:00
          name: name
          id: id
          properties:
          - hidden: true
            displayOrder: 2
            description: description
            showCurrencySymbol: true
            type: type
            hubspotDefined: true
            createdAt: 2000-01-23T04:56:07.000+00:00
            archived: true
            options:
            - hidden: true
              displayOrder: 4
              description: description
              label: label
              value: value
            - hidden: true
              displayOrder: 4
              description: description
              label: label
              value: value
            hasUniqueValue: true
            calculated: true
            externalOptions: true
            updatedAt: 2000-01-23T04:56:07.000+00:00
            createdUserId: createdUserId
            modificationMetadata:
              readOnlyOptions: true
              readOnlyValue: true
              readOnlyDefinition: true
              archivable: true
            sensitiveDataCategories:
            - sensitiveDataCategories
            - sensitiveDataCategories
            label: label
            formField: true
            dataSensitivity: non_sensitive
            archivedAt: 2000-01-23T04:56:07.000+00:00
            groupName: groupName
            referencedObjectType: referencedObjectType
            name: name
            calculationFormula: calculationFormula
            fieldType: fieldType
            updatedUserId: updatedUserId
          - hidden: true
            displayOrder: 2
            description: description
            showCurrencySymbol: true
            type: type
            hubspotDefined: true
            createdAt: 2000-01-23T04:56:07.000+00:00
            archived: true
            options:
            - hidden: true
              displayOrder: 4
              description: description
              label: label
              value: value
            - hidden: true
              displayOrder: 4
              description: description
              label: label
              value: value
            hasUniqueValue: true
            calculated: true
            externalOptions: true
            updatedAt: 2000-01-23T04:56:07.000+00:00
            createdUserId: createdUserId
            modificationMetadata:
              readOnlyOptions: true
              readOnlyValue: true
              readOnlyDefinition: true
              archivable: true
            sensitiveDataCategories:
            - sensitiveDataCategories
            - sensitiveDataCategories
            label: label
            formField: true
            dataSensitivity: non_sensitive
            archivedAt: 2000-01-23T04:56:07.000+00:00
            groupName: groupName
            referencedObjectType: referencedObjectType
            name: name
            calculationFormula: calculationFormula
            fieldType: fieldType
            updatedUserId: updatedUserId
      properties:
        total:
          format: int32
          type: integer
        paging:
          $ref: '#/components/schemas/ForwardPaging'
        results:
          items:
            $ref: '#/components/schemas/ExternalBehavioralEventTypeDefinition'
          type: array
      required:
      - results
      - total
      type: object
    AssociationDefinition:
      example:
        inverseLabel: inverseLabel
        hidden: true
        allowsCustomLabels: true
        maxFromObjectIds: 6
        inverseAllowsCustomLabels: true
        isPrimary: true
        hasUserEnforcedMaxToObjectIds: true
        hasUserEnforcedMaxFromObjectIds: true
        id: 1
        toObjectTypeId: toObjectTypeId
        inverseCardinality: ONE_TO_ONE
        maxToObjectIds: 5
        hasCascadingDeletes: true
        fromObjectType: CONTACT
        toObjectType: CONTACT
        label: label
        inverseId: 5
        cardinality: ONE_TO_ONE
        inverseName: inverseName
        hasAllAssociatedObjects: true
        inverseHasAllAssociatedObjects: true
        fromObjectTypeId: fromObjectTypeId
        portalUniqueIdentifier: portalUniqueIdentifier
        isInversePrimary: true
        name: name
        category: HUBSPOT_DEFINED
      properties:
        inverseLabel:
          type: string
        hidden:
          type: boolean
        allowsCustomLabels:
          type: boolean
        maxFromObjectIds:
          format: int32
          type: integer
        inverseAllowsCustomLabels:
          type: boolean
        isPrimary:
          type: boolean
        hasUserEnforcedMaxToObjectIds:
          type: boolean
        hasUserEnforcedMaxFromObjectIds:
          type: boolean
        id:
          format: int32
          type: integer
        toObjectTypeId:
          type: string
        inverseCardinality:
          enum:
          - ONE_TO_ONE
          - ONE_TO_MANY
          type: string
        maxToObjectIds:
          format: int32
          type: integer
        hasCascadingDeletes:
          type: boolean
        fromObjectType:
          enum:
          - CONTACT
          - COMPANY
          - DEAL
          - ENGAGEMENT
          - TICKET
          - OWNER
          - PRODUCT
          - LINE_ITEM
          - BET_DELIVERABLE_SERVICE
          - CONTENT
          - CONVERSATION
          - BET_ALERT
          - PORTAL
          - QUOTE
          - FORM_SUBMISSION_INBOUNDDB
          - QUOTA
          - UNSUBSCRIBE
          - COMMUNICATION
          - FEEDBACK_SUBMISSION
          - ATTRIBUTION
          - SALESFORCE_SYNC_ERROR
          - RESTORABLE_CRM_OBJECT
          - HUB
          - LANDING_PAGE
          - PRODUCT_OR_FOLDER
          - TASK
          - FORM
          - MARKETING_EMAIL
          - AD_ACCOUNT
          - AD_CAMPAIGN
          - AD_GROUP
          - AD
          - KEYWORD
          - CAMPAIGN
          - SOCIAL_CHANNEL
          - SOCIAL_POST
          - SITE_PAGE
          - BLOG_POST
          - IMPORT
          - EXPORT
          - CTA
          - TASK_TEMPLATE
          - AUTOMATION_PLATFORM_FLOW
          - OBJECT_LIST
          - NOTE
          - MEETING_EVENT
          - CALL
          - EMAIL
          - PUBLISHING_TASK
          - CONVERSATION_SESSION
          - CONTACT_CREATE_ATTRIBUTION
          - INVOICE
          - MARKETING_EVENT
          - CONVERSATION_INBOX
          - CHATFLOW
          - MEDIA_BRIDGE
          - SEQUENCE
          - SEQUENCE_STEP
          - FORECAST
          - SNIPPET
          - TEMPLATE
          - DEAL_CREATE_ATTRIBUTION
          - QUOTE_TEMPLATE
          - QUOTE_MODULE
          - QUOTE_MODULE_FIELD
          - QUOTE_FIELD
          - SEQUENCE_ENROLLMENT
          - SUBSCRIPTION
          - ACCEPTANCE_TEST
          - SOCIAL_BROADCAST
          - DEAL_SPLIT
          - DEAL_REGISTRATION
          - GOAL_TARGET
          - GOAL_TARGET_GROUP
          - PORTAL_OBJECT_SYNC_MESSAGE
          - FILE_MANAGER_FILE
          - FILE_MANAGER_FOLDER
          - SEQUENCE_STEP_ENROLLMENT
          - APPROVAL
          - APPROVAL_STEP
          - CTA_VARIANT
          - SALES_DOCUMENT
          - DISCOUNT
          - FEE
          - TAX
          - MARKETING_CALENDAR
          - PERMISSIONS_TESTING
          - PRIVACY_SCANNER_COOKIE
          - DATA_SYNC_STATE
          - WEB_INTERACTIVE
          - PLAYBOOK
          - FOLDER
          - PLAYBOOK_QUESTION
          - PLAYBOOK_SUBMISSION
          - PLAYBOOK_SUBMISSION_ANSWER
          - COMMERCE_PAYMENT
          - GSC_PROPERTY
          - SOX_PROTECTED_DUMMY_TYPE
          - BLOG_LISTING_PAGE
          - QUARANTINED_SUBMISSION
          - PAYMENT_SCHEDULE
          - PAYMENT_SCHEDULE_INSTALLMENT
          - MARKETING_CAMPAIGN_UTM
          - DISCOUNT_TEMPLATE
          - DISCOUNT_CODE
          - FEEDBACK_SURVEY
          - CMS_URL
          - SALES_TASK
          - SALES_WORKLOAD
          - USER
          - POSTAL_MAIL
          - SCHEMAS_BACKEND_TEST
          - PAYMENT_LINK
          - SUBMISSION_TAG
          - CAMPAIGN_STEP
          - SCHEDULING_PAGE
          - SOX_PROTECTED_TEST_TYPE
          - ORDER
          - MARKETING_SMS
          - PARTNER_ACCOUNT
          - CAMPAIGN_TEMPLATE
          - CAMPAIGN_TEMPLATE_STEP
          - PLAYLIST
          - CLIP
          - CAMPAIGN_BUDGET_ITEM
          - CAMPAIGN_SPEND_ITEM
          - MIC
          - CONTENT_AUDIT
          - CONTENT_AUDIT_PAGE
          - PLAYLIST_FOLDER
          - LEAD
          - ABANDONED_CART
          - EXTERNAL_WEB_URL
          - VIEW
          - VIEW_BLOCK
          - ROSTER
          - CART
          - AUTOMATION_PLATFORM_FLOW_ACTION
          - SOCIAL_PROFILE
          - PARTNER_CLIENT
          - ROSTER_MEMBER
          - MARKETING_EVENT_ATTENDANCE
          - ALL_PAGES
          - AI_FORECAST
          - CRM_PIPELINES_DUMMY_TYPE
          - KNOWLEDGE_ARTICLE
          - PROPERTY_INFO
          - DATA_PRIVACY_CONSENT
          - GOAL_TEMPLATE
          - SCORE_CONFIGURATION
          - AUDIENCE
          - PARTNER_CLIENT_REVENUE
          - AUTOMATION_JOURNEY
          - COMBO_EVENT_CONFIGURATION
          - CRM_OBJECTS_DUMMY_TYPE
          - CASE_STUDY
          - SERVICE
          - PODCAST_EPISODE
          - PARTNER_SERVICE
          - UNKNOWN
          type: string
        toObjectType:
          enum:
          - CONTACT
          - COMPANY
          - DEAL
          - ENGAGEMENT
          - TICKET
          - OWNER
          - PRODUCT
          - LINE_ITEM
          - BET_DELIVERABLE_SERVICE
          - CONTENT
          - CONVERSATION
          - BET_ALERT
          - PORTAL
          - QUOTE
          - FORM_SUBMISSION_INBOUNDDB
          - QUOTA
          - UNSUBSCRIBE
          - COMMUNICATION
          - FEEDBACK_SUBMISSION
          - ATTRIBUTION
          - SALESFORCE_SYNC_ERROR
          - RESTORABLE_CRM_OBJECT
          - HUB
          - LANDING_PAGE
          - PRODUCT_OR_FOLDER
          - TASK
          - FORM
          - MARKETING_EMAIL
          - AD_ACCOUNT
          - AD_CAMPAIGN
          - AD_GROUP
          - AD
          - KEYWORD
          - CAMPAIGN
          - SOCIAL_CHANNEL
          - SOCIAL_POST
          - SITE_PAGE
          - BLOG_POST
          - IMPORT
          - EXPORT
          - CTA
          - TASK_TEMPLATE
          - AUTOMATION_PLATFORM_FLOW
          - OBJECT_LIST
          - NOTE
          - MEETING_EVENT
          - CALL
          - EMAIL
          - PUBLISHING_TASK
          - CONVERSATION_SESSION
          - CONTACT_CREATE_ATTRIBUTION
          - INVOICE
          - MARKETING_EVENT
          - CONVERSATION_INBOX
          - CHATFLOW
          - MEDIA_BRIDGE
          - SEQUENCE
          - SEQUENCE_STEP
          - FORECAST
          - SNIPPET
          - TEMPLATE
          - DEAL_CREATE_ATTRIBUTION
          - QUOTE_TEMPLATE
          - QUOTE_MODULE
          - QUOTE_MODULE_FIELD
          - QUOTE_FIELD
          - SEQUENCE_ENROLLMENT
          - SUBSCRIPTION
          - ACCEPTANCE_TEST
          - SOCIAL_BROADCAST
          - DEAL_SPLIT
          - DEAL_REGISTRATION
          - GOAL_TARGET
          - GOAL_TARGET_GROUP
          - PORTAL_OBJECT_SYNC_MESSAGE
          - FILE_MANAGER_FILE
          - FILE_MANAGER_FOLDER
          - SEQUENCE_STEP_ENROLLMENT
          - APPROVAL
          - APPROVAL_STEP
          - CTA_VARIANT
          - SALES_DOCUMENT
          - DISCOUNT
          - FEE
          - TAX
          - MARKETING_CALENDAR
          - PERMISSIONS_TESTING
          - PRIVACY_SCANNER_COOKIE
          - DATA_SYNC_STATE
          - WEB_INTERACTIVE
          - PLAYBOOK
          - FOLDER
          - PLAYBOOK_QUESTION
          - PLAYBOOK_SUBMISSION
          - PLAYBOOK_SUBMISSION_ANSWER
          - COMMERCE_PAYMENT
          - GSC_PROPERTY
          - SOX_PROTECTED_DUMMY_TYPE
          - BLOG_LISTING_PAGE
          - QUARANTINED_SUBMISSION
          - PAYMENT_SCHEDULE
          - PAYMENT_SCHEDULE_INSTALLMENT
          - MARKETING_CAMPAIGN_UTM
          - DISCOUNT_TEMPLATE
          - DISCOUNT_CODE
          - FEEDBACK_SURVEY
          - CMS_URL
          - SALES_TASK
          - SALES_WORKLOAD
          - USER
          - POSTAL_MAIL
          - SCHEMAS_BACKEND_TEST
          - PAYMENT_LINK
          - SUBMISSION_TAG
          - CAMPAIGN_STEP
          - SCHEDULING_PAGE
          - SOX_PROTECTED_TEST_TYPE
          - ORDER
          - MARKETING_SMS
          - PARTNER_ACCOUNT
          - CAMPAIGN_TEMPLATE
          - CAMPAIGN_TEMPLATE_STEP
          - PLAYLIST
          - CLIP
          - CAMPAIGN_BUDGET_ITEM
          - CAMPAIGN_SPEND_ITEM
          - MIC
          - CONTENT_AUDIT
          - CONTENT_AUDIT_PAGE
          - PLAYLIST_FOLDER
          - LEAD
          - ABANDONED_CART
          - EXTERNAL_WEB_URL
          - VIEW
          - VIEW_BLOCK
          - ROSTER
          - CART
          - AUTOMATION_PLATFORM_FLOW_ACTION
          - SOCIAL_PROFILE
          - PARTNER_CLIENT
          - ROSTER_MEMBER
          - MARKETING_EVENT_ATTENDANCE
          - ALL_PAGES
          - AI_FORECAST
          - CRM_PIPELINES_DUMMY_TYPE
          - KNOWLEDGE_ARTICLE
          - PROPERTY_INFO
          - DATA_PRIVACY_CONSENT
          - GOAL_TEMPLATE
          - SCORE_CONFIGURATION
          - AUDIENCE
          - PARTNER_CLIENT_REVENUE
          - AUTOMATION_JOURNEY
          - COMBO_EVENT_CONFIGURATION
          - CRM_OBJECTS_DUMMY_TYPE
          - CASE_STUDY
          - SERVICE
          - PODCAST_EPISODE
          - PARTNER_SERVICE
          - UNKNOWN
          type: string
        label:
          type: string
        inverseId:
          format: int32
          type: integer
        cardinality:
          enum:
          - ONE_TO_ONE
          - ONE_TO_MANY
          type: string
        inverseName:
          type: string
        hasAllAssociatedObjects:
          type: boolean
        inverseHasAllAssociatedObjects:
          type: boolean
        fromObjectTypeId:
          type: string
        portalUniqueIdentifier:
          type: string
        isInversePrimary:
          type: boolean
        name:
          type: string
        category:
          enum:
          - HUBSPOT_DEFINED
          - USER_DEFINED
          - INTEGRATOR_DEFINED
          type: string
      required:
      - allowsCustomLabels
      - cardinality
      - category
      - fromObjectTypeId
      - hasAllAssociatedObjects
      - hasCascadingDeletes
      - hasUserEnforcedMaxFromObjectIds
      - hasUserEnforcedMaxToObjectIds
      - hidden
      - id
      - inverseAllowsCustomLabels
      - inverseCardinality
      - inverseHasAllAssociatedObjects
      - inverseId
      - inverseName
      - isInversePrimary
      - isPrimary
      - maxFromObjectIds
      - maxToObjectIds
      - name
      - portalUniqueIdentifier
      - toObjectTypeId
      type: object
    DatePropertyOperation:
      properties:
        month:
          enum:
          - JAN
          - FEB
          - MAR
          - APR
          - MAY
          - JUN
          - JUL
          - AUG
          - SEP
          - OCT
          - NOV
          - DEC
          type: string
        includeObjectsWithNoValueSet:
          type: boolean
        year:
          format: int32
          type: integer
        defaultValue:
          type: string
        propertyType:
          default: date
          enum:
          - date
          type: string
        operationType:
          type: string
        day:
          format: int32
          type: integer
        operatorName:
          type: string
        operator:
          enum:
          - EQUAL
          - BEFORE
          - AFTER
          type: string
      required:
      - day
      - includeObjectsWithNoValueSet
      - month
      - operationType
      - operator
      - operatorName
      - propertyType
      - year
      title: date
      type: object
    NextPage:
      example:
        link: link
        after: after
      properties:
        link:
          type: string
        after:
          type: string
      required:
      - after
      type: object
    AbsoluteComparativeTimestampRefineBy:
      properties:
        comparison:
          enum:
          - BEFORE
          - AFTER
          type: string
        type:
          default: AbsoluteComparativeTimestampRefineBy
          enum:
          - AbsoluteComparativeTimestampRefineBy
          type: string
        timestamp:
          format: int32
          type: integer
      required:
      - comparison
      - timestamp
      - type
      title: AbsoluteComparativeTimestampRefineBy
      type: object
    RangedTimeOperation_upperBoundTimePoint:
      oneOf:
      - $ref: '#/components/schemas/DatePoint'
      - $ref: '#/components/schemas/IndexedTimePoint'
      - $ref: '#/components/schemas/PropertyReferencedTime'
    AllPropertyTypesOperation_coalescingRefineBy:
      oneOf:
      - $ref: '#/components/schemas/NumOccurrencesRefineBy'
      - $ref: '#/components/schemas/SetOccurrencesRefineBy'
    AllPropertyTypesOperation_pruningRefineBy:
      oneOf:
      - $ref: '#/components/schemas/RelativeComparativeTimestampRefineBy'
      - $ref: '#/components/schemas/RelativeRangedTimestampRefineBy'
      - $ref: '#/components/schemas/AbsoluteComparativeTimestampRefineBy'
      - $ref: '#/components/schemas/AbsoluteRangedTimestampRefineBy'
      - $ref: '#/components/schemas/AllHistoryRefineBy'
      - $ref: '#/components/schemas/TimePointOperation'
      - $ref: '#/components/schemas/RangedTimeOperation'
    PropertyFilter_operation:
      oneOf:
      - $ref: '#/components/schemas/BoolPropertyOperation'
      - $ref: '#/components/schemas/NumberPropertyOperation'
      - $ref: '#/components/schemas/StringPropertyOperation'
      - $ref: '#/components/schemas/DateTimePropertyOperation'
      - $ref: '#/components/schemas/RangedDatePropertyOperation'
      - $ref: '#/components/schemas/ComparativeDatePropertyOperation'
      - $ref: '#/components/schemas/ComparativePropertyUpdatedOperation'
      - $ref: '#/components/schemas/RollingDateRangePropertyOperation'
      - $ref: '#/components/schemas/RollingPropertyUpdatedOperation'
      - $ref: '#/components/schemas/EnumerationPropertyOperation'
      - $ref: '#/components/schemas/AllPropertyTypesOperation'
      - $ref: '#/components/schemas/RangedNumberPropertyOperation'
      - $ref: '#/components/schemas/MultiStringPropertyOperation'
      - $ref: '#/components/schemas/DatePropertyOperation'
      - $ref: '#/components/schemas/CalendarDatePropertyOperation'
      - $ref: '#/components/schemas/TimePointOperation'
      - $ref: '#/components/schemas/RangedTimeOperation'
    IndexedTimePoint_indexReference:
      oneOf:
      - $ref: '#/components/schemas/NowReference'
      - $ref: '#/components/schemas/TodayReference'
      - $ref: '#/components/schemas/WeekReference'
      - $ref: '#/components/schemas/MonthReference'
      - $ref: '#/components/schemas/QuarterReference'
      - $ref: '#/components/schemas/FiscalQuarter'
      - $ref: '#/components/schemas/YearReference'
      - $ref: '#/components/schemas/FiscalYear'
  securitySchemes:
    oauth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            behavioral_events.event_definitions.read_write: Read from and write to
              custom behavioral events definitions
            analytics.behavioral_events.send: Send Behavioral Event Completions
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    private_apps:
      in: header
      name: private-app
      type: apiKey
