openapi: 3.0.1
info:
  description: Get information about a HubSpot account and its API usage.
  title: Audit Logs
  version: v3
  x-hubspot-product-tier-requirements:
    marketing: FREE
    sales: FREE
    service: FREE
    cms: FREE
  x-hubspot-api-use-case: You want to build an internal tool for your compliance team
    to regularly monitor the activity of employees in your company accessing data
    in your HubSpot account.
  x-hubspot-related-documentation:
  - name: Account activity API guide
    url: https://developers.hubspot.com/docs/guides/api/settings/account-activity-api
  x-hubspot-introduction: The account activity API allows you to retrieve login history
    and security activity for your HubSpot account.
servers:
- url: https://api.hubapi.com
tags:
- name: Activity
paths:
  /account-info/v3/activity/login:
    get:
      description: "Retrieve logs of user actions related to [login activity](https://knowledge.hubspot.com/account-management/view-and-export-account-activity-history#account-login-history)."
      operationId: get-/account-info/v3/activity/login
      parameters:
      - description: The cursor token value to get the next set of results. You can
          get this from the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to display per page. Max value
          of limit is 200.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "The ID of a user, for retrieving user-specific logs."
        explode: true
        in: query
        name: userId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicLoginAuditForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - account-info.security.read
      - private_apps:
        - account-info.security.read
      summary: Retrieve login activity
      tags:
      - Activity
  /account-info/v3/activity/audit-logs:
    get:
      description: "Retrieve activity history for user actions related to approvals,\
        \ content updates, CRM object updates, security activity, and more (Enterprise\
        \ only). Learn more about [activities included in audit log exports](https://knowledge.hubspot.com/account-management/view-and-export-account-activity-history-in-a-centralized-audit-log?hubs_content=knowledge.hubspot.com/account-management/view-and-export-account-activity-history&hubs_content-cta=centralized%20audit%20log#data-included-in-the-centralized-audit-log)."
      operationId: get-/account-info/v3/activity/audit-logs
      parameters:
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to display per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "The ID of a user, for retrieving user-specific logs."
        explode: true
        in: query
        name: actingUserId
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: "A timestamp, as a starting point for retrieving activity logs. "
        explode: true
        in: query
        name: occurredAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "A timestamp, as an end point for retrieving activity logs. "
        explode: true
        in: query
        name: occurredBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Set to `occurredAt` to order results by the time of the event.\
          \ By default, events are ordered from oldest to newest."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicApiUserActionEventForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - account-info.security.read
      - private_apps:
        - account-info.security.read
      summary: Retrieve audit logs
      tags:
      - Activity
  /account-info/v3/activity/security:
    get:
      description: "Retrieve logs of user actions related to [security activity](https://knowledge.hubspot.com/account-management/view-and-export-account-activity-history#security-activity-history)."
      operationId: get-/account-info/v3/activity/security
      parameters:
      - description: The cursor token value to get the next set of results. You can
          get this from the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to display per page. Max value
          of limit is 200.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "The ID of a user, for retrieving user-specific logs."
        explode: true
        in: query
        name: userId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "The start time, for retrieving logs within a specific timeframe."
        explode: true
        in: query
        name: fromTimestamp
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The end time, for retrieving logs within a specific timeframe."
        explode: true
        in: query
        name: toTimestamp
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseHydratedCriticalActionForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - account-info.security.read
      - private_apps:
        - account-info.security.read
      summary: Retrieve security history
      tags:
      - Activity
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    CollectionResponsePublicLoginAuditForwardPaging:
      example:
        paging:
          next:
            link: link
            after: after
        results:
        - countryCode: ie
          email: person3@testdomain.com
          id: "5432653"
          ipAddress: 45.56.67.89
          loginAt: 2022-04-01T19:36:24.303Z
          loginSucceeded: true
          regionCode: d
          userAgent: Mozilla/5.0 (Linux; Android 11; M2101K6G)
          userId: 876
        - countryCode: ie
          email: person3@testdomain.com
          id: "5432653"
          ipAddress: 45.56.67.89
          loginAt: 2022-04-01T19:36:24.303Z
          loginSucceeded: true
          regionCode: d
          userAgent: Mozilla/5.0 (Linux; Android 11; M2101K6G)
          userId: 876
      properties:
        paging:
          $ref: '#/components/schemas/ForwardPaging'
        results:
          items:
            $ref: '#/components/schemas/PublicLoginAudit'
          type: array
      required:
      - results
      type: object
    ErrorDetail:
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error.
          type: string
        code:
          description: The status code associated with the error detail.
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition.
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate.
          type: string
      required:
      - message
      type: object
    CollectionResponsePublicApiUserActionEventForwardPaging:
      example:
        paging:
          next:
            link: link
            after: after
        results:
        - actingUser:
            userEmail: pgibbons@initech.com
            userId: 2931299
          subCategory: LOGIN_SUCCEEDED
          occurredAt: 2000-01-23T04:56:07.000+00:00
          targetObjectId: "1"
          action: PERFORM
          id: "5432653"
          category: LOGIN
        - actingUser:
            userEmail: pgibbons@initech.com
            userId: 2931299
          subCategory: LOGIN_SUCCEEDED
          occurredAt: 2000-01-23T04:56:07.000+00:00
          targetObjectId: "1"
          action: PERFORM
          id: "5432653"
          category: LOGIN
      properties:
        paging:
          $ref: '#/components/schemas/ForwardPaging'
        results:
          items:
            $ref: '#/components/schemas/PublicApiUserActionEvent'
          type: array
      required:
      - results
      type: object
    ForwardPaging:
      example:
        next:
          link: link
          after: after
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      type: object
    PublicLoginAudit:
      description: Details about the a particular login activity for a HubSpot account.
      example:
        countryCode: ie
        email: person3@testdomain.com
        id: "5432653"
        ipAddress: 45.56.67.89
        loginAt: 2022-04-01T19:36:24.303Z
        loginSucceeded: true
        regionCode: d
        userAgent: Mozilla/5.0 (Linux; Android 11; M2101K6G)
        userId: 876
      properties:
        regionCode:
          description: The approximate region code of the login.
          example: d
          type: string
        countryCode:
          description: The approximate country code of the login.
          example: ie
          type: string
        ipAddress:
          description: IP address where the activity originated.
          example: 45.56.67.89
          type: string
        location:
          type: string
        userAgent:
          description: Information about the device used for logging in.
          example: Mozilla/5.0 (Linux; Android 11; M2101K6G)
          type: string
        id:
          description: The login activity's unique ID.
          example: "5432653"
          type: string
        loginAt:
          description: The time the login took place.
          format: date-time
          type: string
        userId:
          description: The user's unique ID.
          example: 876
          format: int32
          type: integer
        email:
          description: Email address of the user associated with the login.
          example: person3@testdomain.com
          type: string
        loginSucceeded:
          description: Whether the login was successful or not.
          example: true
          type: boolean
      required:
      - id
      - loginAt
      - loginSucceeded
      type: object
    ActingUser:
      example:
        userEmail: pgibbons@initech.com
        userId: 2931299
      properties:
        userEmail:
          description: The email address of the user who performed the action.
          example: pgibbons@initech.com
          type: string
        userId:
          description: The ID of the user who performed the action.
          example: 2931299
          format: int32
          type: integer
      required:
      - userId
      type: object
    HydratedCriticalAction:
      description: Details about the a particular security activity for a HubSpot
        account.
      example:
        actingUser: person3@testdomain.com
        countryCode: ie
        createdAt: 2022-04-01T19:36:24.303Z
        id: "5432653"
        infoUrl: app.hubspot.com/settings/123/users
        ipAddress: 45.56.67.89
        objectId: "7654"
        regionCode: d
        type: ADD_USER
        userId: 876
      properties:
        createdAt:
          description: The time the activity took place.
          format: date-time
          type: string
        actingUser:
          description: Email address of the user associated with the activity.
          example: person3@testdomain.com
          type: string
        regionCode:
          description: The approximate region code.
          example: d
          type: string
        infoUrl:
          description: A link to the URL where the action was taken in the account.
          example: app.hubspot.com/settings/123/users
          type: string
        countryCode:
          description: The approximate country code.
          example: ie
          type: string
        ipAddress:
          description: IP address where the activity originated.
          example: 45.56.67.89
          type: string
        location:
          description: ""
          type: string
        id:
          description: The unique ID of the activity.
          example: "5432653"
          type: string
        type:
          description: The type of activity.
          example: ADD_USER
          type: string
        userId:
          description: The user's unique ID.
          example: 876
          format: int32
          type: integer
        objectId:
          description: The ID of the affected object.
          example: "7654"
          type: string
      required:
      - createdAt
      - id
      - type
      - userId
      type: object
    PublicApiUserActionEvent:
      example:
        actingUser:
          userEmail: pgibbons@initech.com
          userId: 2931299
        subCategory: LOGIN_SUCCEEDED
        occurredAt: 2000-01-23T04:56:07.000+00:00
        targetObjectId: "1"
        action: PERFORM
        id: "5432653"
        category: LOGIN
      properties:
        actingUser:
          $ref: '#/components/schemas/ActingUser'
        subCategory:
          description: The subcategory of the activity.
          example: LOGIN_SUCCEEDED
          type: string
        occurredAt:
          description: The time that the action occurred at.
          format: date-time
          type: string
        targetObjectId:
          description: The ID of the impacted object.
          example: "1"
          type: string
        action:
          description: The type of action taken.
          example: PERFORM
          type: string
        id:
          description: The unique ID of the activity.
          example: "5432653"
          type: string
        category:
          description: The category of the activity.
          example: LOGIN
          type: string
      required:
      - actingUser
      - action
      - category
      - id
      - occurredAt
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error.
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition.
          example:
            missingScopes:
            - scope1
            - scope2
            invalidPropertyName:
            - propertyValue
          type: object
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets.
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps.
          example:
            knowledge-base: https://www.hubspot.com/products/service/knowledge-base
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate.
          example: Invalid input (details will vary based on the error)
          type: string
        category:
          description: The error category.
          example: VALIDATION_ERROR
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
      required:
      - category
      - correlationId
      - message
      type: object
    CollectionResponseHydratedCriticalActionForwardPaging:
      example:
        paging:
          next:
            link: link
            after: after
        results:
        - actingUser: person3@testdomain.com
          countryCode: ie
          createdAt: 2022-04-01T19:36:24.303Z
          id: "5432653"
          infoUrl: app.hubspot.com/settings/123/users
          ipAddress: 45.56.67.89
          objectId: "7654"
          regionCode: d
          type: ADD_USER
          userId: 876
        - actingUser: person3@testdomain.com
          countryCode: ie
          createdAt: 2022-04-01T19:36:24.303Z
          id: "5432653"
          infoUrl: app.hubspot.com/settings/123/users
          ipAddress: 45.56.67.89
          objectId: "7654"
          regionCode: d
          type: ADD_USER
          userId: 876
      properties:
        paging:
          $ref: '#/components/schemas/ForwardPaging'
        results:
          items:
            $ref: '#/components/schemas/HydratedCriticalAction'
          type: array
      required:
      - results
      type: object
    NextPage:
      example:
        link: link
        after: after
      properties:
        link:
          type: string
        after:
          description: ""
          type: string
      required:
      - after
      type: object
  securitySchemes:
    oauth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            account-info.security.read: Allows reading of account security information
            oauth: User and Account Information
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    private_apps:
      in: header
      name: private-app
      type: apiKey
