openapi: 3.0.1
info:
  description: All HubSpot objects store data in default and custom properties. These
    endpoints provide access to read and modify object properties in HubSpot.
  title: Properties
  version: v3
  x-hubspot-product-tier-requirements:
    marketing: FREE
    sales: FREE
    service: FREE
    cms: STARTER
  x-hubspot-api-use-case: Create a set of custom multi-select properties for storing
    contract data on company records.
  x-hubspot-related-documentation:
  - name: Properties guide
    url: https://developers.hubspot.com/docs/guides/api/crm/properties
  x-hubspot-introduction: "Use the properties API to store information in fields on\
    \ individual contact records. You can use this API to manage existing default\
    \ and custom properties, create new custom properties, and more."
servers:
- url: https://api.hubapi.com
tags:
- name: Batch
- name: Groups
- name: Core
paths:
  /crm/v3/properties/{objectType}/batch/archive:
    post:
      description: "Archive a provided list of properties. This method will return\
        \ a 204 No Content response on success regardless of the initial state of\
        \ the property (e.g. active, already archived, non-existent)."
      operationId: "post-/crm/v3/properties/{objectType}/batch/archive_archive"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputPropertyName'
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.schemas.invoices.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.orders.write
      - oauth2:
        - crm.schemas.invoices.write
      - oauth2:
        - crm.schemas.orders.write
      - private_apps:
        - crm.schemas.orders.write
      - oauth2:
        - crm.objects.orders.write
      - private_apps:
        - tickets.sensitive
      - oauth2:
        - crm.schemas.contacts.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.schemas.appointments.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.write
      - oauth2:
        - crm.schemas.courses.write
      - private_apps:
        - crm.schemas.courses.write
      - oauth2:
        - crm.schemas.carts.write
      - private_apps:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.carts.write
      - private_apps:
        - crm.pipelines.orders.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - private_apps:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.services.write
      - oauth2:
        - crm.schemas.deals.write
      - oauth2:
        - crm.pipelines.orders.write
      - private_apps:
        - crm.schemas.services.write
      - oauth2:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.schemas.listings.write
      - private_apps:
        - crm.schemas.companies.write
      - oauth2:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.listings.write
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - private_apps:
        - crm.schemas.deals.write
      summary: Archive a batch of properties
      tags:
      - Batch
  /crm/v3/properties/{objectType}/groups/{groupName}:
    delete:
      description: "Move a property group identified by {groupName} to the recycling\
        \ bin."
      operationId: "delete-/crm/v3/properties/{objectType}/groups/{groupName}_archive"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.schemas.invoices.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.orders.write
      - oauth2:
        - crm.schemas.invoices.write
      - oauth2:
        - crm.schemas.orders.write
      - private_apps:
        - crm.schemas.orders.write
      - oauth2:
        - crm.objects.orders.write
      - private_apps:
        - tickets.sensitive
      - oauth2:
        - crm.schemas.contacts.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.schemas.appointments.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.write
      - oauth2:
        - crm.schemas.courses.write
      - private_apps:
        - crm.schemas.courses.write
      - oauth2:
        - crm.schemas.carts.write
      - private_apps:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.carts.write
      - private_apps:
        - crm.pipelines.orders.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - private_apps:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.services.write
      - oauth2:
        - crm.schemas.deals.write
      - oauth2:
        - crm.pipelines.orders.write
      - private_apps:
        - crm.schemas.services.write
      - oauth2:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.schemas.listings.write
      - private_apps:
        - crm.schemas.companies.write
      - oauth2:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.listings.write
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - private_apps:
        - crm.schemas.deals.write
      summary: Archive a property group
      tags:
      - Groups
    get:
      description: "Read a property group identified by {groupName}."
      operationId: "get-/crm/v3/properties/{objectType}/groups/{groupName}_getByName"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyGroup'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.orders.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.schemas.listings.read
      - private_apps:
        - crm.schemas.listings.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.sensitive.write
      - oauth2:
        - crm.schemas.carts.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - automation
      - private_apps:
        - crm.objects.contacts.sensitive.write.v2
      - private_apps:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.schemas.services.read
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.invoices.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.schemas.subscriptions.read
      - private_apps:
        - crm.schemas.companies.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.write
      - private_apps:
        - crm.objects.deals.sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.write
      - oauth2:
        - crm.objects.appointments.write
      - private_apps:
        - crm.objects.deals.sensitive.write.v2
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.companies.highly_sensitive.write
      - private_apps:
        - tickets.sensitive
      - private_apps:
        - crm.objects.feedback_submissions.read
      - oauth2:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.custom.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.appointments.sensitive.read
      - private_apps:
        - crm.objects.companies.sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.read
      - oauth2:
        - crm.schemas.courses.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.objects.leads.write
      - private_apps:
        - crm.schemas.contacts.read
      - private_apps:
        - tickets.highly_sensitive.v2
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.schemas.custom.read
      - oauth2:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.goals.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.schemas.commercepayments.read
      - oauth2:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.schemas.custom.read
      - private_apps:
        - media_bridge.read
      - oauth2:
        - crm.schemas.commercepayments.read
      - private_apps:
        - timeline
      - private_apps:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.contacts.sensitive.read.v2
      - private_apps:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.custom.sensitive.write
      - private_apps:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.contacts.sensitive.read
      - private_apps:
        - crm.schemas.invoices.read
      - private_apps:
        - crm.objects.marketing_events.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.quotes.read
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.appointments.write
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.contacts.sensitive.write
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.read
      - private_apps:
        - automation
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.schemas.quotes.read
      - private_apps:
        - crm.schemas.quotes.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps:
        - crm.objects.companies.sensitive.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - private_apps:
        - crm.objects.custom.sensitive.write.v2
      - private_apps:
        - crm.schemas.carts.read
      - oauth2:
        - crm.schemas.services.read
      - private_apps:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read
      - oauth2:
        - crm.schemas.subscriptions.read
      - oauth2:
        - crm.schemas.companies.read
      - private_apps:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - private_apps:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.feedback_submissions.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.deals.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - e-commerce
      - private_apps:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.schemas.deals.read
      - private_apps:
        - crm.schemas.orders.read
      - private_apps:
        - crm.objects.invoices.read
      - oauth2:
        - crm.schemas.deals.read
      - private_apps:
        - crm.schemas.appointments.read
      - oauth2:
        - crm.schemas.orders.read
      - private_apps:
        - crm.schemas.courses.read
      - private_apps:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.contacts.read
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.custom.sensitive.read
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - timeline
      - oauth2:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.schemas.invoices.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.services.read
      - private_apps:
        - crm.objects.deals.highly_sensitive.write
      - oauth2:
        - crm.objects.marketing_events.read
      summary: Read a property group
      tags:
      - Groups
    patch:
      description: "Perform a partial update of a property group identified by {groupName}.\
        \ Provided fields will be overwritten."
      operationId: "patch-/crm/v3/properties/{objectType}/groups/{groupName}_update"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyGroupUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyGroup'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.schemas.invoices.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.orders.write
      - oauth2:
        - crm.schemas.invoices.write
      - oauth2:
        - crm.schemas.orders.write
      - private_apps:
        - crm.schemas.orders.write
      - oauth2:
        - crm.objects.orders.write
      - private_apps:
        - tickets.sensitive
      - oauth2:
        - crm.schemas.contacts.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.schemas.appointments.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.write
      - oauth2:
        - crm.schemas.courses.write
      - private_apps:
        - crm.schemas.courses.write
      - oauth2:
        - crm.schemas.carts.write
      - private_apps:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.carts.write
      - private_apps:
        - crm.pipelines.orders.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - private_apps:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.services.write
      - oauth2:
        - crm.schemas.deals.write
      - oauth2:
        - crm.pipelines.orders.write
      - private_apps:
        - crm.schemas.services.write
      - oauth2:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.schemas.listings.write
      - private_apps:
        - crm.schemas.companies.write
      - oauth2:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.listings.write
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - private_apps:
        - crm.schemas.deals.write
      summary: Update a property group
      tags:
      - Groups
  /crm/v3/properties/{objectType}/{propertyName}:
    delete:
      description: "Move a property identified by {propertyName} to the recycling\
        \ bin."
      operationId: "delete-/crm/v3/properties/{objectType}/{propertyName}_archive"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: propertyName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.schemas.invoices.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.orders.write
      - oauth2:
        - crm.schemas.invoices.write
      - oauth2:
        - crm.schemas.orders.write
      - private_apps:
        - crm.schemas.orders.write
      - oauth2:
        - crm.objects.orders.write
      - private_apps:
        - tickets.sensitive
      - oauth2:
        - crm.schemas.contacts.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.schemas.appointments.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.write
      - oauth2:
        - crm.schemas.courses.write
      - private_apps:
        - crm.schemas.courses.write
      - oauth2:
        - crm.schemas.carts.write
      - private_apps:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.carts.write
      - private_apps:
        - crm.pipelines.orders.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - private_apps:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.services.write
      - oauth2:
        - crm.schemas.deals.write
      - oauth2:
        - crm.pipelines.orders.write
      - private_apps:
        - crm.schemas.services.write
      - oauth2:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.schemas.listings.write
      - private_apps:
        - crm.schemas.companies.write
      - oauth2:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.listings.write
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - private_apps:
        - crm.schemas.deals.write
      summary: Archive a property
      tags:
      - Core
    get:
      description: "Read a property identified by {propertyName}."
      operationId: "get-/crm/v3/properties/{objectType}/{propertyName}_getByName"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: propertyName
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: properties
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.orders.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.schemas.listings.read
      - private_apps:
        - crm.schemas.listings.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.sensitive.write
      - oauth2:
        - crm.schemas.carts.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - automation
      - private_apps:
        - crm.objects.contacts.sensitive.write.v2
      - private_apps:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.schemas.services.read
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.invoices.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.schemas.subscriptions.read
      - private_apps:
        - crm.schemas.companies.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.write
      - private_apps:
        - crm.objects.deals.sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.write
      - oauth2:
        - crm.objects.appointments.write
      - private_apps:
        - crm.objects.deals.sensitive.write.v2
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.companies.highly_sensitive.write
      - private_apps:
        - tickets.sensitive
      - private_apps:
        - crm.objects.feedback_submissions.read
      - oauth2:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.custom.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.appointments.sensitive.read
      - private_apps:
        - crm.objects.companies.sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.read
      - oauth2:
        - crm.schemas.courses.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.objects.leads.write
      - private_apps:
        - crm.schemas.contacts.read
      - private_apps:
        - tickets.highly_sensitive.v2
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.schemas.custom.read
      - oauth2:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.goals.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.schemas.commercepayments.read
      - oauth2:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.schemas.custom.read
      - private_apps:
        - media_bridge.read
      - oauth2:
        - crm.schemas.commercepayments.read
      - private_apps:
        - timeline
      - private_apps:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.contacts.sensitive.read.v2
      - private_apps:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.custom.sensitive.write
      - private_apps:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.contacts.sensitive.read
      - private_apps:
        - crm.schemas.invoices.read
      - private_apps:
        - crm.objects.marketing_events.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.quotes.read
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.appointments.write
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.contacts.sensitive.write
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.read
      - private_apps:
        - automation
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.schemas.quotes.read
      - private_apps:
        - crm.schemas.quotes.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps:
        - crm.objects.companies.sensitive.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - private_apps:
        - crm.objects.custom.sensitive.write.v2
      - private_apps:
        - crm.schemas.carts.read
      - oauth2:
        - crm.schemas.services.read
      - private_apps:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read
      - oauth2:
        - crm.schemas.subscriptions.read
      - oauth2:
        - crm.schemas.companies.read
      - private_apps:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - private_apps:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.feedback_submissions.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.deals.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - e-commerce
      - private_apps:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.schemas.deals.read
      - private_apps:
        - crm.schemas.orders.read
      - private_apps:
        - crm.objects.invoices.read
      - oauth2:
        - crm.schemas.deals.read
      - private_apps:
        - crm.schemas.appointments.read
      - oauth2:
        - crm.schemas.orders.read
      - private_apps:
        - crm.schemas.courses.read
      - private_apps:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.contacts.read
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.custom.sensitive.read
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - timeline
      - oauth2:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.schemas.invoices.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.services.read
      - private_apps:
        - crm.objects.deals.highly_sensitive.write
      - oauth2:
        - crm.objects.marketing_events.read
      summary: Read a property
      tags:
      - Core
    patch:
      description: "Perform a partial update of a property identified by {propertyName}.\
        \ Provided fields will be overwritten."
      operationId: "patch-/crm/v3/properties/{objectType}/{propertyName}_update"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: propertyName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.schemas.invoices.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.orders.write
      - oauth2:
        - crm.schemas.invoices.write
      - oauth2:
        - crm.schemas.orders.write
      - private_apps:
        - crm.schemas.orders.write
      - oauth2:
        - crm.objects.orders.write
      - private_apps:
        - tickets.sensitive
      - oauth2:
        - crm.schemas.contacts.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.schemas.appointments.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.write
      - oauth2:
        - crm.schemas.courses.write
      - private_apps:
        - crm.schemas.courses.write
      - oauth2:
        - crm.schemas.carts.write
      - private_apps:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.carts.write
      - private_apps:
        - crm.pipelines.orders.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - private_apps:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.services.write
      - oauth2:
        - crm.schemas.deals.write
      - oauth2:
        - crm.pipelines.orders.write
      - private_apps:
        - crm.schemas.services.write
      - oauth2:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.schemas.listings.write
      - private_apps:
        - crm.schemas.companies.write
      - oauth2:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.listings.write
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - private_apps:
        - crm.schemas.deals.write
      summary: Update a property
      tags:
      - Core
  /crm/v3/properties/{objectType}/batch/read:
    post:
      description: Read a provided list of properties.
      operationId: "post-/crm/v3/properties/{objectType}/batch/read_read"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReadInputPropertyName'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseProperty'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePropertyWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.orders.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.schemas.listings.read
      - private_apps:
        - crm.schemas.listings.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.sensitive.write
      - oauth2:
        - crm.schemas.carts.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - automation
      - private_apps:
        - crm.objects.contacts.sensitive.write.v2
      - private_apps:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.schemas.services.read
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.invoices.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.schemas.subscriptions.read
      - private_apps:
        - crm.schemas.companies.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.write
      - private_apps:
        - crm.objects.deals.sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.write
      - oauth2:
        - crm.objects.appointments.write
      - private_apps:
        - crm.objects.deals.sensitive.write.v2
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.companies.highly_sensitive.write
      - private_apps:
        - tickets.sensitive
      - private_apps:
        - crm.objects.feedback_submissions.read
      - oauth2:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.custom.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.appointments.sensitive.read
      - private_apps:
        - crm.objects.companies.sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.read
      - oauth2:
        - crm.schemas.courses.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.objects.leads.write
      - private_apps:
        - crm.schemas.contacts.read
      - private_apps:
        - tickets.highly_sensitive.v2
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.schemas.custom.read
      - oauth2:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.goals.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.schemas.commercepayments.read
      - oauth2:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.schemas.custom.read
      - private_apps:
        - media_bridge.read
      - oauth2:
        - crm.schemas.commercepayments.read
      - private_apps:
        - timeline
      - private_apps:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.contacts.sensitive.read.v2
      - private_apps:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.custom.sensitive.write
      - private_apps:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.contacts.sensitive.read
      - private_apps:
        - crm.schemas.invoices.read
      - private_apps:
        - crm.objects.marketing_events.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.quotes.read
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.appointments.write
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.contacts.sensitive.write
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.read
      - private_apps:
        - automation
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.schemas.quotes.read
      - private_apps:
        - crm.schemas.quotes.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps:
        - crm.objects.companies.sensitive.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - private_apps:
        - crm.objects.custom.sensitive.write.v2
      - private_apps:
        - crm.schemas.carts.read
      - oauth2:
        - crm.schemas.services.read
      - private_apps:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read
      - oauth2:
        - crm.schemas.subscriptions.read
      - oauth2:
        - crm.schemas.companies.read
      - private_apps:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - private_apps:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.feedback_submissions.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.deals.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - e-commerce
      - private_apps:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.schemas.deals.read
      - private_apps:
        - crm.schemas.orders.read
      - private_apps:
        - crm.objects.invoices.read
      - oauth2:
        - crm.schemas.deals.read
      - private_apps:
        - crm.schemas.appointments.read
      - oauth2:
        - crm.schemas.orders.read
      - private_apps:
        - crm.schemas.courses.read
      - private_apps:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.contacts.read
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.custom.sensitive.read
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - timeline
      - oauth2:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.schemas.invoices.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.services.read
      - private_apps:
        - crm.objects.deals.highly_sensitive.write
      - oauth2:
        - crm.objects.marketing_events.read
      summary: Read a batch of properties
      tags:
      - Batch
  /crm/v3/properties/{objectType}/batch/create:
    post:
      description: Create a batch of properties using the same rules as when creating
        an individual property.
      operationId: "post-/crm/v3/properties/{objectType}/batch/create_create"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputPropertyCreate'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseProperty'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePropertyWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.schemas.invoices.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.orders.write
      - oauth2:
        - crm.schemas.invoices.write
      - oauth2:
        - crm.schemas.orders.write
      - private_apps:
        - crm.schemas.orders.write
      - oauth2:
        - crm.objects.orders.write
      - private_apps:
        - tickets.sensitive
      - oauth2:
        - crm.schemas.contacts.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.schemas.appointments.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.write
      - oauth2:
        - crm.schemas.courses.write
      - private_apps:
        - crm.schemas.courses.write
      - oauth2:
        - crm.schemas.carts.write
      - private_apps:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.carts.write
      - private_apps:
        - crm.pipelines.orders.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - private_apps:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.services.write
      - oauth2:
        - crm.schemas.deals.write
      - oauth2:
        - crm.pipelines.orders.write
      - private_apps:
        - crm.schemas.services.write
      - oauth2:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.schemas.listings.write
      - private_apps:
        - crm.schemas.companies.write
      - oauth2:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.listings.write
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - private_apps:
        - crm.schemas.deals.write
      summary: Create a batch of properties
      tags:
      - Batch
  /crm/v3/properties/{objectType}:
    get:
      description: Read all existing properties for the specified object type and
        HubSpot account.
      operationId: "get-/crm/v3/properties/{objectType}_getAll"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: properties
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePropertyNoPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.orders.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.schemas.listings.read
      - private_apps:
        - crm.schemas.listings.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.sensitive.write
      - oauth2:
        - crm.schemas.carts.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - automation
      - private_apps:
        - crm.objects.contacts.sensitive.write.v2
      - private_apps:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.schemas.services.read
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.invoices.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.schemas.subscriptions.read
      - private_apps:
        - crm.schemas.companies.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.write
      - private_apps:
        - crm.objects.deals.sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.write
      - oauth2:
        - crm.objects.appointments.write
      - private_apps:
        - crm.objects.deals.sensitive.write.v2
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.companies.highly_sensitive.write
      - private_apps:
        - tickets.sensitive
      - private_apps:
        - crm.objects.feedback_submissions.read
      - oauth2:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.custom.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.appointments.sensitive.read
      - private_apps:
        - crm.objects.companies.sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.read
      - oauth2:
        - crm.schemas.courses.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.objects.leads.write
      - private_apps:
        - crm.schemas.contacts.read
      - private_apps:
        - tickets.highly_sensitive.v2
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.schemas.custom.read
      - oauth2:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.goals.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.schemas.commercepayments.read
      - oauth2:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.schemas.custom.read
      - private_apps:
        - media_bridge.read
      - oauth2:
        - crm.schemas.commercepayments.read
      - private_apps:
        - timeline
      - private_apps:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.contacts.sensitive.read.v2
      - private_apps:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.custom.sensitive.write
      - private_apps:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.contacts.sensitive.read
      - private_apps:
        - crm.schemas.invoices.read
      - private_apps:
        - crm.objects.marketing_events.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.quotes.read
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.appointments.write
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.contacts.sensitive.write
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.read
      - private_apps:
        - automation
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.schemas.quotes.read
      - private_apps:
        - crm.schemas.quotes.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps:
        - crm.objects.companies.sensitive.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - private_apps:
        - crm.objects.custom.sensitive.write.v2
      - private_apps:
        - crm.schemas.carts.read
      - oauth2:
        - crm.schemas.services.read
      - private_apps:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read
      - oauth2:
        - crm.schemas.subscriptions.read
      - oauth2:
        - crm.schemas.companies.read
      - private_apps:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - private_apps:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.feedback_submissions.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.deals.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - e-commerce
      - private_apps:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.schemas.deals.read
      - private_apps:
        - crm.schemas.orders.read
      - private_apps:
        - crm.objects.invoices.read
      - oauth2:
        - crm.schemas.deals.read
      - private_apps:
        - crm.schemas.appointments.read
      - oauth2:
        - crm.schemas.orders.read
      - private_apps:
        - crm.schemas.courses.read
      - private_apps:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.contacts.read
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.custom.sensitive.read
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - timeline
      - oauth2:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.schemas.invoices.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.services.read
      - private_apps:
        - crm.objects.deals.highly_sensitive.write
      - oauth2:
        - crm.objects.marketing_events.read
      summary: Read all properties
      tags:
      - Core
    post:
      description: Create and return a copy of a new property for the specified object
        type.
      operationId: "post-/crm/v3/properties/{objectType}_create"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyCreate'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.schemas.invoices.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.orders.write
      - oauth2:
        - crm.schemas.invoices.write
      - oauth2:
        - crm.schemas.orders.write
      - private_apps:
        - crm.schemas.orders.write
      - oauth2:
        - crm.objects.orders.write
      - private_apps:
        - tickets.sensitive
      - oauth2:
        - crm.schemas.contacts.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.schemas.appointments.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.write
      - oauth2:
        - crm.schemas.courses.write
      - private_apps:
        - crm.schemas.courses.write
      - oauth2:
        - crm.schemas.carts.write
      - private_apps:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.carts.write
      - private_apps:
        - crm.pipelines.orders.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - private_apps:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.services.write
      - oauth2:
        - crm.schemas.deals.write
      - oauth2:
        - crm.pipelines.orders.write
      - private_apps:
        - crm.schemas.services.write
      - oauth2:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.schemas.listings.write
      - private_apps:
        - crm.schemas.companies.write
      - oauth2:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.listings.write
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - private_apps:
        - crm.schemas.deals.write
      summary: Create a property
      tags:
      - Core
  /crm/v3/properties/{objectType}/groups:
    get:
      description: Read all existing property groups for the specified object type
        and HubSpot account.
      operationId: "get-/crm/v3/properties/{objectType}/groups_getAll"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePropertyGroupNoPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.orders.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.schemas.listings.read
      - private_apps:
        - crm.schemas.listings.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.sensitive.write
      - oauth2:
        - crm.schemas.carts.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - automation
      - private_apps:
        - crm.objects.contacts.sensitive.write.v2
      - private_apps:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.sensitive.read.v2
      - private_apps:
        - crm.schemas.services.read
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.invoices.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.schemas.subscriptions.read
      - private_apps:
        - crm.schemas.companies.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.write
      - private_apps:
        - crm.objects.deals.sensitive.read
      - private_apps:
        - crm.objects.appointments.sensitive.write
      - oauth2:
        - crm.objects.appointments.write
      - private_apps:
        - crm.objects.deals.sensitive.write.v2
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.companies.highly_sensitive.write
      - private_apps:
        - tickets.sensitive
      - private_apps:
        - crm.objects.feedback_submissions.read
      - oauth2:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.custom.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.appointments.sensitive.read
      - private_apps:
        - crm.objects.companies.sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.custom.highly_sensitive.read
      - oauth2:
        - crm.schemas.courses.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.objects.leads.write
      - private_apps:
        - crm.schemas.contacts.read
      - private_apps:
        - tickets.highly_sensitive.v2
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.schemas.custom.read
      - oauth2:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.marketing_events.write
      - private_apps:
        - crm.objects.goals.write
      - private_apps:
        - crm.objects.contacts.highly_sensitive.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.schemas.commercepayments.read
      - oauth2:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.schemas.custom.read
      - private_apps:
        - media_bridge.read
      - oauth2:
        - crm.schemas.commercepayments.read
      - private_apps:
        - timeline
      - private_apps:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.contacts.sensitive.read.v2
      - private_apps:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.custom.sensitive.write
      - private_apps:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.contacts.sensitive.read
      - private_apps:
        - crm.schemas.invoices.read
      - private_apps:
        - crm.objects.marketing_events.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.quotes.read
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - private_apps:
        - crm.objects.appointments.write
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.contacts.sensitive.write
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.owners.read
      - private_apps:
        - crm.objects.companies.read
      - private_apps:
        - automation
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.schemas.quotes.read
      - private_apps:
        - crm.schemas.quotes.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps:
        - crm.objects.companies.sensitive.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - private_apps:
        - crm.objects.custom.sensitive.write.v2
      - private_apps:
        - crm.schemas.carts.read
      - oauth2:
        - crm.schemas.services.read
      - private_apps:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - private_apps:
        - crm.objects.deals.highly_sensitive.read
      - oauth2:
        - crm.schemas.subscriptions.read
      - oauth2:
        - crm.schemas.companies.read
      - private_apps:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.schemas.line_items.read
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - private_apps:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.feedback_submissions.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.custom.write
      - private_apps:
        - crm.objects.deals.highly_sensitive.write.v2
      - private_apps:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - e-commerce
      - private_apps:
        - crm.objects.appointments.sensitive.write.v2
      - private_apps:
        - crm.schemas.deals.read
      - private_apps:
        - crm.schemas.orders.read
      - private_apps:
        - crm.objects.invoices.read
      - oauth2:
        - crm.schemas.deals.read
      - private_apps:
        - crm.schemas.appointments.read
      - oauth2:
        - crm.schemas.orders.read
      - private_apps:
        - crm.schemas.courses.read
      - private_apps:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.contacts.read
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - private_apps:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - private_apps:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.custom.sensitive.read
      - private_apps:
        - crm.objects.contacts.highly_sensitive.write
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - timeline
      - oauth2:
        - crm.pipelines.orders.read
      - oauth2:
        - crm.schemas.invoices.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.services.read
      - private_apps:
        - crm.objects.deals.highly_sensitive.write
      - oauth2:
        - crm.objects.marketing_events.read
      summary: Read all property groups
      tags:
      - Groups
    post:
      description: Create and return a copy of a new property group.
      operationId: "post-/crm/v3/properties/{objectType}/groups_create"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyGroupCreate'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyGroup'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps:
        - crm.schemas.invoices.write
      - private_apps:
        - tickets
      - private_apps:
        - crm.objects.orders.write
      - oauth2:
        - crm.schemas.invoices.write
      - oauth2:
        - crm.schemas.orders.write
      - private_apps:
        - crm.schemas.orders.write
      - oauth2:
        - crm.objects.orders.write
      - private_apps:
        - tickets.sensitive
      - oauth2:
        - crm.schemas.contacts.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - oauth2:
        - tickets
      - private_apps:
        - tickets.sensitive.v2
      - private_apps:
        - e-commerce
      - oauth2:
        - tickets.sensitive.v2
      - private_apps:
        - crm.schemas.appointments.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.schemas.appointments.write
      - oauth2:
        - crm.schemas.courses.write
      - private_apps:
        - crm.schemas.courses.write
      - oauth2:
        - crm.schemas.carts.write
      - private_apps:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.carts.write
      - private_apps:
        - crm.pipelines.orders.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - private_apps:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.services.write
      - oauth2:
        - crm.schemas.deals.write
      - oauth2:
        - crm.pipelines.orders.write
      - private_apps:
        - crm.schemas.services.write
      - oauth2:
        - crm.objects.users.write
      - private_apps:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps:
        - tickets.highly_sensitive
      - private_apps:
        - crm.schemas.listings.write
      - private_apps:
        - crm.schemas.companies.write
      - oauth2:
        - crm.schemas.subscriptions.write
      - oauth2:
        - crm.schemas.listings.write
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - private_apps:
        - crm.schemas.deals.write
      summary: Create a property group
      tags:
      - Groups
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    PropertyName:
      example:
        name: my_custom_property
      properties:
        name:
          description: The name of the property to read or modify.
          example: my_custom_property
          type: string
      required:
      - name
      type: object
    StandardError:
      example:
        subCategory: "{}"
        context:
          key:
          - context
          - context
        links:
          key: links
        id: id
        category: category
        message: message
        errors:
        - subCategory: subCategory
          code: code
          in: in
          context:
            missingScopes:
            - scope1
            - scope2
          message: message
        - subCategory: subCategory
          code: code
          in: in
          context:
            missingScopes:
            - scope1
            - scope2
          message: message
        status: status
      properties:
        subCategory:
          properties: {}
          type: object
        context:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
        links:
          additionalProperties:
            type: string
          type: object
        id:
          type: string
        category:
          type: string
        message:
          type: string
        errors:
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        status:
          type: string
      required:
      - category
      - context
      - errors
      - links
      - message
      - status
      type: object
    BatchResponseProperty:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        requestedAt: 2000-01-23T04:56:07.000+00:00
        startedAt: 2000-01-23T04:56:07.000+00:00
        links:
          key: links
        results:
        - name: my_contact_property
          label: My Contact Property
          type: enumeration
          fieldType: select
          groupName: contactinformation
          hidden: false
          displayOrder: 2
          hasUniqueValue: false
          formField: true
          modificationMetadata:
            readOnlyOptions: false
            readOnlyValue: false
            readOnlyDefinition: false
            archivable: true
          options:
          - label: Option A
            description: Choice number one
            value: A
            displayOrder: 1
            hidden: false
          - label: Option B
            description: Choice number two
            value: B
            displayOrder: 2
            hidden: false
        - name: my_contact_property
          label: My Contact Property
          type: enumeration
          fieldType: select
          groupName: contactinformation
          hidden: false
          displayOrder: 2
          hasUniqueValue: false
          formField: true
          modificationMetadata:
            readOnlyOptions: false
            readOnlyValue: false
            readOnlyDefinition: false
            archivable: true
          options:
          - label: Option A
            description: Choice number one
            value: A
            displayOrder: 1
            hidden: false
          - label: Option B
            description: Choice number two
            value: B
            displayOrder: 2
            hidden: false
        status: PENDING
      properties:
        completedAt:
          format: date-time
          type: string
        requestedAt:
          format: date-time
          type: string
        startedAt:
          format: date-time
          type: string
        links:
          additionalProperties:
            type: string
          type: object
        results:
          items:
            $ref: '#/components/schemas/Property'
          type: array
        status:
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
    PropertyGroup:
      description: An ID for a group of properties
      example:
        name: mypropertygroup
        label: My Property Group
        displayOrder: -1
      properties:
        archived:
          type: boolean
        name:
          description: "The internal property group name, which must be used when\
            \ referencing the property group via the API."
          example: mypropertygroup
          type: string
        displayOrder:
          description: Property groups are displayed in order starting with the lowest
            positive integer value. Values of -1 will cause the property group to
            be displayed after any positive values.
          example: -1
          format: int32
          type: integer
        label:
          description: A human-readable label that will be shown in HubSpot.
          example: My Property Group
          type: string
      required:
      - archived
      - displayOrder
      - label
      - name
      type: object
    CollectionResponsePropertyGroupNoPaging:
      example:
        results:
        - name: mypropertygroup
          label: My Property Group
          displayOrder: -1
        - name: mypropertygroup
          label: My Property Group
          displayOrder: -1
      properties:
        results:
          items:
            $ref: '#/components/schemas/PropertyGroup'
          type: array
      required:
      - results
      type: object
    PropertyCreate:
      example:
        label: My Contact Property
        type: enumeration
        fieldType: select
        groupName: contactinformation
        hidden: false
        displayOrder: 2
        hasUniqueValue: false
        formField: true
        options:
        - label: Option A
          description: Choice number one
          value: A
          displayOrder: 1
          hidden: false
        - label: Option B
          description: Choice number two
          value: B
          displayOrder: 2
          hidden: false
      properties:
        hidden:
          description: "If true, the property won't be visible and can't be used in\
            \ HubSpot."
          example: false
          type: boolean
        displayOrder:
          description: Properties are displayed in order starting with the lowest
            positive integer value. Values of -1 will cause the property to be displayed
            after any positive values.
          example: 2
          format: int32
          type: integer
        description:
          description: A description of the property that will be shown as help text
            in HubSpot.
          type: string
        label:
          description: A human-readable property label that will be shown in HubSpot.
          example: My Contact Property
          type: string
        type:
          description: The data type of the property.
          enum:
          - string
          - number
          - date
          - datetime
          - enumeration
          - bool
          example: enumeration
          type: string
        formField:
          description: Whether or not the property can be used in a HubSpot form.
          example: true
          type: boolean
        groupName:
          description: The name of the property group the property belongs to.
          example: contactinformation
          type: string
        referencedObjectType:
          description: "Should be set to 'OWNER' when 'externalOptions' is true, which\
            \ causes the property to dynamically pull option values from the current\
            \ HubSpot users."
          type: string
        name:
          description: "The internal property name, which must be used when referencing\
            \ the property via the API."
          type: string
        options:
          description: A list of valid options for the property. This field is required
            for enumerated properties.
          example:
          - label: Option A
            value: A
            hidden: false
            description: Choice number one
            displayOrder: 1
          - label: Option B
            value: B
            hidden: false
            description: Choice number two
            displayOrder: 2
          items:
            $ref: '#/components/schemas/OptionInput'
          type: array
        calculationFormula:
          description: Represents a formula that is used to compute a calculated property.
          type: string
        hasUniqueValue:
          description: "Whether or not the property's value must be unique. Once set,\
            \ this can't be changed."
          example: false
          type: boolean
        fieldType:
          description: Controls how the property appears in HubSpot.
          enum:
          - textarea
          - text
          - date
          - file
          - number
          - select
          - radio
          - checkbox
          - booleancheckbox
          - calculation_equation
          example: select
          type: string
        externalOptions:
          description: Applicable only for 'enumeration' type properties.  Should
            be set to true in conjunction with a 'referencedObjectType' of 'OWNER'.  Otherwise
            false.
          type: boolean
      required:
      - fieldType
      - groupName
      - label
      - name
      - type
      type: object
    OptionInput:
      example:
        label: Option A
        description: Choice number one
        value: A
        displayOrder: 1
        hidden: false
      properties:
        hidden:
          description: Hidden options won't be shown in HubSpot.
          example: false
          type: boolean
        displayOrder:
          description: Options are shown in order starting with the lowest positive
            integer value. Values of -1 will cause the option to be displayed after
            any positive values.
          example: 1
          format: int32
          type: integer
        description:
          description: A description of the option.
          example: Choice number one
          type: string
        label:
          description: A human-readable option label that will be shown in HubSpot.
          example: Option A
          type: string
        value:
          description: "The internal value of the option, which must be used when\
            \ setting the property value through the API."
          example: A
          type: string
      required:
      - hidden
      - label
      - value
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
            invalidPropertyName:
            - propertyValue
          type: object
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          example:
            knowledge-base: https://www.hubspot.com/products/service/knowledge-base
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: Invalid input (details will vary based on the error)
          type: string
        category:
          description: The error category
          example: VALIDATION_ERROR
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
      required:
      - category
      - correlationId
      - message
      type: object
    BatchInputPropertyCreate:
      example:
        inputs:
        - label: My Contact Property
          type: enumeration
          fieldType: select
          groupName: contactinformation
          hidden: false
          displayOrder: 2
          hasUniqueValue: false
          formField: true
          options:
          - label: Option A
            description: Choice number one
            value: A
            displayOrder: 1
            hidden: false
          - label: Option B
            description: Choice number two
            value: B
            displayOrder: 2
            hidden: false
        - label: My Contact Property
          type: enumeration
          fieldType: select
          groupName: contactinformation
          hidden: false
          displayOrder: 2
          hasUniqueValue: false
          formField: true
          options:
          - label: Option A
            description: Choice number one
            value: A
            displayOrder: 1
            hidden: false
          - label: Option B
            description: Choice number two
            value: B
            displayOrder: 2
            hidden: false
      properties:
        inputs:
          items:
            $ref: '#/components/schemas/PropertyCreate'
          type: array
      required:
      - inputs
      type: object
    CollectionResponsePropertyNoPaging:
      example:
        results:
        - name: my_contact_property
          label: My Contact Property
          type: enumeration
          fieldType: select
          groupName: contactinformation
          hidden: false
          displayOrder: 2
          hasUniqueValue: false
          formField: true
          modificationMetadata:
            readOnlyOptions: false
            readOnlyValue: false
            readOnlyDefinition: false
            archivable: true
          options:
          - label: Option A
            description: Choice number one
            value: A
            displayOrder: 1
            hidden: false
          - label: Option B
            description: Choice number two
            value: B
            displayOrder: 2
            hidden: false
        - name: my_contact_property
          label: My Contact Property
          type: enumeration
          fieldType: select
          groupName: contactinformation
          hidden: false
          displayOrder: 2
          hasUniqueValue: false
          formField: true
          modificationMetadata:
            readOnlyOptions: false
            readOnlyValue: false
            readOnlyDefinition: false
            archivable: true
          options:
          - label: Option A
            description: Choice number one
            value: A
            displayOrder: 1
            hidden: false
          - label: Option B
            description: Choice number two
            value: B
            displayOrder: 2
            hidden: false
      properties:
        results:
          items:
            $ref: '#/components/schemas/Property'
          type: array
      required:
      - results
      type: object
    ErrorDetail:
      example:
        subCategory: subCategory
        code: code
        in: in
        context:
          missingScopes:
[...]
